<div class="pages user-profile" ng-controller="FormEntryCtrl" ng-cloak="true" ng-init="formel = '#user-form'; answers = <%= @user.properties.to_json %>;">
  <%= form_for(@user, :url => company_user_path(@user, company_id: params[:company_id]), :html => {:id => 'user-form', :method => :put, :role => 'form' , :name => 'employeeForm'}) do |f| %>
    <%= render "shared/user_form" , f: f, devise_scope: false, edit_scope: true %>
  <% end %>
</div>
