<% content_for :subnav do %>
<div class="subnav">
  <ul>
    <%= render 'shared/subnav/company', active: 'employees' %>
  </ul>
</div>
<% end %>
<div class="pages employees" ng-cloak="true" ng-controller="UserIndexCtrl">
  <div class="page-title">
    <h1 class="pull-left"> <%= t('.employees') %> </h1>
    <%= link_to raw("<i class='pi pi-plus'></i> #{t('.add_employee')}"), new_company_user_path(company_id: params[:company_id]), class: 'btn btn-lg btn-primary pull-right' %>
  </div>
  <div flash-alert="success" active-class="in" class="alert fade">
    <span class="alert-message">{{flash.message}}</span>
  </div>
  <div class="employee-import">
    <div class="block block-secondary block-list" ng-show="importShow">
      <div class="block-body">
        <div class="clearfix">
          <div class="pull-left">
            <h2 class="block-title"><%= t('.import_employees') %></h2>
            <p class="text-muted mt10"><%= t('.import_list_here') %></p>
          </div>
          <span class="btn btn-lg btn-default pull-right" ng-click="downLoadTemplate()"><i class="pi pi-download"></i><%= t('.download_template') %></span>
        </div>
        <div class="upload-steps text-center mt40">
          <span class="active"><%= t('.upload') %></span><i class="pi pi-long-arrow-right"></i><span><%= t('.verify_and_confirm') %></span>
        </div>
        <div flow-init="">
          <div class="flow" flow-drop="">
          </div>
          <div class="row">
            <div class="col-xs-12">
              <form>
                <div class="col-xs-6 no-padding" ng-file-select ng-model="file">
                  <div class="input-file">
                    <span class="btn btn-sm btn-upload" ><%= t('common.upload') %></span>
                    <span>{{file[0].name.substring(0, 20)}}</span>
                  </div>
                </div>
                <div class="pull-right">
                  <a class="btn btn-sm btn-link link-gray" ng-click="cancelFile()"><%= t('common.cancel') %></a>
                  <button type="button" class="btn btn-md btn-green" ng-click="uploadFile()"><%= t('common.next') %></button>
                </div>
              </form>
            </div>
          </div>
          <h5 ng-show="!fileValid" class="error-format"><%= I18n.t('users.index.import_table.wrong_format')%></h5>

        </div>
      </div>
    </div>
    <div class="block block-secondary block-list" ng-show="!importShow">
      <div class="block-body">
        <div class="clearfix">
          <div class="pull-left">
            <h2 class="block-title"><%= t('.import_employees') %></h2>
          </div>
          <a class="btn btn-lg btn-default pull-right hide" href="javascript:;"><i class="pi pi-download"></i><%= t('.download_template') %></a>
        </div>
        <div class="upload-steps text-center mt40">
          <span><%= t('.upload') %></span><i class="pi pi-long-arrow-right"></i><span class="active"><%= t('.verify_and_confirm') %></span>
        </div>
        <form class="ng-pristine ng-valid">
          <div class="table-view mt40">
            <div class="table-responsive">
              <table class="table table-bordered table-striped no-wrap">
                <thead>
                  <tr>
                    <th><%= t('.import_table.first_name') %></th>
                    <th><%= t('.import_table.last_name') %></th>
                    <th><%= t('.import_table.personal_email') %></th>
                    <th><%= t('.import_table.start_date') %></th>
                    <th><%= t('.import_table.hr_manager') %></th>
                    <th><%= t('.import_table.manager') %></th>
                    <th><%= t('.import_table.work_email') %></th>
                    <th><%= t('.import_table.personal_phone') %></th>
                    <th><%= t('.import_table.work_phone') %></th>
                    <th><%= t('.import_table.employment_type') %></th>
                    <th><%= t('.import_table.permission') %></th>
                    <th><%= t('.import_table.job_title') %></th>
                    <th><%= t('.import_table.team_name') %></th>
                    <th><%= t('.import_table.location') %></th>
                    <th><%= t('.import_table.status') %></th>
                    <th><%= t('.import_table.dob') %></th>
                    <th><%= t('.import_table.social_tax_id') %></th>
                    <th><%= t('.import_table.gender') %></th>
                    <th><%= t('.import_table.marital_status') %></th>
                    <th><%= t('.import_table.address') %></th>
                    <th><%= t('.import_table.address_2') %></th>
                    <th><%= t('.import_table.city') %></th>
                    <th><%= t('.import_table.state') %></th>
                    <th><%= t('.import_table.post_code') %></th>
                    <th><%= t('.import_table.country') %></th>
                    <th><%= t('.import_table.emergency_contact_person') %></th>
                    <th><%= t('.import_table.emergency_contact_relationship') %></th>
                    <th><%= t('.import_table.emergency_contact_phone') %></th>
                    <th><%= t('.import_table.bank_name') %></th>
                    <th><%= t('.import_table.bank_account_type') %></th>
                    <th><%= t('.import_table.routing_number') %></th>
                    <th><%= t('.import_table.account_number') %></th>
                    <th><%= t('.import_table.compensation_amount') %></th>
                    <th><%= t('.import_table.currency') %></th>
                    <th><%= t('.import_table.compensation_period') %></th>
                    <th><%= t('.import_table.compensation_effective_date') %></th>
                    <th><%= t('.import_table.compensation_reason') %></th>
                  </tr>
                </thead>
                <tbody ng-repeat="employee in imported_employees">
                  <tr>
                    <td>{{employee.personal.first_name}}</td>
                    <td>{{employee.personal.last_name}}</td>
                    <td>{{employee.email}}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>{{employee.location}}</td>
                    <td>{{employee.status}}</td>
                    <td>{{employee.personal.dob}}</td>
                    <td></td>
                    <td>{{employee.personal.gender}}</td>
                    <td></td>
                    <td>{{employee.personal.street1}}</td>
                    <td>{{employee.personal.street2}}</td>
                    <td>{{employee.personal.city}}</td>
                    <td>{{employee.personal.state}}</td>
                    <td></td>
                    <td>{{employee.personal.country}}</td>
                    <td>{{employee.emergency.name}}</td>
                    <td>{{employee.emergency.relationship}}</td>
                    <td>{{employee.emergency.phone}}</td>
                    <td>{{employee.bank.name}}</td>
                    <td>{{employee.bank.type}}</td>
                    <td>{{employee.bank.routing}}</td>
                    <td>{{employee.bank.number}}</td>
                    <td>{{employee.compensation.amount}}</td>
                    <td>{{employee.compensation.currency}}</td>
                    <td></td>
                    <td>{{employee.compensation.since}}</td>
                    <td>{{employee.compensation.reason}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="error-format">
              <div ng-repeat=" error in invalidErrors">{{error}}</div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-left">
                <button type="button" class="btn btn-md btn-secondary" ng-click="backImport()"><%= t('common.back') %></button>
              </div>
              <div class="pull-right">
                <a class="btn btn-sm btn-link link-gray" href="javascript:void(0)" ng-click="cancelConfirm()"><%= t('common.cancel') %></a>
                <button type="button" class="btn btn-md btn-green" ng-click="saveEmployeeWithConfirm()"><%= t('common.confirm') %></button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <form>
    <div class="action-menu">
      <div class="row">
        <div class="col-xs-5">
          <div class="input-group input-icon">
            <div class="input-icon">
              <span class="input-group-addon"><i class="fa fa-filter"></i></span>
              <input type="text" class="form-control" name="" value="" placeholder="<%= t('.placeholder_filter') %>" ng-model="searchEmployee" ng-change="filterEmployee()" >
            </div>
          </div>
        </div>
        <div class="col-xs-7">
          <div class="pull-right">
            <ul>
              <li class="dropdown">
                <a class="dropdown-toggle link-gray" href="#"><%= t('.sort') %><span class="caret"></span></a>
                <div class="dropdown-menu">
                  <div class="arrow"></div>
                  <ul>
                    <li><a href="javascript:void(0)" ng-click='sortByEmployee("name")'><%= t('.by_name') %></a></li>
                    <li><a href="javascript:void(0)" ng-click='sortByEmployee("team")'><%= t('.by_team') %></a></li>
                    <li><a href="javascript:void(0)" ng-click='sortByEmployee("location")'><%= t('.by_location') %></a></li>
                  </ul>
                </div>
              </li>
              <li class="dropdown">
                <a class="btn btn-link dropdown-toggle link-gray" href="#"><%= t('.manage_selected') %> <span class="caret"></span></a>
                <div class="dropdown-menu">
                  <div class="arrow"></div>
                  <ul>
                    <li><a href="javascript:void(0)" ng-click="setTerminateModal()"><%= t('.terminate') %></a></li>
                    <li><a href="javascript:void(0)" ng-click="openSetLocationModal()"><%= t('.assign_to_location') %></a></li>
                    <li><a href="javascript:void(0)" ng-click="openSetTeamModal()"><%= t('.assign_to_team') %></a></li>
                  </ul>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="table-view">
      <input type=hidden id="company_name" value="<%= @company.id %>">
      <table class="table table-bordered table-striped" ng-table="tableParams" template-pagination="custom/pager">
        <thead>
          <tr>
            <th>
              <div class="checkbox-inline custom-checkbox">
                <label>
                  <input type="checkbox" ng-click="updateCheckStatusAll()" ng-model="command.listCheckAll" ng-checked="command.listCheckAll">
                  <span class="input-checkbox"></span>
                </label>
              </div>
            </th>
            <th width="30%"><%= t('.users_table.employee_name') %></th>
            <th width="25%"><%= t('.users_table.team') %></th>
            <th width="25%"><%= t('.users_table.location') %></th>
            <th class="text-center" width="20%"><%= t('.users_table.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <tr class="selected" ng-repeat="employee in $data.data.employees">
            <td>
              <div class="checkbox-inline custom-checkbox">
                <label>
                  <input type="checkbox" ng-model="employee.is_check" ng-click="updateCheckStatus($index)" ng-checked="employee.is_check">
                  <span class="input-checkbox"></span>
                </label>
              </div>
            </td>
            <td>
              <div class="avatar">
                <div class="avatar-img">
                  <img alt="Img avatar default" class="img-circle" src="/assets/img-avatar-default.png">
                  <div class="avatar-initials">{{employee.avatar_text}}</div>
                </div> {{employee.name}}
              </div>
            </td>
            <td>{{employee.team_name}}</td>
            <td>{{employee.location_name}}</td>
            <td class="text-center">
              <a href="javascript:;" class="btn btn-md link-gray btn-link btn-icon" data-title="View"><i class="fa fa-eye"></i></a>
              <a href="/companies/<%=params[:company_id] %>/users/{{employee.id}}/edit" class="btn btn-md link-gray btn-link btn-icon" data-title="Edit" ><i class="fa fa-pencil-square-o"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </form>
</div>

<script id="custom/pager" type="text/ng-template">
  <div class="ng-cloak ng-table-pager text-center">
    <ul class="pagination ng-table-pagination">
      <li ng-class="{&#39;disabled&#39;: !page.active}" ng-repeat="page in pages" ng-switch="page.type">
        <a href="" ng-click="params.page(page.number)" ng-switch-when="prev"> «</a><a href="" ng-click="params.page(page.number)" ng-switch-when="first"><span ng-bind="page.number"></span></a><a href="" ng-click="params.page(page.number)" ng-switch-when="page"><span ng-bind="page.number"></span></a><a href="" ng-click="params.page(page.number)" ng-switch-when="more"> …</a><a href="" ng-click="params.page(page.number)" ng-switch-when="last"><span ng-bind="page.number"></span></a><a href="" ng-click="params.page(page.number)" ng-switch-when="next"> »</a>
      </li>
    </ul>
  </div>
</script>