<div class="pages user-profile" ng-cloak="true" ng-controller="UserEditCtrl">
  <%= form_for(@user, :url => company_users_path(company_id: params[:company_id]), :html => {:method => :post, :role => 'form', :name => 'employeeForm', 'ng-submit' => 'submitEmployee($event)', :novalidate => ''}) do |f| %>
    <%= render "shared/user_form" , f: f, devise_scope: false, edit_scope: false %>
  <% end %>
</div>

<script>
var user = <%=raw @user.as_json.to_json  %>
</script>