<p id="notice"><%= notice %></p>
<% content_for :breadcrumb do %>
<div class="breadcrumb">
  <%= link_to raw('<i class="pi pi-arrow-back"></i> Back to show'), company_timeoff_policy_path(@timeoff_policy) %>
</div>
<% end %>

<div class="pages timeoff-policies" ng-cloak="true" ng-controller="PolicyDetailCtrl">
  <div class="heading">
    <h2><%= @timeoff_policy.name %></h2>
  </div>


  <div id="timeoff-policies-detail" role="tabpanel">
    <ul class="mb10 nav nav-tabs" id="timeoff-policy-tab" role="tablist">
      <li role="presentation" class="active">
        <%= link_to 'Tab 1', '#tab-1', 'aria-controls' => 'tab-1', role: 'tab', 'data-toggle' => 'tab' %>
      </li>

      <li role="presentation">
        <%= link_to 'Tab 2', '#tab-2', 'aria-controls' => 'tab-2', role: 'tab', 'data-toggle' => 'tab' %>
      </li>

      <li role="presentation">
        <%= link_to 'Tab 3', '#tab-3', 'aria-controls' => 'tab-3', role: 'tab', 'data-toggle' => 'tab' %>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="tab-1">
        <%= simple_nested_form_for(@timeoff_policy, remote: true, html: { name: "showPolicy"}) do |f| %>
          <%= hidden_field_tag :tab, 1 %>
          <%= render '/timeoff_policies/partials/tab_1', f: f, timeoff_policy: @timeoff_policy %>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-2">
        <%= simple_nested_form_for(@timeoff_policy, remote: true, html: { name: "showPolicy"}) do |f| %>
          <%= hidden_field_tag :tab, 2 %>
          <%= render 'timeoff_policies/partials/tab_2', f: f, timeoff_policy: @timeoff_policy %>
        <% end %>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-3">
        <%= simple_nested_form_for(@timeoff_policy, remote: true, html: { name: "showPolicy"}) do |f| %>
          <%= hidden_field_tag :tab, 3 %>
          <%= render 'timeoff_policies/partials/tab_3', f: f, timeoff_policy: @timeoff_policy %>
        <% end %>
      </div>
    </div>
  </div>

</div>


<script type="text/javascript">
  var timeoff_policy = <%=raw @timeoff_policy.to_json(methods: :carry_over_expiration) %>
</script>