<% content_for :subnav do %>
<div class="subnav">
  <ul>
    <%= render 'shared/subnav/company', active: 'timeoff' %>
  </ul>
</div>
<% end %>

<div class="pages timeoff-policies">
  <div class="page-title">
    <h1 class="pull-left"><%= t('.link.time_off_policies')%></h1>
    <button type="button" class="btn btn-lg btn-primary pull-right" id="show-form-policy">
      <i class="pi pi-plus"></i> <%= t('.add_new_policy')%>
    </button>
  </div>

  <div class="block block-secondary" id="form-policy-container">
    <div class="block-body">
      <%= simple_form_for(@timeoff_policy, url: company_timeoff_policies_path, method: :post, html: { id: 'new-timeoff-policy-form'}) do |f| %>
        <div class="form-group">
          <%= f.label :name, t('.name_policy') %>
          <%= f.input_field :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit t('.create_policy'), class: "btn btn-md btn-green" %>
          <%= link_to t('common.cancel'), 'javascript:void(0);', class: "btn btn-sm btn-link link-gray", id: 'hide-form-policy' %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @timeoff_policies.each do |timeoff_policy| %>
      <!-- Start Block -->
      <div class="block block-default list-block">
        <div class="block-body">
          <%= link_to company_timeoff_policy_setting_path(timeoff_policy, :accrue_rate), class: 'link-wrapper' do %>
            <span class="circle-icon icon-money"></span>
            <h4 class="block-title"><%= timeoff_policy.name %></h4>
            <span class="list-desc"><i class="pi pi-person"></i><%= t('.total_employess', total_users: timeoff_policy.users.with_company(current_company.id).length)%></span>
          <% end %>
        </div>
      </div>
      <!-- // End Block -->
      <% end %>
    </div>
  </div>
</div>

<%= call_js_init("TimeoffPolicy.initIndexPage();") %>

