<% @body_class = "devise" %>
<div class="container-fluid">
  <div class="block block-alt mb0">
    <div class="block-body">
      <h2 class="block-title">Resend confirmation instructions</h2>
      <p class="text-muted">We'll resend your confirmation instructions.</p>

      <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, role: 'form', class: 'pt10' }) do |f| %>
        <%= devise_error_messages! %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>
        <div class="clearfix">
          <%= f.submit "Resend confirmation instructions", class: 'btn btn-md btn-primary pull-left' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
