<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt signup">
    <div class="block-body">
      <h1 class="block-title">Welcome!</h1>
      <p class="h4 text-muted">We just need a few more things to complete your registration.</p>

      <%= form_for(resource, :url => user_registration_path, method: :patch, :html => { :role => 'form', class: 'mt40'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <h3 class="text-normal">Your Name</h3>
          <div class="row">
            <div class="col-sm-6">
              <label>First Name</label>
              <%=f.text_field :first_name, class: 'form-control input-lg', autofocus: true %>
            </div>

            <div class="col-sm-6">
              <label>Last Name</label>
              <%= f.text_field :last_name, class: 'form-control input-lg' %>
            </div>
          </div>
        </div>


        <div class="form-group">
          <h3 class="text-normal">Choose a password</h3>
          <p>
            Your user name is <strong><%= resource.email %></strong>.
          </p>
          <div class="row">
            <div class="col-sm-6">
              <%= f.label :password %>
              <%= f.password_field :password, class: 'form-control input-lg', id: 'password-field' %>
            </div>
            <div class="col-sm-6">
             <%= f.label :password_confirmation %>
             <%= f.password_field :password_confirmation, class: 'form-control input-lg', id: 'password-confirmation-field' %>
           </div>
         </div>
         <p class="help-block text-muted text-14 mb20">Passwords must be between 6-8 characters long and starts with a letter.</p>
         <div class="mt20"></div>
         <%= f.submit 'All Done', :class => 'btn btn-md btn-primary' %>
         <a href="javascript:;" class="btn btn-link link-gray">Back</a>
       </div>

     <% end %>
   </div>
  </div>

</div>