<% content_for :subnav do %>
  <div class="subnav">
    <ul>
     <%= render 'shared/subnav/company', active: 'locations' %>
    </ul>
  </div>
<% end %>

<div class="pages locations" ng-cloak="true" ng-controller="LocationIndexCtrl">
  <div class="heading">
    <span class="circle-icon fa fa-building"></span>
    <h2>Edit Office Locations</h2>
  </div>
  <div class="block block-secondary" id="new-location-container show">
    <div class="block-body">
      <%= simple_form_for @location, url: company_location_path(@location), method: :put do |f| %>
      <div class="form-group">
        <%= f.input :name %>
        <%= f.input :description %>
      </div>
      <div class="form-group">
        <div class="pull-left">
        <%= f.submit 'Update', class: 'btn btn-sm btn-green' %>
        <%= link_to 'Cancel', company_locations_path %>
        </div>
        <div class="pull-right">
          <%= link_to company_location_path(@location), class: "btn btn-link link-gray", method: :delete, data: { confirm: "Are you sure to delete this location?" } do %>
            <i class="fa fa-trash"></i>
            <%= t('.delete') %>
          <% end %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
