<% content_for :subnav do %>
  <div class="subnav">
    <ul>
     <%= render 'shared/subnav/company', active: 'locations' %>
    </ul>
  </div>
<% end %>

<div class="pages locations" ng-cloak="true" ng-controller="LocationIndexCtrl">
  <div class="page-title">
    <h1 class="pull-left">Office Locations</h1>
    <%= link_to 'javascript:;', class: 'btn btn-lg btn-primary pull-right', 'ng-click' => "showNewLocation()" do %>
      <i class="pi pi-plus"></i>
      ADD A NEW LOCATION
    <% end %>
  </div>

  <div class="block block-secondary" id="new-location-container">
    <div class="block-body">
      <%= simple_form_for @location, url: company_locations_path do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.submit 'Create', class: 'btn btn-sm btn-green' %>
        <%= link_to 'Cancel', 'Javascript:;', class: 'btn btn-sm btn-link link-gray', 'ng-click' => "hideNewLocation()" %>
      <% end %>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <% @locations.each do |location| %>
      <!-- Start Block -->
      <div class="block block-default list-block">
        <div class="block-body">
          <%= link_to edit_company_location_path(location), class: 'link-wrapper' do %>
            <span class="circle-icon fa fa-building"></span>

            <h3 class="block-title"><%= location.name %></h3>
            <span class="list-desc">
              <i class="pi pi-person"></i>
              <%= location.users.size %> employees at this location
            </span>
          <% end %>
        </div>
      </div>
      <!-- // End Block -->
    <% end %>

  </div>
</div>
