<% content_for :subnav do %>
  <div class="subnav">
    <ul>
     <%= render 'shared/subnav/company', active: 'locations' %>
    </ul>
  </div>
<% end %>

<div class="pages locations" ng-cloak="true" ng-controller="LocationIndexCtrl">
  <div class="page-title">
    <h1 class="pull-left">Office Locations</h1>
  </div>

  <div class="block block-alt" id="new-location-container show">
    <div class="block-body">
      <%= simple_form_for @location, url: company_locations_path do |f| %>
        <%= f.input :name %>
        <%= f.input :description %>
        <%= f.submit 'Create', class: 'btn btn-sm btn-green' %>
        <%= link_to 'Cancel', 'Javascript:;', class: 'btn btn-sm btn-link link-gray', 'ng-click' => "hideNewLocation()" %>
      <% end %>
    </div>
  </div>
</div>