<div class="block block-secondary" ng-show="hasAddNew">
  <form>
    <div class="form-group">
      <div class="col-xs-3">
        <label><%= t('.date') %></label>
        <div class="input-group">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control" bs-datepicker data-date-format="yyyy-MM-dd" ng-model="newDetailExpenseTask.start_at">
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <label><%= t('.expense_type') %></label>
        <select class="form-control selectpicker" data-container="body" ng-model="newDetailExpenseTask.details.category" ng-options="expense.value as expense.label for expense in expenseTypeList">
          <option value=""><%= t('.select')%></option>
        </select>
      </div>
      <div class="col-xs-3">
        <label><%= t('.purpose') %></label>
        <select class="form-control selectpicker" ng-model="newDetailExpenseTask.details.purpose" ng-options="purpose.value as purpose.label for purpose in purposeList">
          <option value=""><%= t('.select_one')%></option>
        </select>
      </div>
      <div class="col-xs-3">
        <label><%= t('.payment_type') %></label>
        <select class="form-control selectpicker" ng-model="newDetailExpenseTask.details.payment" ng-options="payment.value as payment.label for payment in paymentTypeList">
          <option value=""><%= t('.select')%></option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-2">
        <label class="currency"><%= t('.currency') %></label>
        <select class="form-control selectpicker" data-container="body" ng-model="newDetailExpenseTask.details.currency" ng-options="currency.value as currency.label for currency in currencyList">
          <option value=""><%= t('.select')%></option>
        </select>
      </div>
      <div class="col-xs-2">
        <label><%= t('.rate') %></label>
        <input type="text" class="form-control" ng-model="newDetailExpenseTask.details.rate">
      </div>
      <div class="col-xs-2">
        <label><%= t('.amount') %></label>
        <input type="text" class="form-control" ng-model="newDetailExpenseTask.details.amount">
      </div>
      <div class="col-xs-6">
        <label><%= t('.attachment') %></label>
        <div class="input-file" ng-file-select ng-multiple="true" ng-file-change="onFileSelect($files)">
          <span>{{fileUploadName}}</span>
          <span class="btn btn-sm btn-upload">
             <%= t('.upload') %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <label><%= t('.memo') %></label>
        <textarea rows="2" class="form-control" ng-model="newDetailExpenseTask.details.memo"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-left">
          <button type="submit" class="btn btn-sm btn-primary" ng-click="submitNewDetailTask(newDetailExpenseTask)"><%= t('common.save') %></button>
          <a href="javascript:;" class="btn link-gray btn-link link-cancel" ng-click="cancelCreate()"><%= t('common.cancel') %></a>
        </div>
      </div>
    </div>
  </form>
</div>
