<tr class="form-row-edit" ng-show="hasEditing">
  <td colspan="5">
    <div class="block block-secondary">
      <form>
        <div class="form-group">
          <div class="col-xs-3">
            <label><%= t('.date') %></label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" bs-datepicker data-date-format="yyyy-MM-dd" ng-model="editingTask.start_at">
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <label><%= t('.expense_type') %></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.category" ng-options="expense.value as expense.label for expense in expenseTypeList">
              <option value=""><%= t('.select')%></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><%= t('.purpose') %></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.purpose" ng-options="purpose.value as purpose.label for purpose in purposeList">
              <option value=""><%= t('.select_one')%></option>
            </select>
          </div>
          <div class="col-xs-3">
            <label><%= t('.payment_type') %></label>
            <select class="form-control selectpicker" ng-model="editingTask.details.payment" ng-options="payment.value as payment.label for payment in paymentTypeList">
              <option value=""><%= t('.select')%></option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">
            <label class="currency"><%= t('.currency') %></label>
            <select class="form-control selectpicker" data-container="body" ng-model="editingTask.details.currency" ng-options="currency.value as currency.label for currency in currencyList">
              <option value=""><%= t('.select')%></option>
            </select>
          </div>
          <div class="col-xs-2">
            <label><%= t('.rate') %></label>
            <input type="text" class="form-control" ng-model="editingTask.details.rate">
          </div>
          <div class="col-xs-2">
            <label><%= t('.amount') %></label>
            <input type="text" class="form-control" ng-model="editingTask.details.amount">
          </div>
          <div class="col-xs-6">
            <label><%= t('.attachment') %></label>
            <div class="input-file" ng-file-select ng-multiple="true" ng-file-change="onFileSelect($files)">
              <span class="custom-file-name">{{fileUploadName}}</span>
              <span class="btn btn-sm btn-upload">
                <%= t('.upload') %>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label><%= t('.memo') %></label>
            <textarea rows="2" class="form-control" ng-model="editingTask.details.memo"></textarea>
          </div>
        </div>
        <div class="form-group mb0">
          <div class="col-xs-12">
            <div class="pull-left">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="updateEditingTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'"><%= t('common.save') %></button>
                <button class="btn btn-sm btn-green" ng-show="editingTask.workflow_state == 'pending'" ng-click="paidExpenseDetail(editingTask.id)">
                  <%= t('.paid') %>
                </button>
              <a href="javascript:;" class="btn link-gray btn-link link-cancel" ng-click="cancelEditing()"><%= t('common.cancel') %></a>
            </div>
            <div class="pull-right">
                <a class="btn btn-link link-gray btn-delete-entry" href="javascript:;" ng-click="deleteDetailTask(editingTask.id)" ng-hide="editingTask.workflow_state == 'paid'"><i class="pi pi-trash-o text-danger"></i><%= t('.delete_entry') %></a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </td>
</tr>