<div class="expense-detail">
  <div class="fade" active-class="in alert" flash-alert="success">
    <span class="alert-message">
      {{flash.message}}
    </span>
  </div>
  <div class="action-menu">
    <div class="pull-left">
      <form class="form-inline">
        <!-- TODO: filter by -->
        <div class="form-group mb0"><label><%= t('.filter_by') %></label> <select class="form-control" ng-model="sortBy" ng-options="filter.value as filter.label for filter in filterExpenseList" ng-change="sortTask()">
        </select></div>
      </form>
    </div>
    <div class="btn-group pull-right"><button class="btn btn-default active pi pi-table" type="button"></button> <button class="btn btn-default pi pi-spinner" type="button"></button></div>
  </div>
  <div class="table-view no-border">
    <table id="expense-detail-table" class="table table-bordered" ng-table="tableTaskParams" template-pagination="custom/pager">
      <thead>
        <tr>
          <th><%= t('.status') %></th>
          <th><%= t('.date') %></th>
          <th><%= t('.category') %></th>
          <th><%= t('.description') %></th>
          <th class="text-right"><%= t('.amount') %></th>
        </tr>
      </thead>
      <tbody>
        <!-- ***********************************************************************

        NOTE: Inject _form_row_edit partial on edit, remove when done editing.
        Do this for all row edits.

        ************************************************************************ -->
        <!-- // End _form_row_edit partial -->
        <tr ng-click="editTask(ct)" class="edit-task">
          <!-- todo: status' corresponding icons -->
          <td><i class="pi pi-check-circle-o"></i></td>
          <td>1/12/2015</td>
          <td><span>Category Name</span></td>
          <td>Memo</td>
          <td class="amount"><span>$100.00</span><br>
            <span class="text-muted">$100.00@1.0000</span><a class="td-edit" href="javascript:;"></a>
          </td>
        </tr>
        <%= render '/visitors/form_row_edit' %>
        <tr ng-click="editTask(ct)" class="edit-task">
          <!-- todo: status' corresponding icons -->
          <td><i class="pi pi-check-circle-o"></i></td>
          <td>1/12/2015</td>
          <td><span>Category Name</span></td>
          <td>Memo</td>
          <td class="amount"><span>$100.00</span><br>
            <span class="text-muted">$100.00@1.0000</span><a class="td-edit" href="javascript:;"></a>
          </td>
        </tr>
        <%= render '/visitors/form_row_edit' %>
        <tr ng-click="editTask(ct)" class="edit-task">
          <!-- todo: status' corresponding icons -->
          <td><i class="pi pi-check-circle-o"></i></td>
          <td>1/12/2015</td>
          <td><span>Category Name</span></td>
          <td>Memo</td>
          <td class="amount"><span>$100.00</span><br>
            <span class="text-muted">$100.00@1.0000</span><a class="td-edit" href="javascript:;"></a>
          </td>
        </tr>
        <%= render '/visitors/form_row_edit' %>
      </tbody>
    </table>
  </div>
  <div class="dropdown"><%= link_to raw("<i class='pi pi-plus'></i> #{t('.add_new_entry')} <i class='pi pi-arrow-drop-down'></i>"), 'javascript:void(0)', class: "dropdown-toggle" %>
    <div class="dropdown-menu">
      <div class="arrow"></div>
      <ul>
        <li ng-click="newEntryManual()"><%= link_to t('.manual_entry'), 'javascript:void(0)' %></li>
        <li ng-click="newEntryImport()"><%= link_to t('.import'), 'javascript:void(0)' %></li>
      </ul>
    </div>
  </div>
</div>
<br>
<%= render 'create_expense_detail' %>