<div class="travel-detail">
  <div class="fade" active-class="in alert" flash-alert="success">
    <span class="alert-message">
      {{flash.message}}
    </span>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <h2><%= t('.itinerary') %></h2>
    </div>
  </div>
  <div class="block block-secondary mt20">
    <div class="block-body">
      <form>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-3">
              <label><%= t('.from') %></label>
              <input type="text" class="form-control" ng-model="newChildTaskTravel.details.from">
            </div>
            <div class="col-xs-3">
              <label><%= t('.date') %></label>
              <div class="input-group">
                <div class="input-icon">
                  <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                  <input type="text" class="form-control" ng-model="newChildTaskTravel.start_at" bs-datepicker data-date-format="MM/dd/yyyy">
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <label><%= t('.time') %></label>
              <select class="form-control selectpicker" ng-model="newChildTaskTravel.details.prefer_time_from" ng-options="time.value as time.label for time in timeType">
                <option value=""><%= t('.select')%></option>
              </select>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-3">
              <label><%= t('.to') %></label>
              <input type="text" class="form-control" ng-model="newChildTaskTravel.details.to">
            </div>
            <div class="col-xs-3">
              <label><%= t('.date') %></label>
              <div class="input-group">
                <div class="input-icon">
                  <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                  <input type="text" class="form-control" ng-model="newChildTaskTravel.end_at" bs-datepicker data-date-format="MM/dd/yyyy">
                </div>
              </div>
            </div>
            <div class="col-xs-3">
              <label><%= t('.time') %></label><br>
              <select class="form-control selectpicker" data-width="148" ng-model="newChildTaskTravel.details.prefer_time_to" ng-options="time.value as time.label for time in timeType">
                <option value=""><%= t('.select')%></option>
              </select>
            </div>
            <div class="col-xs-3 custom-checkbox">
              <label>
                <input type="checkbox" ng-model="newChildTaskTravel.details.round_trip">
                <span class="input-checkbox"></span>
                <%= t('.round_trip') %>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-3">
              <label><%= t('.transportation') %></label>
              <select class="form-control selectpicker" ng-model="newChildTaskTravel.details.transportation" ng-options="transportation.value as transportation.label for transportation in transportationType">
              </select>
            </div>
            <div class="col-xs-3">
              <label><%= t('.class') %></label><br>
              <select class="form-control selectpicker" data-width="148" ng-model="newChildTaskTravel.details.booking_class" ng-options="booking.value as booking.label for booking in bookingClass">
                <option value=""><%= t('.select')%></option>
              </select>
            </div>
            <div class="col-xs-6 custom-checkbox">
              <label>
                <input type="checkbox" ng-model="newChildTaskTravel.details.car_rental">
                <span class="input-checkbox"></span>
                <i class="pi pi-car"></i><%= t('.car_rental') %>
              </label>
              <label class="ml10">
                <input type="checkbox" ng-model="newChildTaskTravel.details.hotel">
                <span class="input-checkbox"></span>
                <i class="pi pi-hotel"></i><%= t('.hotel_rental') %>
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-xs-12">
              <label><%= t('.memo') %></label>
              <textarea rows="4" class="form-control" ng-model="newChildTaskTravel.details.memo"></textarea>
            </div>
          </div>
        </div>
        <div class="form-group mb0">
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-left">
                <button type="submit" class="btn btn-sm btn-primary" ng-click="submitEditChildTaskTravel(editingTravelTask)" ng-hide="editingTravelTask.workflow_state == 'booked'"><%= t('.save') %></button>
                <%= link_to t('.booked'), 'javascript:;', class: "btn btn-sm btn-green" , "ng-click" => "bookTravelDetail(editingTravelTask.id)", "ng-show" => "editingTravelTask.workflow_state == 'pending'"%>
                <%= link_to t('.cancel'), 'javascript:;', class: "btn link-gray btn-link" , 'ng-click' => 'cancelEditingTravel()'%>
              </div>
              <div class="pull-right">
                <%= link_to raw("<i class='pi pi-trash-o text-danger'></i> #{t('common.delete')}"), 'javascript:;', class: "btn btn-link link-gray", "ng-click" => "deleteTravelDetailTask(editingTravelTask.id)", "ng-hide" => "editingTravelTask.workflow_state == 'booked'"%>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="list-group">
    <!-- ng-repeat="task in $data.data.child_tasks -->
    <!-- Start block -->
    <div class="block block-default list-block" ng-click="showEditChildTaskTravelDetail(task)">
      <div class="block-body">
        <div class="task-detail-small">
          <span class="circle-icon icon-flight icon-black"></span>
          <span class="circle-icon icon-train icon-black"></span>
          <h4 class="block-title">
            From
            <i class="pi pi-long-arrow-right"></i>
            To
            <span class="label label-booked">BOOKED</span>
          </h4>
          <span class="list-desc">From Date to To Date</span>
          <div class="attributes">
            <span class="dot-separator"><%= t('.economy_class') %></span>
            <span class="dot-separator"><%= t('.business_class') %></span>
            <span class="mr10"><%= t('.one_way') %></span>
            <div class="icons">
              <!--  
                Try using time.value to set 'morning' or 'night'. show if round trip
                E.g - pi-{{time.value}}
              -->
              <span>
                <i class="pi pi-night"></i><span class="slash">/</span><i class="pi pi-morning"></i>
              </span>
              <i class="pi pi-night"></i>
              <i class="pi pi-morning"></i>
              <i class="pi pi-car"></i>
              <i class="pi pi-hotel"></i>
            </div>
          </div>
          <span class="edit-label pull-right">Edit</span>
        </div>
      </div>
    </div>
    <!-- End block -->
    <!-- Start block -->
    <div class="block block-default list-block" ng-click="showEditChildTaskTravelDetail(task)">
      <div class="block-body">
        <div class="task-detail-small">
          <span class="circle-icon icon-flight icon-black"></span>
          <span class="circle-icon icon-train icon-black"></span>
          <h4 class="block-title">
            From
            <i class="pi pi-long-arrow-right"></i>
            To
            <span class="label label-booked">BOOKED</span>
          </h4>
          <span class="list-desc">From Date to To Date</span>
          <div class="attributes">
            <span class="dot-separator"><%= t('.economy_class') %></span>
            <span class="dot-separator"><%= t('.business_class') %></span>
            <span class="mr10"><%= t('.one_way') %></span>
            <div class="icons">
              <!--  
                Try using time.value to set 'morning' or 'night'. show if round trip
                E.g - pi-{{time.value}}
              -->
              <span>
                <i class="pi pi-night"></i><span class="slash">/</span><i class="pi pi-morning"></i>
              </span>
              <i class="pi pi-night"></i>
              <i class="pi pi-morning"></i>
              <i class="pi pi-car"></i>
              <i class="pi pi-hotel"></i>
            </div>
          </div>
          <span class="edit-label pull-right">Edit</span>
        </div>
      </div>
    </div>
    <!-- End block -->
    <!-- End ng-repeat -->
  </div>
  <div class="mt10">
    <a href="javascript:void(0)"><i class="pi pi-plus"></i> Add a Destination</a>
  </div>
</div>