<% content_for :javascript do %>
<!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js//1.0.1-beta.4/Chart.min.js"></script> -->
<script type="text/javascript">
$(document).on('ready resize page:load', function(){
  var options = {
      //Boolean - Whether we should show a stroke on each segment
      segmentShowStroke : false,

      //String - The colour of each segment stroke
      segmentStrokeColor : "#fff",

      //Number - The width of each segment stroke
      segmentStrokeWidth : 2,

      //Number - The percentage of the chart that we cut out of the middle
      percentageInnerCutout : 60, // This is 0 for Pie charts

      //Number - Amount of animation steps
      animationSteps : 100,

      //String - Animation easing effect
      animationEasing : "easeInOutExpo",

      //Boolean - Whether we animate the rotation of the Doughnut
      animateRotate : true,

      //Boolean - Whether we animate scaling the Doughnut from the centre
      animateScale : false,

    };
    var vacationData = [
    {
      value: 10,
      color:"#617994",
      highlight: "#6b85a2",
      label: "Remaining Days"
    },
    {
      value: 2,
      color: "#e2e9f3",
      highlight: "#e2e9f3",
      label: "Days Used"
    }
    ]
    var sickleaveData = [
    {
      value: 5,
      color:"#617994",
      highlight: "#6b85a2",
      label: "Remaining Days"
    },
    {
      value: 0,
      color: "#e2e9f3",
      highlight: "#e2e9f3",
      label: "Days Used"
    }
    ]
    var vacation = document.getElementById("vacation").getContext("2d");
    var myDoughnutChart = new Chart(vacation).Doughnut(vacationData,options);

    var sickleave = document.getElementById("sickleave").getContext("2d");
    var myDoughnutChart = new Chart(sickleave).Doughnut(sickleaveData,options);
  });
</script>
<% end %>


<!-- Request for Time Off -->
<div class="block block-secondary">
  <div class="block-body">
    <!-- TODO: Display current task type here -->
    <h2 class="block-title"><%= t('.time_off_request') %></h2>
    <!-- // End TODO -->
    <div class="block block-alt mt20 mb0">
      <div class="block-body text-muted">
        You are requesting a <strong>Vacation</strong> from <strong>20th February, 2015 to 23rd February, 2015</strong>. A total of <strong>2 days</strong> will be deducted from your remaining vacation days. You have <strong>8 vacation days</strong> remaining,
      </div>
    </div>
  </div>
  <form name="newTaskForm" class="" novalidate>
    <div class="form-group">
      <div class="col-xs-4">
        <label><%= t('.type')%></label>
        <select class="form-control" ng-model="task.name" name="task[title]" ng-options="sub_type for sub_type in sub_types">
        </select>
      </div>
      <div class="col-xs-4">
        <label><%= t('.from')%></label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" size="10" name="start_at" class="form-control" ng-model="task.start_at" data-autoclose="1" placeholder="Date" bs-datepicker data-date-format="yyyy-MM-dd" required>
          </div>
          <div class="form-group">
            <input type="text" size="10" name="start_at" class="form-control" ng-model="task.start_at" data-autoclose="1" placeholder="Time" bs-timepicker required>
          </div>
        </div>
        <p ng-show="newTaskForm['start_at'].$invalid && newTaskForm['start_at'].$dirty" class="errors"><%= I18n.t('tasks.validation.require_start_at') %></p>
      </div>
      <div class="col-xs-4">
        <label><%= t('.to')%></label>
        <div class="form-inline">
          <div class="form-group">
            <input type="text" size="10" name="end_at" class="form-control" ng-model="task.end_at" data-autoclose="1" placeholder="Date" bs-datepicker data-date-format="yyyy-MM-dd" required>
          </div>
          <div class="form-group">
            <input type="text" size="10" name="end_at" class="form-control" ng-model="task.end_at" data-autoclose="1" placeholder="Time" bs-timepicker required>
          </div>
        </div>
        <p ng-show="newTaskForm['end_at'].$invalid && newTaskForm['end_at'].$dirty" class="errors"><%= I18n.t('tasks.validation.require_end_at') %></p>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label><%= t('.who_approving')%></label>
        <input type="hidden" class="select-assignee" name="assignee"  id="select-assignee-timeoff" data-assignee="" />
      </div>
      <div class="col-xs-6">
        <label><%= t('.who_request')%></label>
        <input type="hidden" class="select-request" name="user" id="select-request-timeoff" data-request="" />
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label><%= t('.memo')%></label>
        <textarea rows="2" class="form-control" ng-model="task.details['memo']"></textarea>
      </div>
      <div class="col-xs-6">
        <label><%= t('.attachment')%></label>
        <div class="input-file" ng-file-select ng-multiple="true" ng-file-change="onFileSelect($files)">
          <span class="custom-file-name">{{fileUploadName}}</span>
          <span class="btn btn-sm btn-upload">
            <%= t('.upload') %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-left">
          <button type="button" class="btn btn-sm btn-primary" ng-click="submitNewTask(newTaskForm.$valid)"><%= t('.create_request')%></button>
          <a class="btn btn-link link-gray" ng-click="cancelNewTask()"><%= t('.cancel')%></a>
        </div>
      </div>
    </div>
  </form>
</div>
<!-- End Request for Time Off -->
<div class="timeoff-detail">
  <div class="row">
    <div class="col-xs-6">
      <div class="chart-container">
        <h3 class="mb0">Vacation</h3>
        <p class="text-14 mb20">12 days total</p>
        <canvas id="vacation" class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas>
        <div class="available-days">
          <strong>10d</strong>
          <p class="text-14 text-muted">AVAILABLE</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="chart-container">
        <h3 class="mb0">Sick Leave</h3>
        <p class="text-14 mb20">5 days total</p>
        <canvas id="sickleave" class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas>
        <div class="available-days">
          <strong>5d</strong>
          <p class="text-14 text-muted">AVAILABLE</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>