<% @body_class = "landing-main" %>
<section id="hero" class="landing-hero text-center">
  <div class="hero-tagline">
    <div class="container-fluid">
      <h1 class="main-tagline">Smart human resources solutions for creative entrepreneurs</h1>
      <h2 class="sub-tagline">PandoHR is a tool for managers of all kind!</h2>
      <button type="button" class="btn btn-md btn-primary center-block visible-xs mt20" data-toggle="modal" data-target="#signup-modal">Try PandoHR for Free</button>
    </div>
    <%= simple_form_for(@company, url: companies_registrations_path, method: :post, :html => { :role => 'form', class: 'form-inline mt40'}) do |f| %>
      <div class="form-group">
        <%= f.input_field :name, class: 'form-control input-lg' %>
        <%= f.input_field :email, class: 'form-control input-lg' %>
      </div>

      <%= f.submit 'Sign Up', class: 'btn btn-primary btn-lg' %>
    <% end %>
    <a href="#take-the-tour" class="learn-more scrollto"><i class="fa fa-chevron-circle-down"></i></a>
  </div>
</section>
<section id="take-the-tour" class="text-center lightblue-bg">
  <div class="container-fluid">
    <h3 class="section-title">With PandoHR, you set the tone and perspective of your HR policies!</h3>
    <p class="text-primary">PandoHR is a service that will allow you and your employees to avoid the chaos of organizing and tracking the <strong>vacation time, personal days and business travels &amp; expenses</strong> of your working staff. It provides useful human resources insights and all the logistic input you need to keep your employees happy and motivated. </p>
    <%= link_to raw('TAKE THE TOUR <i class="fa fa-arrow-circle-o-right"></i>'), visitors_tour_path, class: "btn btn-xl btn-primary mt20 mb20" %>
    <img
    src="<%= image_path 'gfx-take-tour-half-screen.png' %>"
    srcset="<%= image_path 'gfx-take-tour-half-screen@2x.png' %> 2x,
    <%= image_path 'gfx-take-tour-half-screen.png' %> 1x"
    alt="Take the Tour" class="img-responsive center-block" />
  </div>
</section>
<section class="signup-footer text-center">
  <div class="container-fluid">
    <h3 class="section-title text-primary">Sign up now to get access to PandoHR!</h3>
    <%= simple_form_for(@company, url: companies_registrations_path, method: :post, :html => { :role => 'form', class: 'form-inline mt40'}) do |f| %>
      <div class="form-group">
        <%= f.input_field :name, class: 'form-control input-lg' %>
        <%= f.input_field :email, class: 'form-control input-lg' %>
      </div>

      <%= f.submit 'Sign Up', class: 'btn btn-primary btn-lg' %>
    <% end %>
  </div>
</section>
<section id="contact" class="green-bg">
  <div class="container-fluid">
    <div class="row cell-align align-middle">
      <div class="col-sm-6">
        <h3><i class="fa fa-envelope-o"></i> Get in Touch</h3>
        <address class="c-details">
          <a href="//www.google.com/maps/@1.2960449,103.789474,17z" target="_blank">
            <i class="fa fa-map-marker"></i>
            <span>954 Dunearn Road, #08-12,
              <br>Singapore 589483</span>
          </a>
          <br>
          <a href="mailto:hello@triosky.com">
            <i class="fa fa-envelope-o"></i>
            <span>hello@triosky.com</span>
          </a>
          <br>
          <a href="tel:+6585330586">
            <i class="fa fa-phone"></i>
            <span>+65 8533 0586</span>
          </a>
        </address>
      </div>
      <div class="col-sm-6">
        <iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="//triosky.freshdesk.com/widgets/feedback_widget/new?&amp;widgetType=embedded&amp;screenshot=no&amp;searchArea=no&amp;formTitle= " scrolling="no" height="400px" width="100%" frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
</section>
