<% @body_class = "pricing" %>
<% content_for :body_javascript do %>
<script type="text/javascript">
$(document).ready(function(){
  var maxValue = $("#priceSlider").data("")
  $("#priceSlider").slider({
    tooltip: 'hide'
  });
  $("#priceSlider").on("slide", function(e) {
    $("#priceSliderVal").text(e.value);
    $(".price .value").text((e.value-5) * 5)
    if(e.value >= $(this).data("slider-max")){
      $("#bulk").fadeIn();
    }
  });
});
</script>
<% end %>
<section id="hero" class="pricing-hero text-center">
  <div class="hero-tagline">
    <div class="container-fluid">
      <h1 class="main-tagline text-lg">Low Cost, High Productivity</h1>
      <h2 class="sub-tagline">PandoHR is free to try and always free for teams up to 5 people.
Take your team to the next level with PandoHR.</h2>
      <button type="button" class="btn btn-md btn-primary btn-block visible-xs mt20" data-toggle="modal" data-target="#signup-modal">Sign Up for Free</button>
    </div>
  </div>
</section>
<section class="pricing-options text-center">
  <div class="container-fluid">
    <div class="row center-row mb40">
      <div class="col-sm-4">
       <div class="block block-alt">
        <div class="block-body text-center slider-block">
          <div class="price"><span>$</span><span class="value">0</span></div>
          <span class="text-muted">per month</span>
          <div class="h4 mt20 mb20 text-muted">up to <strong><span id="priceSliderVal">5</span> employees</strong></div>
          <input id="priceSlider" data-slider-id='price' type="text" data-slider-min="0" data-slider-max="100" data-slider-step="5" data-slider-value="5"/>
          <% if user_signed_in? %>
            <%= link_to 'Purchase Now', billings_company_companies_path, class: "btn btn-lg btn-block btn-primary mt20" %>
          <% else %>
            <%= link_to 'Sign Up Now', new_user_registration_path, class: "btn btn-lg btn-block btn-primary mt20" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <div id="bulk" class="row center-row">
    <div class="col-sm-10">
      <div class="block block-alt mb40">
        <div class="block-body text-center">
          <h3>Do you need support for more than 100 employees?</h3>
          <p>Contact us for more information on bulk pricing.</p>
          <%= link_to 'Contact Us', 'mailto:info@pandohr.com?Subject=Bulk Pricing', class: "btn btn-lg btn-primary" %>
        </div>
      </div>
    </div>
  </div>
  <h3 class="text-inverse">Smart human resources solutions for creative entrepreneurs
</h3>
  <h4 class="text-normal text-inverse">PandoHR is a tool for managers of all kind!</h4>
  <% if !user_signed_in? %>
  <form class="form-inline mt40">
    <div class="form-group">
      <input type="email" name="" placeholder="Email Address" class="form-control input-lg">
      <input type="text" name="" placeholder="Company Name" class="form-control input-lg">
      <input type="submit" name="" class="btn btn-lg btn-primary" value="Sign Up">
    </div>
  </form>
  <% end %>
</div>
</section>
<section class="text-center hide">
  <div class="container-fluid">
    <h3 class="section-title mb40"><strong>Frequently Asked Questions</strong></h3>
    <div class="row text-left">
      <div class="col-sm-6">
        <strong>Question</strong>
        <p>Vestibulum vitae est a ex finibus ullamcorper. Nunc convallis iaculis malesuada.</p>
      </div>
      <div class="col-sm-6">
        <strong>Question</strong>
        <p>Vestibulum vitae est a ex finibus ullamcorper. Nunc convallis iaculis malesuada.</p>
      </div>
      <div class="col-sm-6">
        <strong>Question</strong>
        <p>Vestibulum vitae est a ex finibus ullamcorper. Nunc convallis iaculis malesuada.</p>
      </div>
      <div class="col-sm-6">
        <strong>Question</strong>
        <p>Vestibulum vitae est a ex finibus ullamcorper. Nunc convallis iaculis malesuada.</p>
      </div>
      <div class="col-sm-6">
        <strong>Question</strong>
        <p>Vestibulum vitae est a ex finibus ullamcorper. Nunc convallis iaculis malesuada.</p>
      </div>
      <div class="col-sm-6">
        <strong>Question</strong>
        <p>Vestibulum vitae est a ex finibus ullamcorper. Nunc convallis iaculis malesuada.</p>
      </div>
    </div>
  </div>
</section>
