<% content_for :subnav do %>
<div class="subnav">
  <ul>
    <li class="active"><%= link_to 'ALL TASKS', 'javascript:;' %></li>
    <li><%= link_to 'YOUR TASKS', 'javascript:;' %></li>
  </ul>
</div>
<% end %>

<div class="pages tasks" ng-cloak="true" ng-controller="TaskIndexCtrl">
  <div flash-alert="success" active-class="in alert" class="fade">
    <span class="alert-message">{{flash.message}}</span>
  </div>
  <div class="page-title">
    <h1 class="pull-left"><%= t('.manage_tasks') %></h1>
    <div class="dropdown pull-right">
      <a class="btn btn-lg btn-primary dropdown-toggle"><i class="pi pi-plus"></i><%= t('.create_new') %><i class="pi pi-arrow-drop-down"></i></a>
      <div class="dropdown-menu">
        <div class="arrow"></div>
        <ul>
          <li><a href="javascript:;" ng-click="newTimeoffTask()"><%= t('.time_off_request') %></a></li>
          <li><a href="javascript:;" ng-click="newTravelTask()"><%= t('.travel_request') %></a></li>
          <li><a href="javascript:;" ng-click="newExpenseTask()"><%= t('.expense_reimbursement') %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="action-menu">
    <ul class="pull-left">
      <li ng-class="activeAll" ng-click="getListTask('All')"><%= link_to raw("#{t('.all')} <span class='badge badge-default'>0</span>"), 'javascript:void(0)' %></li>
      <li ng-class="activeTimeoff" ng-click="getListTask('TimeoffTask')"><%= link_to raw("#{t('.time_off')} <span class='badge badge-default'>0</span>"), 'javascript:void(0)' %></li>
      <li ng-class="activeTravel" ng-click="getListTask('TravelTask')"><%= link_to raw("#{t('.travel')} <span class='badge badge-default'>0</span>"), 'javascript:void(0)' %></li>
      <li ng-class="activeExpense" ng-click="getListTask('ExpenseTask')"><%= link_to raw("#{t('.expenses')} <span class='badge badge-default'>0</span>"), 'javascript:void(0)' %></li>
    </ul>
    <ul class="pull-right">
      <li class="dropdown">
        <%= link_to raw("#{t('.sort')} <i class='pi pi-arrow-drop-down'></i>"), '#', class: 'dropdown-toggle' %>
        <div class="dropdown-menu">
          <div class="arrow"></div>
          <ul>
            <li ng-click="sortTask('author')"><%= link_to t('.by_author'), 'javascript:void(0)' %></li>
            <li ng-click="sortTask('assignee')"><%= link_to t('.by_assignee'), 'javascript:void(0)' %></li>
            <li ng-click="sortTask('date')"><%= link_to t('.by_date'), 'javascript:void(0)' %></li>
            <li ng-click="sortTask('status')"><%= link_to t('.by_status'), 'javascript:void(0)' %></li>
            <li ng-click="sortTask('title')"><%= link_to t('.by_title'), 'javascript:void(0)' %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12" id="list-task">
      <!-- Start Block -->
      <div class="block block-default list-block">
        <div class="block-body">
          <a href="{{ task.url.replace('.json', '') }}" class="link-wrapper">
            <span class="circle-icon icon-money"></span>
            <h4 class="block-title">Test
              <span class="label label-pending">Pending</span>
            </h4>
            <span class="list-desc">
              Start Date
              to
              End Date
            </span>
            <div class="attributes">
              <span am-time-ago="task.created_at"><i class="pi pi-clock"></i>{{ task.created_at | amTimeAgo }}</span>
              <span><i class="pi pi-person"></i> <%= t('.submitted_by')%> {{task.author.name }}.</span>
              <span><i class="pi pi-person"></i> <%= t('.assigned_to')%> {{ task.assignee.name }}.</span>
              <span><i class="pi pi-person"></i> <%= t('.request_for')%> {{ task.user.name }}.</span>
            </div>
          </a>

          <div class="block block-alt mt10 last-conversation" ng-repeat="a in task.activities" ng-show="a.owner_type">
            {{ a.owner.name }}
            <div class="block-body clearfix">
              <div class="avatar">
                <div class="avatar-img">
                  <div class="avatar-initials">
                    <i class="fa fa-user fa-2x default-icon"></i>
                  </div>
                </div>
              </div>
              <h4 class="pull-left">
                {{ a.name }}
              </h4>
              <span class="pull-right text-12 text-muted-light">{{ a.created_at | amTimeAgo }}</span>
              <p class="msg text-14 text-primary" ng-if="a.key == 'task.approved' || a.key == 'task.cancelled'">
                {{a.key != 'tasks.approved' ? translate('tasks.approved_this_task') : translate('tasks.cancelled_this_task')}}
              </p>
              <p class="msg text-14 text-primary" ng-if="a.key == 'task.newcomment'">
                {{ a.parameters.data }}
              </p>
              <p class="msg text-14 text-primary" ng-if="a.key == 'task.attachment.add'" ng-bind-html="translate('tasks.attachment_uploaded', {url: a.parameters.data, file_name: a.parameters.name}) | to_trusted">
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- // End Block -->
      <!-- Start Block -->
      <div class="block block-default list-block">
        <div class="block-body">
          <a href="{{ task.url.replace('.json', '') }}" class="link-wrapper">
            <span class="circle-icon icon-money"></span>
            <h4 class="block-title">Test
              <span class="label label-pending">Pending</span>
            </h4>
            <span class="list-desc">
              Start Date
              to
              End Date
            </span>
            <div class="attributes">
              <span am-time-ago="task.created_at"><i class="pi pi-clock"></i>{{ task.created_at | amTimeAgo }}</span>
              <span><i class="pi pi-person"></i> <%= t('.submitted_by')%> {{task.author.name }}.</span>
              <span><i class="pi pi-person"></i> <%= t('.assigned_to')%> {{ task.assignee.name }}.</span>
              <span><i class="pi pi-person"></i> <%= t('.request_for')%> {{ task.user.name }}.</span>
            </div>
          </a>

          <div class="block block-alt mt10 last-conversation" ng-repeat="a in task.activities" ng-show="a.owner_type">
            {{ a.owner.name }}
            <div class="block-body clearfix">
              <div class="avatar">
                <div class="avatar-img">
                  <div class="avatar-initials">
                    <i class="fa fa-user fa-2x default-icon"></i>
                  </div>
                </div>
              </div>
              <h4 class="pull-left">
                {{ a.name }}
              </h4>
              <span class="pull-right text-12 text-muted-light">{{ a.created_at | amTimeAgo }}</span>
              <p class="msg text-14 text-primary" ng-if="a.key == 'task.approved' || a.key == 'task.cancelled'">
                {{a.key != 'tasks.approved' ? translate('tasks.approved_this_task') : translate('tasks.cancelled_this_task')}}
              </p>
              <p class="msg text-14 text-primary" ng-if="a.key == 'task.newcomment'">
                {{ a.parameters.data }}
              </p>
              <p class="msg text-14 text-primary" ng-if="a.key == 'task.attachment.add'" ng-bind-html="translate('tasks.attachment_uploaded', {url: a.parameters.data, file_name: a.parameters.name}) | to_trusted">
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- // End Block -->
    </div>
  </div>
</div>