<% content_for :javascript do %>
  <script type="text/javascript">
  $(function(){
    var stickyHeaderPos = $(".sticky-header").offset().top + $(".sticky-header").height();
    var scrollPos = 0;

    $(window).on('scroll', function(){
      scrollPos = $(window).scrollTop();

      if(scrollPos > stickyHeaderPos){
        $(".sticky-header").addClass("affix");
      }else{
        $(".sticky-header").removeClass("affix");
      }
    })
  })
  </script>
<% end %>

<div ng-cloak="true" ng-controller="TaskDetailCtrl" ng-init="task = <%= @task.to_json %>; hours = <%= @hours.to_json %>">
  <div class="sticky-header">
    <div class="content-wrapper">
      <div class="breadcrumb">
        <%= link_to raw("<i class='pi pi-arrow-back'></i> #{t('.back_to_tasks')}"), company_form_entry_path %>
      </div>
      <div class="page-actions">
        <%= link_to t('.approve'), "javascript:void(0)", class: "btn btn-sm btn-primary", "ng-click" => "approveTask()"%>
        <div class="dropdown">
          <%= link_to raw(" #{t('.assign_to')} <span class=\"caret\"></span>"), 'javascript:void(0)', class: "btn btn-sm btn-secondary dropdown-toggle", 'ng-click' => "editParentTask()" %>
        </div>
        <div class="btn-group">
          <%= link_to raw('<i class="pi pi-chevron-left"></i>'), 'javascript:;', class: "btn btn-sm btn-secondary-light" %>
          <%= link_to raw('<i class="pi pi-chevron-right"></i>'), 'javascript:;', class: "btn btn-sm btn-secondary-light" %>
        </div>
      </div>
    </div>
  </div>
  <div class="pages tasks">
    <div class="heading" ng-hide="hasEditParentTask">
      <span class="circle-icon icon-money" ng-show="task.task_type == 'TravelTask'"></span>
      <span class="circle-icon icon-suitcase hide" ng-show="task.task_type == 'ExpenseTask'"></span>
      <span class="circle-icon icon-medical hide" ng-show="task.task_type == 'TimeoffTask'"></span>
      <%= link_to raw("<i class='pi pi-edit'></i> #{t('.edit')}"), "javascript:void(0)", class: "link-gray pull-right link-edit", "ng-click" => "editParentTask()" %>
      <h2>Expense Task</h2>
      <span class="task-detail-description">Task Description</span><br>
      <span class="task-detail-duration">01/01/2015 <%= t('.to') %> 01/01/2015</span><br>
      <h4 class="status-label"><span class="label label-pending">PENDING</span></h4>
      <div class="attributes">
        <span><i class="pi pi-clock"></i> 2 minutes ago</span>
        <span><i class="pi pi-person"></i> <%= t('.submitted_by') %>
          <%= link_to 'Author', '#' %>
        </span>
        <span><i class="pi pi-person"></i> <%= t('.assigned_to') %>
          <%= link_to 'Assignee', '#' %>
        </span>
        <span><i class="pi pi-person"></i> <%= t('.request_for') %>
          <%= link_to 'User', '#' %>
        </span>
      </div>
    </div>

    <!-- Task Edit -->

    <!-- End Task Edit -->

    <!-- Task Detail Partials -->
    <%= render '/visitors/static_expense_detail' %>
    <!-- End Task Detail Partials -->

    <!-- Page Activities Partial -->
    <div class="page-activities">
      <h2><%=t('.activities')%></h2>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <div class="activities">
            <%#= render '/private/public_activity/form', trackable_type:@task.class.to_s, trackable_id:@task.id  %>
            <form class="comment-input">
              <div class="form-group">
                <textarea type="text" class="form-control" rows= "4" ng-model="comment"></textarea>
              </div>
              <div class="clearfix">
                <div class="btn btn-primary pull-left" ng-click="submitComment()"><%= t('.send') %></div>
                <div class="input-file input-file-link pull-right">
                  <a href="javascript:void(0);" ng-file-select ng-multiple="true" ng-file-change="uploadAttachment($files)"><i class="pi pi-paperclip"></i> Attach File</a>
                </div>
              </div>
            </form>
            <!-- Start ng-repeat -->
            <div class="activities-msg">
              <div class="activity">
                <div class="avatar">
                  <span class="timestamp">2 minutes ago</span>
                  <div class="avatar-img">
                    <img alt="Img avatar default" class="img-circle" src="/assets/img-avatar-default.png">
                    <div class="avatar-initials">
                      JD
                    </div>
                  </div>
                </div>
                <div class="block block-default no-border">
                  <span ng-if="activity.key == 'task.attachment.add'" ng-bind-html="translate('tasks.attachment_uploaded', {url: activity.parameters.data, file_name: activity.parameters.name}) | to_trusted">
                  </span>
                  <span ng-if="activity.key == 'task.approved' || activity.key == 'task.cancelled'" >
                    {{activity.key != 'tasks.approved' ? translate('tasks.approved_this_task') : translate('tasks.cancelled_this_task')}}
                  </span>
                  <span ng-if="activity.key == 'task.newcomment'" >
                    {{activity.parameters.data}}
                  </span>
                </div>
              </div>
            </div>
            <!-- End repeat -->
            <div class="text-center">
              <button class="btn btn-md btn-secondary show-more" type="button" ng-click="getShowableActivities(1)" ng-show="showableActivities.length > 0 && showableActivities.length < totalActivitiesCount"><%= t('.show_all_activities')%></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- // End Page Activities Partial -->