<section class="lightblue-bg text-left">
  <div class="container-fluid">
    <div class="mb40" id="terms-of-service"><h2></h2>

    <h1>Terms of Service</h1>

    <h2>Background</h2>

    <p>Thank you for being responsible and reading the Terms. We (the PandoHr team) would love to hear your <a href="mailto:hello@triosky.com">feedback</a> on how they could evolve in the future. We have some big ideas on how they could be better and our lawyer is working hard on some custom terms for the site now. Unfortunately they were not ready in time for launch so we borrowed these from the folks at <a href="https://en.wordpress.com/tos/">Wordpress/Automattic</a> who generously published theirs under a Creative Commons <a href="http://creativecommons.org/licenses/by-sa/3.0/">license</a>. The terms below are also published under the <a href="http://creativecommons.org/licenses/by-sa/3.0/">same license</a>. Please get in touch if you have any questions.</p>

    <h2>Terms of Service:</h2>

    <p>The following terms and conditions govern all use of the PandoHr website and all content, services and products available at or through the website, including, but not limited to, PandoHr free and paid services, (taken together, the Website). The Website is owned and operated by TRIO SKY PTE LTD (“TrioSky”). The Website is offered subject to your acceptance without modification of all of the terms and conditions contained herein and all other operating rules, policies (including, without limitation, <%= link_to 'Privacy Policy', visitors_privacy_path, class: "link-gray" %>) and procedures that may be published from time to time on this Site by TrioSky (collectively, the “Agreement”).</p>

    <p>Please read this Agreement carefully before accessing or using the Website. By accessing or using any part of the web site, you agree to become bound by the terms and conditions of this agreement. If you do not agree to all the terms and conditions of this agreement, then you may not access the Website or use any services. If these terms and conditions are considered an offer by TrioSky, acceptance is expressly limited to these terms. The Website is available only to individuals who are at least 13 years old.</p>

    <ol>
    <li><p><strong>Your PandoHr Account and Site.</strong> If you create a account on the Website, you are responsible for maintaining the security of your account and account, and you are fully responsible for all activities that occur under the account and any other actions taken in connection with the account. You must not describe or assign keywords to your account in a misleading or unlawful manner, including in a manner intended to trade on the name or reputation of others, and TrioSky may change or remove any description or keyword that it considers inappropriate or unlawful, or otherwise likely to cause TrioSky liability. You must immediately notify TrioSky of any unauthorized uses of your account, your account or any other breaches of security. TrioSky will not be liable for any acts or omissions by You, including any damages of any kind incurred as a result of such acts or omissions.</p></li>
    <li><p><strong>Responsibility of Contributors.</strong> If you operate a account, comment on a account, post material to the Website, post links on the Website, or otherwise make (or allow any third party to make) material available by means of the Website (any such material, “Content”), You are entirely responsible for the content of, and any harm resulting from, that Content. That is the case regardless of whether the Content in question constitutes text, graphics, an audio file, or computer software. By making Content available, you represent and warrant that:</p>

    <ul>
    <li>the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</li>
    <li>if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;</li>
    <li>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</li>
    <li>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive content;</li>
    <li>the Content is not spam, is not machine- or randomly-generated, and does not contain unethical or unwanted commercial content designed to drive traffic to third party sites or boost the search engine rankings of third party sites, or to further unlawful acts (such as phishing) or mislead recipients as to the source of the material (such as spoofing);</li>
    <li>the Content is not pornographic, does not contain threats or incite violence towards individuals or entities, and does not violate the privacy or publicity rights of any third party;</li>
    <li>your account is not getting advertised via unwanted electronic messages such as spam links on newsgroups, email lists, other accounts and web sites, and similar unsolicited promotional methods;</li>
    <li>your account is not named in a manner that misleads your readers into thinking that you are another person or company. For example, your account’s URL or name is not the name of a person other than yourself or company other than your own; and</li>
    <li>you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by TrioSky or otherwise.</li>
    </ul>

    <p>By submitting Content to TrioSky for inclusion on your Website, you grant TrioSky a world-wide, royalty-free, and non-exclusive license to reproduce, modify, adapt and publish the Content solely for the purpose of displaying, distributing and promoting your account. If you delete Content, TrioSky will use reasonable efforts to remove it from the Website, but you acknowledge that caching or references to the Content may not be made immediately unavailable.</p>

    <p>Without limiting any of those representations or warranties, TrioSky has the right (though not the obligation) to, in TrioSky’s sole discretion (i) refuse or remove any content that, in TrioSky’s reasonable opinion, violates any TrioSky policy or is in any way harmful or objectionable, or (ii) terminate or deny access to and use of the Website to any individual or entity for any reason, in TrioSky’s sole discretion. TrioSky will have no obligation to provide a refund of any amounts previously paid.</p>
    </li>

    <li><p><strong>Payment and Renewal.</strong></p>

    <ul>
    <li><strong>General Terms</strong>.
    Paid services such as extra storage, domain purchases, or post type allowances (any such services, an “Upgrade”). By selecting an Upgrade you agree to pay TrioSky the one time, monthly, or annual subscription fees indicated for that service. Payments may be charged on a pre-pay basis on the day you sign up for an Upgrade and will cover the use of that service for a monthly or annual subscription period as indicated. Upgrade fees are not refundable.</li>
    <li><strong>Automatic Renewal.</strong>
    Unless you notify TrioSky before the end of the applicable subscription period that you want to cancel an Upgrade, your Upgrade subscription will automatically renew and you authorize us to collect the then-applicable annual or monthly subscription fee for such Upgrade (as well as any taxes) using any credit card or other payment mechanism we have on record for you. Upgrades can be canceled at any time in the Upgrades section of your site’s dashboard.</li>
    </ul></li>

    <li><p><strong>Third Party Services</strong></p>
    <ul>
    <li>Some TrioSky products and services may utilize a user's accounts with other service providers. Users are solely responsible for these services including any costs incurred on third party services through the use of TrioSky products and complying with the terms of service of third parties. TrioSky is not responsible for the security of credentials to such services if provided by the user.</li>
    </ul></li>

    <li><p><strong>Fee Estimates</strong></p>
    <ul>
    <li>TrioSky may provide you estimates of the fees and charges associated with third party products and services. TrioSky may not be able to estimate all purchasing options and discounts available from such third parties, and estimations may be inaccurate. YOU ACKNOWLEDGE AND AGREE THAT THESE ARE ESTIMATES ONLY AND THAT THE ACTUAL FEES AND CHARGES MAY DIFFER OR CHANGE.</li>
    </ul></li>

    <li><p><strong>User Feedback and Improper Transmissions</strong>
    Except for Posted Information or personal information, if you transmit to or otherwise provide to TrioSky any feedback (such as questions, comments, suggestions, or the like) or data or materials ("User Feedback"), such User Feedback shall be deemed to be non-confidential and non-proprietary. TrioSky shall have no obligation of any kind with respect to such User Feedback and shall be free to reproduce, use, disclose, modify, display and distribute the User Feedback to others without limitation. By transmitting such User Feedback to TrioSky, you are deemed to grant to TrioSky a perpetual, worldwide, royalty-free, irrevocable, non-exclusive license (with rights to sublicense) to use any ideas, concepts, know-how or techniques contained in such User Feedback for any purpose whatsoever, including but not limited to developing, manufacturing and marketing products incorporating such User Feedback.
    You are prohibited from transmitting to the Service any unsolicited chain letters or "spam", or any threatening, harassing, libelous, false, defamatory, offensive, obscene, or pornographic material, or other material that would violate any applicable law or regulation, including but not limited to any laws or regulations governing equal employment opportunities. However, if such communications do occur, TrioSky will have no liability related to the content of any such communications.</p></li>
    <li><p><strong>Responsibility of Website Visitors.</strong> TrioSky has not reviewed, and cannot review, all of the material, including computer software, posted to the Website, and cannot therefore be responsible for that material’s content, use or effects. By operating the Website, TrioSky does not represent or imply that it endorses the material there posted, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. The Website may contain content that is offensive, indecent, or otherwise objectionable, as well as content containing technical inaccuracies, typographical mistakes, and other errors. The Website may also contain material that violates the privacy or publicity rights, or infringes the intellectual property and other proprietary rights, of third parties, or the downloading, copying or use of which is subject to additional terms and conditions, stated or unstated. TrioSky disclaims any responsibility for any harm resulting from the use by visitors of the Website, or from any downloading by those visitors of content there posted.</p></li>
    <li><p><strong>Content Posted on Other Websites.</strong> We have not reviewed, and cannot review, all of the material, including computer software, made available through the websites and webpages to which PandoHr links, and that link to Cupake. TrioSky does not have any control over those non-Tent websites and webpages, and is not responsible for their contents or their use. By linking to a non-Tent website or webpage, TrioSky does not represent or imply that it endorses such website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive content. TrioSky disclaims any responsibility for any harm resulting from your use of non-Tent websites and webpages.</p></li>
    <li><p><strong>Copyright Infringement and DMCA Policy.</strong> As TrioSky asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by PandoHr violates your copyright, you are encouraged to notify TrioSky in accordance with <a href="/dmca">TrioSky’s Digital Millennium Copyright Act (“DMCA”) Policy</a>. TrioSky will respond to all such notices, including as required or appropriate by removing the infringing material or disabling all links to the infringing material. TrioSky will terminate a visitor’s access to and use of the Website if, under appropriate circumstances, the visitor is determined to be a repeat infringer of the copyrights or other intellectual property rights of TrioSky or others. In the case of such termination, TrioSky will have no obligation to provide a refund of any amounts previously paid to TrioSky.</p></li>
    <li><p><strong>Intellectual Property.</strong> This Agreement does not transfer from TrioSky to you any TrioSky or third party intellectual property, and all right, title and interest in and to such property will remain (as between the parties) solely with TrioSky. TrioSky Software, TrioSky, Tent, the Tent logo, PandoHr.io, PandoHr.is, the PandoHr logo, and all other trademarks, service marks, graphics and logos used in connection with PandoHr, or the Website are trademarks or registered trademarks of TrioSky or TrioSky’s licensors. Other trademarks, service marks, graphics and logos used in connection with the Website may be the trademarks of other third parties. Your use of the Website grants you no right or license to reproduce or otherwise use any TrioSky or third-party trademarks. Additional policies govern use of the <a href="https://tent.io/trademark-guidelines">Tent</a> mark.</p></li>
    <li><p><strong>Advertisements.</strong> TrioSky reserves the right to display advertisements on your account.</p></li>
    <li><p><strong>Attribution.</strong> TrioSky reserves the right to display attribution links such as ‘account hosted by PandoHr,’ theme author, and font attribution in your account footer or toolbar. Footer credits and the PandoHr toolbar may not be removed regardless of upgrades purchased.</p></li>
    <li><p>(Intentionally left blank.)</p></li>
    <li><p><strong>Domain Names.</strong> If you are registering a domain name, using or transferring a previously registered domain name, you acknowledge and agree that use of the domain name is also subject to the policies of the Internet Corporation for Assigned Names and Numbers (“ICANN”), including their Registration Rights and Responsibilities.</p></li>
    <li><p><strong>Changes.</strong> TrioSky reserves the right, at its sole discretion, to modify or replace any part of this Agreement. It is your responsibility to check this Agreement periodically for changes. Your continued use of or access to the Website following the posting of any changes to this Agreement constitutes acceptance of those changes. TrioSky may also, in the future, offer new services and/or features through the Website (including, the release of new tools and resources). Such new features and/or services shall be subject to the terms and conditions of this Agreement.</p></li>
    <li><p><strong>Termination.</strong> TrioSky may terminate your access to all or any part of the Website at any time, with or without cause, with or without notice, effective immediately. If you wish to terminate this Agreement or your PandoHr account (if you have one), you may simply discontinue using the Website. All provisions of this Agreement which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</p></li>
    <li><p><strong>Disclaimer of Warranties.</strong> The Website is provided “as is”. TrioSky and its suppliers and licensors hereby disclaim all warranties of any kind, express or implied, including, without limitation, the warranties of merchantability, fitness for a particular purpose and non-infringement. Neither TrioSky nor its suppliers and licensors, makes any warranty that the Website will be error free or that access thereto will be continuous or uninterrupted. You understand that you download from, or otherwise obtain content or services through, the Website at your own discretion and risk.</p></li>
    <li><p><strong>Limitation of Liability.</strong> In no event will TrioSky, or its suppliers or licensors, be liable with respect to any subject matter of this agreement under any contract, negligence, strict liability or other legal or equitable theory for: (i) any special, incidental or consequential damages; (ii) the cost of procurement for substitute products or services; (iii) for interruption of use or loss or corruption of data; (iv) any costs or fees related to third party services managed on behalf of users, violation of the terms of third party services, or failures of third party services; or (v) for any amounts that exceed the fees paid by you to TrioSky under this agreement during the twelve (12) month period prior to the cause of action. TrioSky shall have no liability for any failure or delay due to matters beyond their reasonable control. The foregoing shall not apply to the extent prohibited by applicable law.</p></li>
    <li><p><strong>General Representation and Warranty.</strong> You represent and warrant that (i) your use of the Website will be in strict accordance with the TrioSky Privacy Policy, with this Agreement and with all applicable laws and regulations (including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the Singapore or the country in which you reside) and (ii) your use of the Website will not infringe or misappropriate the intellectual property rights of any third party.</p></li>
    <li><p><strong>Indemnification.</strong> You agree to indemnify and hold harmless TrioSky, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys’ fees, arising out of your use of the Website, including but not limited to your violation of this Agreement.</p></li>
    <li><p><strong>Miscellaneous.</strong> This Agreement constitutes the entire agreement between TrioSky and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of TrioSky, or by the posting by TrioSky of a revised version. Except to the extent applicable law, if any, provides otherwise, this Agreement, any access to or use of the Website will be governed by the laws of the country of Singapore, excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the courts located in Singapore. Except for claims for injunctive or equitable relief or claims regarding intellectual property rights (which may be brought in any competent court without the posting of a bond), any dispute arising under this Agreement shall be finally settled in accordance with the Comprehensive Arbitration Rules of the Judicial Arbitration and Mediation Service, Inc. (“JAMS”) by three arbitrators appointed in accordance with such Rules. The arbitration shall take place in San Francisco, California, in the English language and the arbitral decision may be enforced in any court. The prevailing party in any action or proceeding to enforce this Agreement shall be entitled to costs and attorneys’ fees. If any part of this Agreement is held invalid or unenforceable, that part will be construed to reflect the parties’ original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of this Agreement or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under this Agreement to any party that consents to, and agrees to be bound by, its terms and conditions; TrioSky may assign its rights under this Agreement without condition. This Agreement will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p></li>
    </ol>


    </div>
  </div>
</section>
