<% @body_class = "landing-tour" %>
<section id="hero" class="tour-hero text-center">
  <div class="hero-tagline">
    <div class="container-fluid">
      <h1 class="main-tagline">Empower your employees</h1>
      <h2 class="sub-tagline">Respond fast and efficient to employee requests in one place without having to sign in to your email box all the time.</h2>
    </div>
  </div>
  <img
  src="<%= image_path 'gfx-tour-screen.png' %>"
  srcset="<%= image_path 'gfx-tour-screen@2x.png' %> 2x,
  <%= image_path 'gfx-tour-screen.png' %> 1x"
  alt="" class="img-responsive center-block" />
</section>
<section class="text-center">
 <div class="container-fluid">
  <h3 class="section-title">Efficient workflow</h3>
  <p class="mb20">Getting things done is now quicker than ever. Employee makes a request, you respond.</p>
  <%= image_tag 'gfx-workflow.png', class: 'img-responsive center-block', alt: 'Track you team wisely' %>
</div>
</section>
<section class="text-center pb0">
  <div class="container-fluid">
    <h3 class="section-title">Track your team wisely</h3>
    <p class="mb20">Thanks to its intelligent team calendar, you will be able to see who is off duty and who is in the office.</p>
    <%= image_tag 'gfx-landing-tour-calendar-laptop-tablet.png', class: 'img-responsive center-block', alt: 'Track you team wisely' %>
  </div>
</section>
<section class="text-center lightblue-bg pb0">
  <div class="container-fluid">
    <h3 class="section-title">Supervise vacations and leaves</h3>
    <p class="mb20">Control and approve how many days off each employee should get.<br> Visualize the vacation dashboard and take action in no time.</p>
    <%= image_tag 'gfx-landing-tour-sick-leave.png', class: 'img-responsive center-block', alt: 'Supervise vacations and leaves' %>
  </div>
</section>
<section id="trips" class="text-center pb0">
  <div class="container-fluid">
    <h3 class="section-title">Book business trips fast</h3>
    <p class="mb20">You can easily approve your employee’s travel requests. <br>Manage and arrange their business trip in a matter of minutes.</p>
    <%= image_tag 'gfx-landing-tour-travel.png', class: 'img-responsive center-block', alt: 'Book business trip fast' %>
  </div>
</section>
<section class="text-center lightblue-bg pb0">
  <div class="container-fluid">
    <h3 class="section-title">Solve expense reimbursement issues in no time</h3>
    <p class="mb20">Manage travel expenses such as lodging, flights, ground transportation, tips, <br>bellhops, meals, and other incidental expenses your employees experience on the road.</p>
    <div class="browser hidden-xs">
      <div class="browser-content">
        <%= image_tag 'gfx-landing-tour-expense.png', class: 'img-responsive', alt: 'Supervise vacations and leaves' %>
      </div>
      <span class="scroll">Scroll down for more content</span>
    </div>
    <%= image_tag 'gfx-landing-tour-expense-sm.png', class: 'img-responsive visible-xs', alt: 'Supervise vacations and leaves' %>
  </div>
</section>
<section class="signup-footer text-center">
  <h3 class="section-title">Sign up now to get access to PandoHR!</h3>
  <div class="container-fluid">
    <form class="form-inline mt20">
      <div class="form-group">
        <input type="text" name="" placeholder="Email Address" class="form-control input-lg">
        <input type="text" name="" placeholder="Company Name" class="form-control input-lg">
        <input type="submit" name="" class="btn btn-lg btn-primary" value="Sign Up Now">
      </div>
    </form>
  </div>
</section>
<section id="contact" class="green-bg">
  <div class="container-fluid">
    <div class="row cell-align align-middle">
      <div class="col-md-6">
        <h3><i class="fa fa-envelope-o"></i> Get in Touch</h3>
        <address class="c-details">
          <a href="//www.google.com/maps/@1.2960449,103.789474,17z" target="_blank">
            <i class="fa fa-map-marker"></i>
            <span>954 Dunearn Road, #08-12,
              <br>Singapore 589483</span>
          </a>
          <br>
          <a href="mailto:hello@triosky.com">
            <i class="fa fa-envelope-o"></i>
            <span>hello@triosky.com</span>
          </a>
          <br>
          <a href="tel:+6585330586">
            <i class="fa fa-phone"></i>
            <span>+65 8533 0586</span>
          </a>
        </address>
      </div>
      <div class="col-md-6 animated fadeInLeft delayp4">
        <iframe class="freshwidget-embedded-form" id="freshwidget-embedded-form" src="//triosky.freshdesk.com/widgets/feedback_widget/new?&amp;widgetType=embedded&amp;screenshot=no&amp;searchArea=no&amp;formTitle= " scrolling="no" height="400px" width="100%" frameborder="0">
        </iframe>
      </div>
    </div>
  </div>
</section>
