.navbar-default{
  margin-bottom: 0;

  .navbar-brand{
    position: relative;
    text-indent: -9999px;
    background-image: image-url('gfx-logo@2x.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    @include rem(width, 187px);
    top: 0;

    .csstransitions &{
      transition: top 0.3s ease, width 0.3s ease, left 0.3s ease;
    }
  }

  &.navbar-fixed-top{
    margin-bottom: 0;
    border-bottom: none;
    @include rem(padding, 30px 0);
    background-color: transparent;
  }
  &.navbar-static-top{
    @include rem(margin-bottom, 40px);
  }
  .navbar-toggle{
    .icon-bar{
      background-color: white;
    }
    &:hover{
      .icon-bar{
        background-color: white;
      }
      background-color: $link-color;
    }
    .csstransitions &{
      transition: color 0.3s ease-in-out, background-color 0.3s ease;
    }
  }

  .navbar-nav{
    >li{
      .landing-tour &{
        &:first-child{
          display: none;
        }
      }
      >a{
        color: darken(white, 10%);

        &:hover{
          color: white;
        }

        &.btn{
          @include rem(padding, 8px);
          @include rem(margin, 6px 15px 0 8px);
          background: transparent;
          border-color: darken(white, 10%);

          &:hover{
            background-color: $link-color;
            color: white;
          }
        }
        &.btn-primary{
          @extend .btn-primary;
          @include rem(padding-left, 15px);
          @include rem(padding-right, 15px);
        }
      }
    }
  }

  &.header-sm,
  &.navbar-static-top{
    @include rem(padding, 10px 0);
    background-color: white;
    filter: alpha(opacity=95);
    background-color: rgba(255,255,255,0.95);
    border-bottom: 1px solid #dedede;

    .ie8 &{
      @include rem(padding, 10px 0);
    }

    .navbar-toggle{
      .icon-bar{
        background-color: #666;
      }
      &:hover{
        .icon-bar{
          background-color: white;
        }
        background-color: $link-color;
      }
    }

    .navbar-brand{
      background-image: image-url('gfx-logo-blue.png');
      @include rem(top, 3px);
      @include rem(left, 10px);
      @include rem(width, 150px);
    } 
    .navbar-nav{
      text-align: center;

      >li{
        >a{
          color: #666;

          &:hover{
            color: #333;
          }

          &.btn{
            @include rem(padding, 6px 8px);
            @include rem(margin, 8px 15px 0 8px);
            background: $link-color;
            border-color: darken($link-color, 10%);
            color: white;

            &:hover{
              background-color: darken($link-color, 10%);
              color: white;
            }
            @media(max-width: $screen-xs-min){
              float: none;
              width: 30%;
              margin: 0 auto;
            }
          }
          &.btn-primary{
            @include rem(padding-left, 15px);
            @include rem(padding-right, 15px);
          }
        }
      }
    }
    @media(max-width: $screen-sm-min){
      padding: 0; 
    }
  }

  .csstransitions &{
    transition: padding 0.3s ease-in-out, background-color 0.3s ease;
  }
}