.pricing{
  .pricing-options{
    background-color: cadetblue;
    padding-top: 0;
    @include rem(margin-top, -150px);

    .block{
      // background-color: $brand-success;
      // border-color: darken($brand-success, 10%);

      .slider-block{
         @include rem(padding, 40px 20px 20px);
      }
    }
  }
  .price{
    @include rem(font-size, 80px);
    line-height: 1;
    @include rem(letter-spacing, -3px);

    span:first-child{
      font-size: 50%;
      display: inline-block;
      vertical-align: top;
      @include rem(padding-top, 8px);
    }
  }
  #bulk{
    display: none;
  }
}