html{
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  height: 100%;
  font-size: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  margin-top: 0;
  color: $brand-primary;
  line-height: 1.3;
}

img {
  &.img-inline{
    display: inline-block;
  }
}

ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a{
  color: $link-color;
  
  &:hover,
  &:focus{
    text-decoration: none;

    color: darken($link-color, 10%);
  }
  .csstransitions &{
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  &.link-gray{
    color: #999;

    &:hover,
    &:focus{
      color: darken(#999, 10%);
    }
  }
}
button,a{
  &:focus{
    // border: 0;
    outline: none;
  }
}
form{
  .field_with_errors{
    input, select{
      border-color: lighten($brand-danger, 10%);
      background-color: lighten($brand-danger, 40%);
    }
  }
  #error_explanation{
    @extend .alert;
    @extend .alert-info;
    font-size: 14px;

    h2{
      // @extend .text-info;
      font-size: 16px;
      font-weight: 700;
      border-bottom: none;
      margin-bottom: 10px;
    }
    ul{
      list-style-type: disc;
      margin-left: 20px;
    }
  }
  .form-group:last-child{
    margin-bottom: 0;
  }
  input, textarea{
    -webkit-font-smoothing: antialiased;
  }
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline,
.radio-inline + .checkbox-inline, .checkbox-inline + .radio-inline{
  margin-top: 0;
  margin-left: 10px;
}
.form-group{
  @extend .clearfix;

  label{
    font-size: 14px;
    color: #333;
    font-weight: normal;
  }
}
.input-group{
  i{
    margin: 0;
  }
}
hr{
  border-color: #dedede;
}

.custom-radio,
.custom-checkbox{
  margin-top: 0;

  label{
    margin-bottom: 0;
  }

  input{
    display: none;

    &:checked{
      + span:after{
        @extend .pi;
        font-size: 20px;
        color: $brand-primary;
        content: "\e608";
        padding-left: 7px;
        padding-top: 4px;
      }
    }
  }
  .input-radio,
  .input-checkbox{
    width: 35px;
    height: 35px;
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    margin-left: -20px;
    margin-right: 5px;
    vertical-align: middle;
    background-color: white;

    + i{
      margin-top: 8px;
    }
  }
  .input-checkbox{
    @include rem(border-radius, 5px);
  }
}
.custom-checkbox{
  input{
    &:checked{
      + span:after{
        @extend .pi;
        font-size: 20px;
        content: "\f00c";
        padding-left: 6px;
        padding-top: 4px;
      }
    }
  } 
}
.input-group{
  width: 100%;
  .input-icon{
    .input-group-addon{
      position: absolute;
      z-index: 3;
      border: none;
      background: transparent;
      padding-left: 10px;
      padding-top: 10px;
      color: #999;
    }
    .form-control{
      border-radius: rem(4px) !important;
      text-indent: 20px;
    }
  }
  &.text-addon{
    display: table;
    .input-group-addon{
      background-color: transparent;
      display: table-cell;
      border: none;
      padding-left: 10px;
      vertical-align: middle;
    }
    .form-control{
      border-radius: rem(4px) !important;
    }
  }
  &.small{
    input{
      width: 100px;
    }
    .input-group-addon{
      width: 100%;
      text-align: left;
    }
  }
}
.caret{
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.text-muted{
  color: #666;
}
.text-muted-light{
  color: #999;
}
.row{
  &.cell-align{
    [class*="col-"] {
      float: none;
      display: table-cell;
    }
  }
  &.align-top{
    [class*="col-"] {
      vertical-align: top;
    }
  }
  &.align-middle{
    [class*="col-"] {
      vertical-align: middle;
    }
  }
  &.align-bottom{
    [class*="col-"] {
      vertical-align: bottom;
    }
  }
}
.tooltip{
  &.top{
    .tooltip-arrow{
      border-top-color: $brand-primary;
    }
  }
  &.left{
    .tooltip-arrow{
      border-left-color: $brand-primary;
    }
  }
  &.bottom{
    .tooltip-arrow{
      border-bottom-color: $brand-primary;
    }
  }
  &.right{
    .tooltip-arrow{
      border-right-color: $brand-primary;
    }
  }
}
.tooltip-inner{
  background-color: $brand-primary;
}
.modal-backdrop{
  z-index: 1030;
  &.in{
    opacity: 0.9;
  }
}
.modal{
  .close{
    color: white;
    text-shadow: none;
    opacity: 1;
    @include rem(font-size, 40px);
  }
}
html.turbolinks-progress-bar::before {
  background-color: $link-color !important;
  height: 5px !important;
}
.btn-xl{
  @extend .btn-lg;
  @include rem(font-size, 24px);
}