.devise{
  // background-color: #e3e9f3;
  background-image: url(image-path('bg-mosaic.png'));
  background-position: center;
  background-size: cover;

  .signin, .signup{
    @include rem(max-width, $screen-xs-min);
    margin-left: auto;
    margin-right: auto;
  }
  .company-url{
    @include rem(max-width, $screen-xs-min);
  }
  footer{
    .text-muted-light,
    .link-gray{
      color: white;
    }
  }
}