 html{
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  height: 100%;
  font-size: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  margin-top: 0;
  color: $brand-primary;
  border-bottom: none;
}
main{
  height: 100%;
}
section{
  @include rem(padding, 60px 0);
  border-bottom: 1px solid #dedede;

  @media(max-width: $screen-sm-min){
    @include rem(padding, 20px 0);
  }
}
.section-title{
  font-weight: normal;
  @include rem(font-size, 30px);

  @media(max-width: $screen-xs-min){
    // @include rem(font-size, 18px);   
  }
}
.container-fluid{
  max-width: $screen-md;
}
.modal-backdrop{
  z-index: 0;
}

footer{
  @include rem(padding, 30px 10px);
  span{
    display: inline-block;
    @include rem(margin-right, 10px);
  }
  .list-inline{
    display: inline-block;
    margin-bottom: 0;
  }
  @media(max-width: $screen-xs-min){
    @include rem(padding, 10px);
  }
}
.owl-carousel{
  position: relative;

  h3{
    @include rem(margin-top, 60px);
  }
  @media(max-width: $screen-sm-min){
    h3{
      text-align: center;
      margin-top: 0;
    }
    p{
      text-align: center;
      @include rem(margin-bottom, 40px);
    }
  }
}
#points{
  @media(max-width: $screen-sm-min){
    img{
      @include rem(margin, 0 auto 40px);
    }
    h3, p, ul{
      text-align: center;
    }
  }
}
// .owl-page{
//   display: inline-block;
//   @include rem(margin, 0 15px);
//   @extend .text-md;
//   color: #999;
//   cursor: pointer;

//   &:hover{
//     color: #666;
//   }

//   &.active{
//     color: $link-color;
//   }
//   .csstrasitions &{
//     transition: color 0.3s ease;
//   }
// }
.form-inline{
  input{
    @include rem(margin-right, 10px);
    @include rem(margin-bottom, 10px);
  }
}