.tour-cta{
  @include rem(font-size, 28px);
  font-weight: bold;
  color: $link-color;
  display: block;
  @include rem(margin-bottom, 40px);

  &:hover{
    text-decoration: none;
    color: darken($link-color, 10%);
  }
  i{
    @include rem(font-size, 54px);
    @include rem(margin-left, 10px);
    position: relative;
    @include rem(top, 9px);
  }
}
.green-bg{
  background-color: cadetblue;
}
.lightblue-bg{
  background-color: #F7F8FA;

  border-bottom-color: #f7f7f7;
}
.footer-signup{
  h3{
    @include rem(margin-bottom, 30px);
  }
  @media(max-width: $screen-md-min){
    input{
      @include rem(margin-bottom, 10px);
    }
  }
}
#take-the-tour{
  padding-bottom: 0;
  border-bottom: 1px solid #dedede;
}
#contact{
  color: white;
  address{
    margin-top:30px;
    a {
    	color:white;
    	display:inline-block;
      text-decoration: underline;
    }
    a:hover, a:hover i {
  	   color:#34abec;
    }
    span {
    	display:block;
    	width:auto;
    	margin-bottom:25px;
    	margin-left:30px
    }
    i {
    	float:left;
    	width:15px;
    	line-height:25px;
    	font-size:14px;
    	text-align:center;
    	color:white
    }
  }
  h3{
    @include rem(font-size, 28px);
    color: white;

    i{
      @include rem(font-size, 54px);
      @include rem(margin-right, 10px);
      position: relative;
      @include rem(top, 9px);
    }
  }
  .cell-align{
    display: table;

    @media(max-width: $screen-sm-min){
      display: block;

      [class*="col-"]{
        display: block;
      }
    }
  }
  @media(max-width: $screen-sm-min){
    h3, p{
      text-align: center;
    }
  }
  @media(max-width: $screen-sm-min){
    @include rem(padding, 10px 0 0 0);

    p{
      @include rem(margin-bottom, -30px);
    }
  }
}
.landing-signup{
  @include rem(padding, 40px);
  background-color: rgba(0,0,0,0.5);

  &.signup-footer{
    background-color: white;
    @include rem(padding, 60px 0);
  }
  input{
    text-align: center;
    @include rem(margin, 10px 5px 15px 0);

    @media(min-width: $screen-xs-min){
      @include rem(margin-right, 5px);
      text-align: left;
    }
  }
  .form-control-static{
    vertical-align: middle;
  }
  h3{
    font-weight: normal;
    @include rem(margin-bottom, 5px);

    @media(min-width: $screen-xs-min){
      @include rem(margin-bottom, 20px);
    }
  }

  @media(max-width: $screen-xs-min){

    &.signup-header,
    &.signup-footer{
      @include rem(padding, 15px 0);
    }
  }
}
#trips{
  background-image: url(image-path('img-airport.jpg'));
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  // background-attachment: fixed;

  @media(max-width: $screen-sm-min){
    background: white;
  }
}
.browser{
  position: relative;
  @include rem(max-width, 720px);
  padding-top: 27px;
  margin: 0 auto;
  background-image: url(image-path('gfx-browser.png'));
  background-repeat: no-repeat;

  .browser-content{
    @include rem(height, 600px);
    overflow-y: scroll;
    -webkit-overflow-scroll: touch;
  }
  .scroll{
    @include rem(font-size, 12px);
    position: absolute;
    top: 6px;
    right: 10px;
    @include rem(font-size, 12px);
    color: white;
    // background-color: white;
    // padding: 5px;
    // border-radius: 5px;
    // border: 1px solid #dedede;
    // border-top-left-radius: 0;
    // border-bottom-left-radius: 0;

    // &:before{
    //   font-family: "FontAwesome";
    //   content: "";
    //   display: block;
    // }
    // &:after{
    //   font-family: "FontAwesome";
    //   content: "";
    //   display: block;
    // }
    // @media(max-width: 844px){
    //   display: none;
    // }
  }
}
