#hero{
  overflow: hidden;
  height: 100%;
  width: 100%;
  padding: 0;
  position: relative;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  .learn-more{
    color: white;
    @include rem(font-size, 40px);
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.7;
    left: 0;
    cursor: pointer;

    .csstransitions &{
      transition: opacity 0.3s ease;
    }

    &:hover{
      opacity: 1;
    }
    @media(min-width: $screen-md-max){
      @include rem(font-size, 60px);
    }
  }

  .hero-tagline{
    .main-tagline,
    .sub-tagline{
      color: white;
      font-weight: normal;

      .textshadow &{
        text-shadow: 0 1px 5px rgba(0, 0, 0, 0.7);
      }
    }

    .main-tagline{
      @include rem(font-size, 60px);
      line-height: 1;

      @media(max-width: $screen-xs-min){
        @include rem(font-size, 28px);
      }
    }
    .sub-tagline{
      @include rem(font-size, 26px);

      @media(max-width: $screen-xs-min){
        @include rem(font-size, 18px);
      }
    }
    @media(max-width: $screen-sm-min){
      .simple_form{
        display: none;
      }
    }
  }

  &.landing-hero{
    background-image: url(image-path('img-landing-hero.jpg'));
    display: table;

    @media(max-width: $screen-md-min){
      @include rem(height, 550px);
    }

    .hero-tagline{
      display: table-cell;
      vertical-align: middle;

      @media(max-width: $screen-md-min){
        padding-top: 5%;
      }
    }
    .main-tagline{
      // margin-top: -15.5%;

      @media(max-width: $screen-sm-min){
        @include rem(font-size, 38px);
      }
    }
    .sub-tagline{
      @include rem(font-size, 30px);

      @media(max-width: $screen-sm-min){
        @include rem(font-size, 28px);
      }
    }
  }
  &.tour-hero{
    background-image: url(image-path('img-tour-hero.jpg'));
    height: auto;

    .hero-tagline{
      @include rem(margin-bottom, 40px);
    }

    .main-tagline{
      margin-top: 20%;
    }
    @media(max-width: $screen-md-min){
      img{
        @include rem(padding, 0 20px)
      }
      @include rem(height, 450px);
    }
  }
  &.pricing-hero{
    background-image: url(image-path('bg-mosaic.png'));
    background-position: top center;
    background-size: cover;
    @include rem(max-height, 500px);

    .hero-tagline{
      @include rem(margin-bottom, 40px);
    }

    .main-tagline{
      margin-top: 20%;
    }
  }
}