<%= simple_form_for(@task) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :description %>
    <%= f.association :author %>
    <%= f.association :user %>
    <%= f.association :assignee %>
    <%= f.input :start_at %>
    <%= f.input :end_at %>
    <%= f.input :type %>
    <%= f.input :attachments %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
