<% content_for :breadcrumb do %>
<div class="breadcrumb">
  <%= link_to raw('<i class="pi pi-arrow-back"></i> Back to Tasks'), tasks_path %>
</div>
<% end %>
<div class="pages tasks task-edit expense-detail">
  <div class="block block-secondary">
    <%= simple_form_for(@task) do |f| %>
    <div class="form-group">
      <div class="col-xs-6">
        <label>Title</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-6">
        <label>Description</label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="form-group datepicker">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6">
            <label>From</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control">
              </div>
            </div>  
          </div>
          <div class="col-xs-6">
            <label>To</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control">
              </div>
            </div>  
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label>Who is approving this?</label>
        <select class="form-control selectpicker"> 
          <option>Select</option>
          <option>Ziwei Zhou</option>
          <option>Takashi Obatake</option>
          <option>Audrey Pang</option>
        </select>
      </div>
      <div class="col-xs-6">
        <label>Who is this request for?</label>
        <select class="form-control selectpicker"> 
          <option>Select</option>
          <option>Ziwei Zhou</option>
          <option>Takashi Obatake</option>
          <option>Audrey Pang</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-left">
          <%= link_to 'Submit for Approval', 'javascript:;', class: "btn btn-sm btn-primary" %>
          <%= link_to 'Save as Draft', 'javascript:;', class: "btn btn-sm btn-orange" %>
          <%= link_to 'Cancel', 'javascript:;', class: "btn btn-link link-gray" %>
        </div>
        <div class="pull-right">
          <%= link_to raw('<i class="pi pi-trash-o text-danger"></i>Delete Request'), 'javascript:;', class: "btn btn-link link-gray" %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="confirm-submission">
          <div class="row">
            <div class="col-xs-6">
              <input type="text" class="form-control" placeholder="Enter Your Full Name as Signature">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <label class="checkbox-inline"><input type="checkbox" class="pull-left">
          I declare that the above expenses have been reasonably and actually
          incurred by me in fulfilling my responsibilities as an employee of Fitch.
        </label>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <button type="submit" class="btn btn-sm btn-green">Confirm and Submit</button>
      </div>
    </div>
    <% end %>
  </div>
  <div class="block block-secondary">
    <%= simple_form_for(@task) do |f| %>
    <div class="form-group">
      <div class="col-xs-6">
        <label>Date</label>
        <input type="text" class="form-control">
      </div>
      <div class="col-xs-6">
        <label>Purpose</label>
        <select class="form-control selectpicker"> 
          <option>Select</option>
          <option>Ratings Meeting</option>
          <option>Marketing Meeting</option>
          <option>Investor Meeting</option>
          <option>External Conference</option>
          <option>External Training</option>
          <option>Fitch Internal Training</option>
          <option>Internal Conference</option>
          <option>Other External Travel</option>
          <option>Others</option>
          <option>SAP Project Travel</option>
          <option>Visit Other Fitch Office</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6">
            <label>Expense Type</label>
            <select class="form-control selectpicker" data-container="body"> 
              <option>Select</option>
              <option>Accomodation</option>
              <option>Air Ticket</option>
              <option>Car Rental</option>
              <option>Ent - Employee</option>
              <option>Ent - Issuer/Banker</option>
              <option>Ent - Clients</option>
              <option>Late Night Taxi</option>
              <option>Meals</option>
              <option>Misc-Office Expense</option>
              <option>Other</option>
              <option>Overtime Meal</option>
              <option>Tel-Mobile-Internet</option>
              <option>Transportion</option>
            </select>
          </div>
          <div class="col-xs-6">
            <label>Payment Type</label>
            <select class="form-control selectpicker"> 
              <option>Select</option>
              <option>Corporate AMEX</option>
              <option>CASH</option>
              <option>Corporate Travel</option>
              <option>Inter-Office Recharge</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <label>Attachment</label>
        <div class="input-file">
          <%= link_to raw('Upload'), tasks_path, class: "btn btn-sm btn-upload" %>
          <input type="file">
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-4">
            <label class="currency">Currency</label>
            <select class="form-control selectpicker" data-container="body"> 
              <option>Select</option>
              <option>AED</option>
              <option>AUD</option>
              <option>BND</option>
              <option>CHF</option>
              <option>CNY</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>HKD</option>
              <option>IDR</option>
              <option>INR</option>
              <option>JOD</option>
              <option>JPY</option>
              <option>KRW</option>
              <option>KZT</option>
              <option>LKR</option>
              <option>MYR</option>
              <option>NZD</option>
              <option>PHP</option>
              <option>SGD</option>
              <option>THB</option>
              <option>TWD</option>
              <option>USD</option>
              <option>VND</option>
            </select>
          </div>
          <div class="col-xs-4">
            <label>Rate</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-4">
            <label>Amount</label>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div class="col-xs-6">
        <label>Memo</label>
        <textarea rows="2" class="form-control"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-left">
          <button type="submit" class="btn btn-sm btn-primary">Save</button>
          <a href="javascript:;" class="btn link-gray btn-link">Cancel</a>
        </div>
        <div class="pull-right">
          <a class="btn btn-link link-gray" href="javascript:;"><i class="pi pi-trash-o text-danger"></i>Delete Entry</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <%= render 'form' %>
</div>