<% content_for :javascript do%>

<%end%>
<% content_for :subnav do %>
<div class="subnav">
  <ul>
    <li class="active"><%= link_to 'ALL TASKS', 'javascript:;' %></li>
    <li><%= link_to 'YOUR TASKS', 'javascript:;' %></li>
  </ul>
</div>
<% end %>
<div class="pages tasks" ng-cloak="true" ng-controller="TaskIndexCtrl">
  <div class="page-title">
    <h1 class="pull-left"><%= t('.manage_tasks') %></h1>
    <div class="dropdown pull-right">
      <a class="btn btn-lg btn-primary dropdown-toggle"><i class="pi pi-plus"></i><%= t('.create_new') %><span class="caret"></span></a>
      <div class="dropdown-menu">
        <div class="arrow"></div>
        <ul>
          <li><a ng-click="task.type='TimeoffTask';task.name=''"><%= t('.time_off_request') %></a></li>
          <li><a ng-click="task.type='TravelTask';task.ishalfday=false;task.halfday='';task.name=''"><%= t('.travel_request') %></a></li>
          <li><a ng-click="task.type='ExpenseTask';task.ishalfday=false;task.halfday='';task.name=''"><%= t('.expense_reimbursement') %></a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="action-menu">
    <ul class="pull-left">
      <li class="active"><%= link_to raw("#{t('.all')} <span class='badge badge-default'>10</span>"), tasks_path %></li>
      <li><%= link_to raw("#{t('.time_off')} <span class='badge badge-default'>10</span>"), tasks_path %></li>
      <li><%= link_to raw("#{t('.travel')} <span class='badge badge-default'>10</span>"), tasks_path %></li>
      <li><%= link_to raw("#{t('.expenses')} <span class='badge badge-default'>10</span>"), tasks_path %></li>
    </ul>
    <ul class="pull-right">
      <li class="dropdown">
        <%= link_to raw("#{t('.sort')} <span class='caret'></span>"), '#', class: 'dropdown-toggle' %>
        <div class="dropdown-menu">
          <div class="arrow"></div>
          <ul>
            <li><%= link_to t('.by_author'), tasks_path %></li>
            <li><%= link_to t('.by_assignee'), tasks_path %></li>
            <li><%= link_to t('.by_date'), tasks_path %></li>
            <li><%= link_to t('.by_status'), tasks_path %></li>
            <li><%= link_to t('.by_title'), tasks_path %></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <!-- Request for Travel and Expense -->
  <div class="block block-secondary" ng-if="task.type=='TravelTask' || task.type=='ExpenseTask'">
    <%= form_tag do %>
    <div class="form-group">
      <div class="col-xs-6">
        <label>Title</label>
        <input class="form-control" type="text" ng-model="task.name">
      </div>
      <div class="col-xs-6">
        <label>Description</label>
        <input type="text" class="form-control" ng-model="task.description">
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-3">
        <label>From</label>
        <div class="input-group">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control" ng-model="task.start_at">
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <label>To</label>
        <div class="input-group">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control" ng-model="task.end_at">
          </div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-6">
        <label>Who is approving this?</label>
        <%#= collection_select(:task, :assignee_id, current_user.following_users, :id, :name, {},class: "form-control selectpicker", "ng-model": "task.assignee") %>
        <select ng-model="task.assignee" class="form-control selectpicker">
          <%#= options_from_collection_for_select(current_user.following_users, :id, :name) %>
        </select>
      </div>
      <div class="col-xs-6">
        <label>Who is this request for?</label>
        <%#= collection_select(:task, :user_id, User.all, :id, :name, {},class: "form-control selectpicker") %>
        <select ng-model="task.user" class="form-control selectpicker">
          <%#= options_from_collection_for_select(User.all, :id, :name) %>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-xs-12">
        <div class="pull-left">
          <button type="button" class="btn btn-primary" ng-click="submit()">Create Request</button>
          <a class="btn btn-link link-gray" ng-click="task.type='';task.name=''">Cancel</a>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <!-- End Request for Travel and Expense -->

  <!-- Request for Time Off -->
  <div ng-if="task.type=='TimeoffTask'">
    <div class="block block-secondary">
      <div class="block-body pb0">
        <div class="block block-alt mb0">
          <div class="block-body text-muted">
            You are requesting a <strong>Vacation</strong> from <strong>20th February, 2015 to 23rd February, 2015</strong>. A total of <strong>2 days</strong> will be deducted from your remaining vacation days. You have <strong>8 vacation days</strong> remaining,
          </div>
        </div>
      </div>
      <%= form_tag class: 'pt0' do %>
      <div class="form-group">
        <div class="col-xs-6">
          <label>Title</label>
          <input class="form-control" type="text" ng-disabled="true">
        </div>
        <div class="col-xs-6">
          <label>Description</label>
          <input type="text" class="form-control" ng-model="task.description">
        </div>
      </div>
      <div class="form-group datepicker">
        <div class="col-xs-3">
          <label>Type</label>
          <select class="form-control selectpicker" ng-model="task.name">
            <option value="sick">Sick Leave</option>
            <option value="personal">Vacation</option>
          </select>
        </div>
        <div class="col-xs-5 no-padding">
          <label>From</label><br>
          <div class="input-group">
            <div class="col-xs-7 no-padding">
              <div class="input-icon pull-left">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" ng-model="task.start_at">
              </div>
            </div>
            <div class="checkbox-inline custom-checkbox ml10">
              <label>
                <input type="checkbox" class="pull-left" ng-model="task.ishalfday">
                <span class="input-checkbox"></span>
                Half Day
              </label>
            </div>
          </div>
        </div>
        <div class="col-xs-3 datepicker-to no-padding">
          <div class="calendar-to">
            <label>To</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control" ng-model="task.end_at">
              </div>
            </div>
          </div>
          <div id="ampm" class="am-pm">
            <label>Which part of the day?</label>
            <div class="btn-group">
              <label class="btn btn-combo" ng-click="task.halfday='am'" btn-radio="'AM'">AM</label>
              <label class="btn btn-combo" ng-click="task.halfday='pm'" btn-radio="'PM'">PM</label>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <label>Who is approving this?</label>
          <%#= collection_select(:task, :assignee_id, current_user.following_users, :id, :name, {},class: "form-control selectpicker") %>
          <select ng-model="task.assignee" class="form-control selectpicker">
            <%#= options_from_collection_for_select(current_user.following_users, :id, :name) %>
          </select>
        </div>
        <div class="col-xs-6">
          <label>Who is this request for?</label>
          <%#= collection_select(:task, :assignee_id, User.all, :id, :name, {},class: "form-control selectpicker") %>
          <select ng-model="task.user" class="form-control selectpicker">
            <%#= options_from_collection_for_select(User.all, :id, :name) %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-6">
          <label>Memo</label>
          <textarea rows="2" class="form-control"></textarea>
        </div>
        <div class="col-xs-6">
          <label>Attachment</label>
          <div class="input-file">
            <%= link_to raw('Upload'), tasks_path, class: "btn btn-upload" %>
            <input type="file">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="pull-left">
            <button type="button" class="btn btn-primary" ng-click="submit()">Create Request</button>
            <a class="btn btn-link link-gray" ng-click="task.type='';task.ishalfday=false;task.halfday='';task.name=''">Cancel</a>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <!-- End Request for Time Off -->

  <div class="row">
    <div class="col-md-12">
      <!-- Start Block -->
      <div class="block block-default list-block" ng-repeat="task in tasks" >
        <div class="block-body">
          <a class="link-wrapper" href="{{ task.url.replace('.json', '') }}">
            <span class="circle-icon icon-money"></span>
            <h4 class="block-title">{{ task.name }}
              <span class="label label-{{task.workflow_state.toLowerCase()}}">{{ task.workflow_state.toUpperCase() }}</span>
            </h4>
            <span class="list-desc">
              {{ task.start_at | date: "MM-dd-yyyy" }}
              to
              {{ task.end_at | date: "MM-dd-yyyy" }}
            </span>
            <div class="attributes">
              <span am-time-ago="task.created_at"><i class="pi pi-clock"></i>{{ task.created_at | amTimeAgo }}</span>
              <span><i class="pi pi-person"></i> Submitted by {{task.author.name }}.</span>
              <span><i class="pi pi-person"></i> Assigned to {{ task.assignee.name }}.</span>
              <span><i class="pi pi-person"></i> Request for {{ task.user.name }}.</span>
            </div>
          </a>
          <div class="block block-alt mt10 last-conversation">
            <div class="block-body clearfix">
              <div class="avatar">
                <div class="avatar-img">
                  <img alt="Img avatar default" class="img-circle" src="/assets/img-avatar-default.png">
                  <div class="avatar-initials">VG</div>
                </div>
              </div>
              <h4 class="pull-left">Vito Goh</h4>
              <span class="pull-right text-12 text-muted-light">less than a minute ago</span>
              <p class="msg text-14 text-primary">Have fun . =)</p>
            </div>
          </div>
        </div>
      </div>
      <!-- // End Block -->
    </div>
  </div>

</div>
