<% content_for :breadcrumb do %>
<div class="breadcrumb">
  <%= link_to raw('<i class="pi pi-arrow-back"></i> Back to Tasks'), tasks_path %>
</div>
<% end %>

<div class="pages">
<%= render :partial => 'tasks/partials/task_new' %>
<%= render :partial => 'tasks/partials/timeoff_new' %>

<!--<%= render 'form' %>-->
</div>
