<% content_for :javascript do %>
<script type="text/javascript">
$(function(){
  var stickyHeaderPos = $(".sticky-header").offset().top + $(".sticky-header").height();
  var scrollPos = 0;

  $(window).on('scroll', function(){
    scrollPos = $(window).scrollTop();

    if(scrollPos > stickyHeaderPos){
      $(".sticky-header").addClass("affix");
    }else{
      $(".sticky-header").removeClass("affix");
    }
  })
})
</script>
<% end %>
<% content_for :breadcrumb do %>
<div class="breadcrumb">
  <%= link_to raw('<i class="pi pi-arrow-back"></i> Back to Tasks'), tasks_path %>
</div>
<div class="page-actions">
  <% if current_user == @task.assignee %>
  <%= link_to 'Approve', approve_task_path, class: "btn btn-sm btn-primary" ,method: :post%>
  <% end %>
  <div class="dropdown">
    <%= link_to raw('Assign To <span class="caret"></span>'), 'javascript:;', class: "btn btn-sm btn-secondary dropdown-toggle" %>
    <div class="dropdown-menu">
      <div class="arrow"></div>
      <ul>
        <% if @task.user.present? %>
        <% @task.user.following_users.each do |user| %>
        <li><%= link_to user.name, user_path(id: user.id) %></li>
        <% end %>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="btn-group">
    <%= link_to raw('<i class="pi pi-chevron-left"></i>'), 'javascript:;', class: "btn btn-sm btn-secondary-light" %>
    <%= link_to raw('<i class="pi pi-chevron-right"></i>'), 'javascript:;', class: "btn btn-sm btn-secondary-light" %>
  </div>
</div>
<% end %>
<div class="pages tasks" ng-cloak="true" ng-controller="TaskDetailCtrl" ng-init="task = <%= @taskdict.to_json %>; hours = <%= @hours.to_json %>">
  <div class="heading">
    <span class="circle-icon icon-money">
    </span>
    <%= link_to raw('<i class="pi pi-edit"></i> Edit'), edit_task_path, class: "link-gray pull-right link-edit" %>
    <h2><%= @task.name %></h2>
    <span class="task-detail-description"><%= @task.description %></span><br>
    <span class="task-detail-duration"><%= @task.start_at.strftime("%b %d, %Y") %> to <%= @task.end_at.strftime("%b %d, %Y") %></span><br>
    <h4 class="status-label"><span class="label label-pending"><%= @task.workflow_state.upcase %></span></h4>
    <div class="attributes">
      <span><i class="pi pi-clock"></i> <%= time_ago_in_words(@task.created_at) %> ago</span>
      <span><i class="pi pi-person"></i> Submitted by
        <li>
          <% if @task.author.present? %>
          <%= link_to @task.author.name, user_path(id: @task.author.id) %>
          <% end %>
        </li>
      </span>
      <span><i class="pi pi-person"></i> Assigned to
        <li>
          <% if @task.assignee.present? %>
          <%= link_to @task.assignee.name, user_path(id: @task.assignee.id) %>
          <% end %>
        </li>
      </span>
      <span><i class="pi pi-person"></i> Request for
        <li>
          <% if @task.user.present? %>
          <%= link_to @task.user.name, user_path(id: @task.user.id) %>
          <% end %>
        </li>
      </span>
    </div>
  </div>
  <!-- Expense Import Partial -->
  <%= render :partial => 'tasks/partials/expense_import' %>
  <!-- // End Expense Import Partial -->
  <!-- Expense Detail Partial -->
  <%= render :partial => 'tasks/partials/expense_detail' %>
  <!-- // End Expense Detail Partial -->
  <!-- Travel Detail Partial -->
  <%= render :partial => 'tasks/partials/travel_detail' %>
  <!-- // End Travel Detail Partial -->
  <!-- Time Off Detail Partial -->
  <%= render :partial => 'tasks/partials/timeoff_detail' %>
  <!-- // End Time Off Detail Partial -->
  <!-- Page Activities Partial -->
  <div class="page-activities">
    <h2>Activities</h2>
    <div class="row">
      <div class="col-xs-10 col-xs-offset-2">
        <div class="activities">
          <%= render :partial => 'public_activity/form', locals: {trackable_type:@task.class.to_s, trackable_id:@task.id } %>        
          <div class="activities-msg">
            <%= render_activities(@task.activities, layout: :activity) %>
          </div>
          
          <div class="text-center">
            <button class="btn btn-md btn-secondary show-more" type="button">Show 3 Older Activities</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- // End Page Activities Partial -->
