<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt mb0 signin">
    <div class="block-body">
      <h2 class="block-title">Sign in</h2>

      <%= form_tag(users_company_verify_path, method: :post, :html => { :role => 'form', class: 'mt40'}) do |f| %>
        <%= render 'layouts/messages' %>

        <div class="form-group clearfix">
          <%= label_tag :subdomain, 'Your Company URL' %>
          <div class="input-group">
            <%= text_field_tag :subdomain, @subdomain, readonly: @subdomain.present?, :autofocus => @subdomain.blank?, class: 'form-control' %>
            <div class="input-group-addon">.pandohr.com</div>
          </div>
        </div>

        <div class="clearfix">
          <%= submit_tag 'Sign In', :class => 'btn btn-md btn-primary pull-left' %>
          <% if devise_mapping.registerable? %>
            <div class="pull-right text-12 text-muted mt10">
              Not signed up yet?
              <%= link_to "Sign Up Now", new_user_registration_path %>
            </div>
          <% end %>
        </div>
      <% end %>

    </div>
  </div>
</div>
