<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt mb0 signin">
    <div class="block-body">
      <h2 class="block-title">Sign in</h2>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form', class: 'mt40'}) do |f| %>
        <%= render 'layouts/messages' %>

        <div class="form-group clearfix">
          <%= f.label :subdomain %>
          <div class="input-group">
            <%= text_field_tag "user[subdomain]", @subdomain, readonly: @subdomain.present?, :autofocus => @subdomain.blank?, class: 'form-control' %>
            <div class="input-group-addon">.pandohr.com</div>
          </div>
        </div>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: @subdomain.present?, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>

        <% if devise_mapping.rememberable? %>
          <div class="form-group clearfix">
            <div class="checkbox-inline custom-checkbox pull-left">
              <label>
                <%= f.check_box :remember_me %>
                <span class="input-checkbox"></span>
                Remember Me
              </label>
            </div>
            <% if devise_mapping.recoverable? %>
              <%= link_to "Forgot password?", new_password_path(resource_name), class: 'btn btn-sm pull-right no-horizontal-padding' %>
            <% end %>
          </div>
        <% end %>

        <div class="clearfix">
          <%= f.submit 'Sign In', :class => 'btn btn-md btn-primary pull-left' %>
          <% if devise_mapping.registerable? %>
            <div class="pull-right text-12 text-muted mt10">
              Not signed up yet?
              <%= link_to "Sign Up Now", new_user_registration_path %>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
