<div class="activity">
  <div class="avatar">
    <span class="timestamp"><%= time_ago_in_words(Time.now) %></span>
    <div class="avatar-img">
      <img alt="Img avatar default" class="img-circle" src="/assets/img-avatar-default.png">
      <div class="avatar-initials">
        <%= a.owner.name.split(' ').map{|w| w.first}.join.upcase %>
      </div>
    </div>
  </div>
  <div class="block block-default no-border">
    <%= a.parameters[:msg] %>
  </div>
</div>
