<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label>{{ I18n.t('js.templates.users.team') }}</label>
      <select ng-model="setTeamId" class="form-control" ng-options="item.id as item.name for item in teams">
      </select>
    </div>
  </div>
</div>
<div class="form-group">
  <button type="text" class="btn btn-link no-padding" ng-click="addNewTeam()"><i class="fa fa-plus"> {{ I18n.t('js.templates.users.add_new_team') }}</i></button>
</div>
<div class="form-group form-inline" ng-show="newTeam">
  <form id="newTeamForm" name="newTeamForm" class="form-horizontal" ng-submit="saveTeam(newTeamForm.$valid)" novalidate>
    <div class="row">
      <div class="col-md-5">
        <input type="text" class="form-control" name="team_name" placeholder={{I18n.t('js.templates.users.placeholder_team_name')}} ng-model="teamName" required>
        <p ng-show="newTeamForm.team_name.$invalid && newTeamForm.team_name.$dirty" class="errors">{{ I18n.t('js.templates.users.team_required') }}</p>
      </div>
      <div class="col-md-4">
        <input type="submit" class="btn btn-green" value={{I18n.t('js.templates.users.submit')}}>
        <input type="button" class="btn btn-default" value={{I18n.t('js.templates.users.close')}} ng-click="cancelAddTeam()">
      </div>
  </form>
</div>
