<div class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header" ng-show="title">
        <button type="button" class="close" ng-click="$hide()">&times;</button>
        <h4 class="modal-title" ng-bind="title"></h4>
      </div>
      <div class="modal-body" ng-bind="content"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">{{ I18n.t('js.templates.users.close') }}</button>
        <button type="button" class="btn btn-primary" ng-click="submitSetTeam()"> {{ I18n.t('js.templates.users.save') }}</button>
      </div>
    </div>
  </div>
</div>
