<div class="form-group">
  <div class="row">
    <div class="col-md-6">
      <label>{{ I18n.t('js.templates.users.location') }}</label>
      <select ng-model="setLocationId" class="form-control" ng-options="item.id as item.name for item in locations"></select>
    </div>
  </div>
</div>
<div class="form-group">
  <button type="text" class="btn btn-link no-padding" ng-click="addNewLocation()"><i class="fa fa-plus"> {{ I18n.t('js.templates.users.add_new_location') }}</i></button>
</div>
<div class="form-group form-inline" ng-show="newLocattion">
  <form id="newLocationForm" name="newLocationForm" class="form-horizontal" ng-submit="saveLocation(newLocationForm.$valid)" novalidate>
    <div class="row">
      <div class="col-md-5">
        <input type="text" name="location_name" class="form-control" placeholder={{I18n.t('js.templates.users.placeholder_location_name')}} ng-model="locationName" required>
        <p ng-show="newLocationForm.location_name.$invalid && newLocationForm.location_name.$dirty" class="errors">{{ I18n.t('js.templates.users.location_required') }}</p>
      </div>
      <div class="col-md-4">
        <input type="submit" class="btn btn-green" value= {{I18n.t('js.templates.users.submit')}}>
        <input type="button" class="btn btn-default" value= {{I18n.t('js.templates.users.close')}} ng-click="cancelAddLocation()">
      </div>
    </div>
  </form>
</div>
