<% if credit_card.token.blank? %>
  <%= f.input :card_type,                 prompt: 'Select a Card', collection: CreditCard::CARD_TYPES %>
<% end %>

<%= f.input :cardholder_name,           label: 'Name on Card' %>

<% if credit_card.token.blank? %>
  <%= f.input :masked_number,             input_html: { maxlength: 16, readonly: credit_card.token.present? } %>
<% end %>

<div class="row">
  <div class="col-xs-6">
    <div class="form-group">
      <label>Expiration</label>
      <div class="expiration">
        <%= f.text_field :expiration_month, class: 'form-control', placeholder: 'mm' %>
        / <%= f.text_field :expiration_year, class: 'form-control', placeholder: 'yyyy' %>
      </div>
    </div>
  </div>

  <% if credit_card.token.blank? %>
    <div class="col-xs-6 pl0">
      <%= f.input "cvv", as: :password, label: 'Security Code', input_html: { maxlength: 4 } %>
    </div>
  <% end %>
</div>