
<%= f_address.input :company, label: 'Company Name' %>
<%= f_address.input :street_address %>
<%= f_address.input :extended_address, label: 'Optional address' %>

<div class="row">
  <div class="col-xs-6">
    <%= f_address.input :locality, label: 'City' %>
  </div>
  <div class="col-xs-6">
    <%= f_address.input :region, label: 'Province / State' %>
  </div>
</div>

<div class="row">
  <div class="col-xs-6">
    <%= f_address.input :postal_code %>
  </div>

  <div class="col-xs-6">
    <%= f_address.input :country_code_alpha2, as: :country, prompt: 'Select a Country', label: 'Country' %>
  </div>
</div>
