<div bs-pane title="Transaction Logs" name="Transaction Logs">
  <div class="block block-alt">
    <div class="block-body">
      <h2 class="block-title">Transaction Logs</h2>

      <table class="table table-striped">
        <thead>
          <tr>
            <th>ID</th>
            <th>Plan</th>
            <th>CC Information</th>
            <th>Status</th>
            <th>Amount</th>
            <th>Created</th>
          </tr>
        </thead>

        <tbody>
          <% @braintree_customer.transactions.each do |transaction| %>
            <tr>
              <td><%= transaction.id %></td>
              <td><%= transaction.plan_id %></td>
              <td>
                <%= transaction.credit_card_details.masked_number %>
                <br />
                <%= image_tag transaction.credit_card_details.image_url %>
              </td>
              <td><%= transaction.status %></td>
              <td><%= number_to_currency(transaction.amount, unit: '$') %> <%= transaction.currency_iso_code %></td>
              <td><%=l transaction.created_at, format: :long %></td>
            </tr>
          <% end %>
        </tbody>

      </table>
    </div>
  </div>
</div>
