<div bs-pane title="Subscrption" name="Subscription" >
  <div class="block block-alt">
    <div class="block-body">
      <h2 class="block-title">Subscription Details</h2>

      <% if current_company.subscription.uid.present? %>
        <div class="row mt40">
          <div class="col-xs-6">
            <div ng-if="!showFormBilling">
              <div class="block block-secondary">
                <div class="block-heading text-right pb0">
                  <a href="javascript:;" title="Click to edit" ng-click="showFormAddressAndCard(true)" class="link-gray"><i class="fa fa-pencil-square-o"></i></a>
                </div>

                <div class="block-body pt0">
                  <p>
                    <%= @billing_address.company %>
                    <br />
                    <%= @billing_address.street_address %>
                    <br />
                    <% if @billing_address.extended_address.present? %>
                      <%= @billing_address.extended_address %>
                      <br />
                    <% end %>
                    <%= @billing_address.locality %>, <%= [@billing_address.region, @billing_address.postal_code].compact.join ' ' %>
                    <br />
                    <%= @billing_address.country_name %>
                  </p>
                </div>
              </div>

              <div class="saved-cc">
                <div class="clearfix">
                  <p class="pull-left">Saved Credit Card</p>
                </div>

                <% @braintree_customer.payment_methods.each do |payment_method| %>
                  <div class="block block-secondary">
                    <div class="block-body">
                      <div class="clearfix text-14">
                        <%= image_tag credit_card_logo(payment_method), class: 'pull-left mr10' %>
                        <p class="pull-left credit-info">
                          <span class="">Ending in <%= payment_method.last_4 %></span>
                          <br />
                          <span class=""><%= payment_method.expiration_month %>/<%= payment_method.expiration_year %></span>
                          <br />
                          <% if payment_method.default? %>
                            <span class=""><strong>(Default)</strong></span>
                          <% end %>
                        </p>

                        <% unless payment_method.default? %>
                          <p class="pull-right credit-info">
                            <%= link_to company_admin_credit_card_path(payment_method.token), method: :delete, title: 'Remove credit card', data: { confirm: 'Are you sure to remove this credit card?' } do %>
                              <span class="fa fa-trash"></span>
                            <% end %>
                          </p>
                        <% end %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <%= form_tag company_admin_credit_cards_path, method: :post, id: 'new-payment-form', 'ng-if' => "showNewPayment" do %>
                  <div class="" id="new-credit-card-container"></div>

                  <div class="form-group">
                    <div class="custom-checkbox">
                      <label>
                        <%= check_box_tag :default, '1', false %>
                        <span class="input-checkbox"></span>
                        Set as default
                      </label>
                    </div>
                  </div>

                  <div class="form-group">
                    <button type="submit" class="btn btn-md btn-green">Update payment</button>
                    <a href="javascript:;" class="btn btn-sm btn-link link-gray" ng-click="showNewCreditCardForm(false)">Cancel</a>
                  </div>
                <% end %>

                <%= link_to 'Manage Credit Cards', 'javascript:void(0)', class: 'btn btn-sm btn-primary btn-block', 'ng-if' => '!showNewPayment', 'ng-click' => "showNewCreditCardForm(true)" %>
              </div>
            </div>

            <div ng-if="showFormBilling">
              <%= simple_form_for @billing_address, as: :billing_address, url: company_admin_billing_address_path, method: :put, html: { id: 'payment-form' } do |f| %>
                <%= render 'form_billing_address', f_address: f, billing_address: @billing_address %>
                <div class="block-body text-center slider-block" id="credit-card-container"></div>

                <div class="form-group">
                  <button type="submit" class="btn btn-md btn-green">Save Changes</button>
                  <a href="javascript:;" class="btn btn-sm btn-link link-gray" ng-click="showFormAddressAndCard(false)">Cancel</a>
                </div>
              <% end %>
            </div>
          </div>

          <div class="col-xs-6">
            <% if @braintree_subscription.balance.abs > 0 %>
              <div class="block block-alt">
                <div class="block-body">
                  <div class="text-center">
                    <p>You have balance: </p>
                    <div class="price">
                      <span><%= @plan.currency_iso_code %></span>
                      <span class="value"><%= @braintree_subscription.balance.abs %></span>
                    </div>

                    <h3 class="text-normal">In your account</h3>
                  </div>
                </div>
              </div>
            <% end %>

            <div class="block block-alt" ng-if="!showChangePlan">
              <div class="block-body">
                <div class="text-center">
                  <p>Your current plan's monthly fee is</p>
                  <div class="price">
                    <span><%= @plan.currency_iso_code %></span>
                    <span class="value"><%= @plan.price.to_i %></span>
                  </div>

                  <p class="mt10 mb40">and supports up to <strong><%= @plan.num_employees %> employees</strong></p>
                  <h3 class="text-normal">You current have <%= current_company.users.length %> employees</h3>
                  <div class="progress mt20 mb20">
                    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%= current_company.users.length %>" aria-valuemin="0" aria-valuemax="<%= @plan.num_employees %>" style="width: 0%">
                      <span class="sr-only">60% Complete</span>
                    </div>
                  </div>
                  <%= link_to 'Change Plan', '', 'ng-click' => "changePlan()", class: 'btn btn-lg btn-primary mt20' %>
                </div>
              </div>
            </div>

            <div class="block block-alt" ng-if="showChangePlan">
              <div class="block-body text-center slider-block">
                <%= simple_form_for OpenStruct.new({}), as: :subscription, url: change_plan_company_admin_plan_and_billings_path, method: :put, html: { 'ng-if' => "showChangePlan" } do |f| %>
                  <div class="price"><span>$</span><span class="value"><%= current_plan.price.to_i %></span></div>
                  <span class="text-muted">per month</span>

                  <div class="h4 mt20 mb20 text-muted">
                    for up to
                    <strong>
                      <span id="priceSliderVal"><%= current_plan.num_employees %></span>
                      employees
                    </strong>
                  </div>

                  <%= f.hidden_field :plan, 'data-slider-id' => 'price', 'data-slider-min' => "5", 'data-slider-max' => 50, 'data-slider-step' => '5', 'data-slider-value' => (current_plan.price.to_i + 5), id: 'priceSlider' %>

                  <p>
                    You current have
                    <strong><%= current_company.users.length %> employees</strong>
                  </p>

                  <button type="submit" class="btn btn-lg btn-block btn-primary mt20">
                    <i class="fa fa-lock"></i>
                    Change plan
                  </button>
                  <a ng-click="cancelChangePlan()" class="btn btn-sm link-gray">Cancel</a>
                <% end %>
              </div>
            </div>

          </div>
        </div>

      <% else %>
        <%= simple_form_for OpenStruct.new({}), as: :subscription, url: company_admin_plan_and_billings_path, method: :post, html: { id: 'payment-form' } do |f| %>
          <div class="row mt40">
            <!-- addresses -->
            <div class="col-xs-6">
              <div class="address-block">
                <%= f.fields_for :billing_address, OpenStruct.new({}) do |f_address| %>
                  <%= render 'form_billing_address', f_address: f_address %>
                <% end %>
              </div>
              <!-- end of address block -->
            </div>

            <!-- credit cards -->
            <div class="col-xs-6">
              <div class="block block-alt">
                <div class="block-body text-center slider-block" id="credit-card-container">
                </div>
              </div>
              <!-- end of credit card block -->

              <div class="block block-alt">
                <div class="block-body text-center slider-block">
                  <div class="price"><span>$</span><span class="value">0</span></div>
                  <span class="text-muted">per month</span>

                  <div class="h4 mt20 mb20 text-muted">
                    for up to
                    <strong>
                      <span id="priceSliderVal">5</span>
                      employees
                    </strong>
                  </div>

                  <%= f.hidden_field :plan, 'data-slider-id' => 'price', 'data-slider-min' => "5", 'data-slider-max' => 50, 'data-slider-step' => '5', 'data-slider-value' => 5, id: 'priceSlider' %>

                  <br />
                  <br />
                  <h3 class="text-normal">You current have <%= current_company.users.length %> employees</h3>

                  <button type="submit" class="btn btn-lg btn-block btn-primary mt20">
                    <i class="fa fa-lock"></i>
                    Upgrade
                  </button>
                </div>
              </div>

            </div>
          </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<% content_for :javascript do %>
  <script src="https://js.braintreegateway.com/v2/braintree.js"></script>
<% end %>