<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render 'shared/subnav/company', active: 'billing' %>
    </ul>
  </div>
<% end %>

<div class="pages billing" ng-cloak="true" ng-controller="PlanAndBillingIndexCtrl" ng-init="initCCForm = <%= current_company.subscription.uid.blank? %>; client_token = '<%= braintree_client_token(current_company) %>'; plans = <%= Plan.all.to_json %>; ">
  <div class="page-title">
    <h1 class="pull-left">Plans &amp; Billing</h1>
  </div>

  <div class="billing-details" bs-tabs bs-active-pane="tabs.activeTab">
    <%= render 'tab_billings' %>
    <%= render 'tab_logs' %>
  </div>
</div>
