<% user.properties ||= {} %>

<%= f.fields_for :properties, OpenStruct.new(user.properties || {}) do |builder| %>
  <% dyno_forms.each do |dyno_form| %>
    <% dyno_form.fields.each_with_index do |question, index| %>
    <div class="block block-alt">
      <div class="block-heading" bs-collapse-toggle>
        <h2 class="block-title">
          <%= link_to 'javascript:void(0)' do %>
            <%= question.properties["label"] %>
            <span class="caret"></span>
          <%end%>
        </h2>
      </div>
        <div class="block-body panel-collapse" bs-collapse-target>
          <div class="row">
            <div class="col-xs-12">
                <%= render "/private/form_entries/fields/#{question.field_type}", question: question, f: builder, index: index, answers: user.properties[question.id.to_s] %>
            </div>
          </div>
        </div>
    </div>
    <% end %>
  <% end %>
<% end %>
