<h2><%= t('.employment_details')%></h2>

<div class="row">
  <div class="col-xs-6">
    <%= f.input :first_name, required: false %>
  </div>
  <div class="col-xs-6">
    <%= f.input :last_name, required: false %>
  </div>
</div>

<%= f.fields_for :properties, OpenStruct.new(user.properties || {}) do |f_employment| %>
  <div class="row">
    <div class="col-xs-6">
      <%= f_employment.input :work_email, label: t('.work_email'), required: false %>
    </div>
    <div class="col-xs-6">
      <%= f_employment.input :office_phone_number, label: t('.office_phone_number'), required: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f_employment.input :join_on, label: t(".start_date"), wrapper: :prepend do %>
        <div class="input-icon">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <%= f.input_field :join_on, as: :string, class: 'form-control', data:{"bs-datepicker" => "", "date-format" => "yyyy-MM-dd", "ng-model" => "model_object.join_on"} %>
        </div>
      <% end %>
    </div>
    <div class="col-xs-6">
      <%= f_employment.input :employment_type, collection: [['Personal', 'personal']], required: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f_employment.input :backup_id, collection: current_company.users.where("users.id != ?", user.id || 0).all.map{|user| [user.name, user.id]}, label: t(".backup_person"), required: false %>
    </div>
    <div class="col-xs-6">
      <%= f.input :location_id, collection: current_company.locations.map{|location| [location.name, location.id] }, label: t(".office_location"), prompt: 'Select', required: false %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f.input :manager1_id, collection: current_company.users.where("users.id != ?", user.id || 0).map{ |user| [user.name, user.id] } %>
    </div>
    <div class="col-xs-6">
      <%= f.input :manager2_id, collection: current_company.users.where("users.id != ?", user.id || 0).map{ |user| [user.name, user.id] } %>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <%= f_employment.input :job_title, title: t(".job_title"), required: false %>
    </div>
    <div class="col-xs-6">
      <%= f.input :team_id, title: t(".team_name"), required: false, collection: current_company.teams.map{|t| [t.name, t.id]} %>
    </div>
  </div>
<% end %>
