<!-- Personal Information -->
<div class="block block-alt">
  <div class="block-heading" bs-collapse-toggle>
    <h2 class="block-title"><%= link_to raw("#{t('.personal_information')}<span class=\"caret\"></span>"),'javascript:;' %></h2>
  </div>

  <%= f.fields_for :personal, OpenStruct.new(user.personal || {}) do |f_personal| %>
    <div class="block-body panel-collapse" bs-collapse-target>
      <div class="row">
        <div class="col-xs-6">
          <%= f_personal.input :address, label: t(".address"), required: false %>
        </div>

        <div class="col-xs-6">
          <div class="row">
            <div class="col-xs-6">
              <%= f_personal.input :dob, label: t(".date_of_birth"), input_html: { class: 'datepicker' }, required: false %>
            </div>
            <div class="col-xs-6">
              <%= f_personal.input :social_id, label: t(".social_tax_id"), required: false %>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <%= f_personal.input :address_optional, label: t('.address_optional'), required: false %>
        </div>
        <div class="col-xs-3">
          <%= f_personal.input :gender, collection: [['Male', 'male'], ['Female', 'female']], prompt: 'Select', required: false %>
        </div>
        <div class="col-xs-3">
          <%= f_personal.input :marital_status, collection: [['Single', 'single'], ['Married', 'married'], ['Divoced', 'divoced'], ['Widowed', 'widowed']], prompt: 'Select', required: false %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-2">
          <%= f_personal.input :city, label: t('.city'), required: false %>
        </div>
        <div class="col-xs-2">
          <%= f_personal.input :state, label: t('.state'), required: false %>
        </div>
        <div class="col-xs-2">
          <%= f_personal.input :zip, label: t('.zip'), required: false %>
        </div>
        <div class="col-xs-6">
          <%= f_personal.input :country, label: t('.country'), prompt: 'Select', required: false %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- End Personal Information -->