<%= simple_form_for([:company, @trackable, @activity], :html => {:class => "comment-input", :multipart => true}) do |f| %>
<%= f.error_notification %>
<%= f.input_field :key, :as => :hidden, :value => "timeoff.comment_on" %>
  <div class="form-group">
    <%= f.fields_for :parameters do |b| %>
      <%= b.input_field :msg, :as => :text, class: "form-control", rows: '4' %>
    <%end%>
  </div><%= f.button :submit, class: "btn btn-primary", value: "Send" %>
  <div class="input-file input-file-link">
    <a href="/timeoffs"><i class="pi pi-paperclip"></i> Attach File</a> <%= f.file_field :attachments, multiple: true %>
  </div>
<% end %>
