<% content_for :subnav do %>
  <div class="subnav">
    <ul>
     <%= render 'shared/subnav/company', active: 'teams' %>
    </ul>
  </div>
<% end %>


<div class="pages team">
  <div class="heading">
    <span class="circle-icon fa fa-group"></span>
    <h2>Edit Team</h2>
  </div>


  <div class="block block-secondary">
    <div class="block-body">

      <%= simple_form_for([:company, @team]) do |f| %>
        <%= render 'form', team: @team, f: f %>
        <div class="form-group">
          <div class="pull-left">
        <%= f.submit 'Update', class: 'btn btn-sm btn-green' %>
        <%= link_to 'Cancel', company_teams_path, class: 'btn btn-sm btn-link link-gray' %>
      </div>
      <div class="pull-right">
        <%= link_to company_team_path(@team), class: "btn btn-link link-gray", method: :delete, data: { confirm: "Are you sure to delete this team?" } do %>
          <i class="fa fa-trash-o"></i>
          <%= t('.delete') %>
        <% end %>
      </div>
    </div>
      <% end %>
    </div>
  </div>
</div>
