<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render 'shared/subnav/company', active: 'teams' %>
    </ul>
  </div>
<% end %>

<div class="pages team" ng-cloak="true" ng-controller="TeamIndexCtrl">
  <div class="page-title">
    <h1 class="pull-left">Teams</h1>
    <%= link_to "javascript:void(0)", class: 'btn btn-lg btn-primary pull-right', 'ng-click' => "showNewTeam()" do %>
      <i class="pi pi-plus"></i>
      ADD A TEAM
    <% end %>
  </div>


  <div class="block block-secondary" id="new-team-container">
    <div class="block-body">
      <%= simple_form_for @team, url: company_teams_path do |f| %>
        <%= render 'form', team: @team, f: f %>
        <%= f.submit 'Create', class: 'btn btn-sm btn-green' %>
        <%= link_to 'Cancel', 'Javascript:;', class: 'btn btn-sm btn-link link-gray', 'ng-click' => "hideNewTeam()" %>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <% @teams.each do |team| %>
        <div class="block block-default list-block">
          <div class="block-body">
            <%= link_to edit_company_team_path(team), class: 'link-wrapper' do %>
              <span class="circle-icon fa fa-group"></span>
              <h4 class="block-title"><%= team.name %></h4>
              <span class="list-desc">
                <i class="pi pi-person"></i>
                <%= team.users.size %> employees in this team
              </span>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>

</div>
