<% content_for :subnav do %>
  <div class="subnav">
    <ul>
     <%= render 'shared/subnav/company', active: 'teams' %>
    </ul>
  </div>
<% end %>


<div class="pages team">
  <div class="page-title">
    <h1 class="pull-left">New Team</h1>
  </div>


  <div class="block block-alt">
    <div class="block-body">

      <%= simple_form_for([:company, @team]) do |f| %>
        <%= render 'form', team: @team, f: f %>
        <%= f.submit 'Create', class: 'btn btn-sm btn-green' %>
        <%= link_to 'Cancel', company_teams_path, class: 'btn btn-sm btn-link link-gray', 'ng-click' => "hideNewLocation()" %>
      <% end %>
    </div>
  </div>
</div>
