<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @team.description %>
</p>

<p>
  <strong>Company:</strong>
  <%= @team.company %>
</p>

<p>
  <strong>Handle travel:</strong>
  <%= @team.handle_travel %>
</p>

<p>
  <strong>Handle accounting:</strong>
  <%= @team.handle_accounting %>
</p>

<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
