<p>
  Hi <%= @user.name %>,
</p>

<p>
  There is task entry just canceled.
</p>

<p>
  You see detail of this task entry request by click this
  <%= link_to 'link', company_form_entry_url(@form_entry, subdomain: @company.url) %>
</p>