<p>
  Hi <%= @user.name %>,
</p>

<p>
  There is timeoff request just approved:
  <br />

  <strong>Name: </strong>
  <%= @timeoff.name %>
  <br />

  <strong>User: </strong>
  <%= @timeoff.user.name %>
  <br />

  <strong>Author: </strong>
  <%= @timeoff.author.name %>
  <br />
</p>

<p>
  You see detail of this timeoff request by click this
  <%= link_to 'link', company_timeoff_url(@timeoff, subdomain: @company.url) %>
</p>