<p>
  Hi <%= @assignee.name %>,
</p>

<p>
  There is a new timeoff request that assigned to you:
  <br />

  <strong>Name: </strong>
  <%= @timeoff.name %>
  <br />

  <strong>User: </strong>
  <%= @timeoff.user.name %>
  <br />

  <strong>Author: </strong>
  <%= @timeoff.author.name %>
  <br />

</p>

<p>
  You can review this timeoff request by click this
  <%= link_to 'link', company_timeoff_url(@timeoff, subdomain: @company.url) %>
</p>