.form-group.pt10
  .pull-left
    = f.submit 'Save & Continue', class: 'btn btn-md btn-green'
  .pull-right
    = link_to company_timeoff_policy_path(@timeoff_policy), method: :delete, data: { confirm: "Are you sure to delete this policy?" }, class: 'btn btn-sm btn-link link-gray mt10' do
      i.pi.pi-trash-o.text-danger
      | Delete Policy