#time-off-categories.block.block-alt.list-block
  .block-body
    h2.block-title
      = t('.time_off_categories')
    p.text-muted
      = t('.time_off_categories_text')
    .table-view.mt40
      table.table.table-striped
        thead
          tr
            th = t('.time_off_category')
            th = t('.count_as_PTO')
            th.text-right = t('.actions')
        tbody id="timeoff-types-form"
          - timeoff_policy.timeoff_types = [{name: '', type: ''}] if timeoff_policy.timeoff_types.blank?
          = f.fields_for :timeoff_types_attribute do |f_row|
            javascript:
              var timeoff_type_partial = "#{escape_javascript render('timeoff_type', f: f_row, timeoff_policy: timeoff_policy) }";

            - timeoff_policy.timeoff_types.each_with_index do |timeoff_type, idx|
              = render 'timeoff_type', f: f_row, timeoff_policy: timeoff_policy, idx: idx, timeoff_type: timeoff_type

    button.btn.btn-md.btn-link type="button" ng-click="addNewTimeoffType()"
      i.pi.pi-plus
        = t('timeoff_policies.show.tab3.add_to_new_category')


= render '/private/timeoff_policies/partials/save_continue', f: f

  <!-- // End Time Off Categories -->