<!-- checkbox -->
<%= f.input question.id.to_s, as: :check_boxes, label: question.properties['label'], hint: question.properties['hint'], collection: (question.properties['select_options'] || []).map{|item| [item['label'], item['value']] }, required: question.required %>