<!-- date -->
<%= f.input question.id.to_s, label: question.properties['label'], hint: question.properties['hint'], required: question.required, wrapper: :prepend do %>
  <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
  <%= f.input_field question.id.to_s, as: :string, class: 'form-control', placeholder: question.properties['placeholder'], data:{"bs-datepicker" => "", "date-format" => "yyyy-MM-dd", "ng-model" => question.id.to_s} %>
<% end %>
