<% @entry.answers ||= {} %>
<% hash = @entry.answers[question.id.to_s] %>

<%= f.fields_for question.id.to_s, OpenStruct.new(hash) do |f_range| %>
  <!-- range -->
  <div class="input string <%= question.required %>">
    <%= f_range.label :range, class: 'control-label' do %>
      <% if question.required %>
        <abbr title="required">*</abbr>
      <% end %>
      <%=  question.properties['label'] %>
    <% end %>

    <div class="row">
      <div class="col-xs-6">
        <%= f_range.input :from, as: :string, label: false, input_html: { class: 'datetimepicker', placeholder: 'From', "data-date-format" => "DD/MM/YYYY hh:mm A" } %>
      </div>

      <div class="col-xs-6">
        <%= f_range.input :to,   as: :string, label: false, input_html: { class: 'datetimepicker', placeholder: 'To', "data-date-format" => "DD/MM/YYYY hh:mm A" } %>
      </div>
    </div>

    <% if question.properties['hint'].present? %>
      <p class="help-block">
        <%= question.properties['hint'] %>
      </p>
    <% end %>
  </div>
<% end %>