<%= f.input question.id.to_s, collection: (question.properties['select_options'] || []).map{|item| [item['label'], item['value']]},
                              label: question.properties['label'],
                              hint: question.properties['hint'],
                              required: question.required,
                              prompt: question.properties['prompt'].present? ? question.properties['prompt'] : false %>