<% object = f.object %>

<!-- file upload -->
<div class="dyno-field-file">
  <%= f.input question.id.to_s, as: :file, label:  question.properties['label'], hint:  question.properties['hint'], required: question.required, input_html: { class: 'form-control', multiple: question.properties['multiple'] == '1' } %>
  <% if object[question.id.to_s].present?  %>

    <% if question.properties['multiple'] == '1' %>
      <p class="help-block">
        Uploaded file:
        <br />
        <% object[question.id.to_s].each_with_index do |file, idx| %>
          <%= link_to file.split('/').last, file, target: :blank %>
          <%= link_to destroy_attachment_company_form_entry_path(entry, question, index: idx), method: :delete, data: { confirm: 'Are you sure to delete this attachment?' } do %>
            <i class="fa fa-trash"></i>
          <% end %>
          <br />
        <% end %>
      </p>

    <% else %>
      <p class="help-block">
        Uploaded file:
        <%= link_to object[question.id.to_s].split('/').last, object[question.id.to_s], target: :blank %>
        <%= link_to destroy_attachment_company_form_entry_path(entry, question), method: :delete, data: { confirm: 'Are you sure to delete this attachment?' } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </p>
    <% end %>
  <% end %>
</div>
