<% tax ||=  {} %>
<%= fe.fields_for "#{question.id.to_s}", OpenStruct.new(tax), index:"" do |f_row| %>
  <div class="row tax-entry">
    <div class="col-xs-2">
      <%= f_row.input_field :filling_status, collection: question.properties['tax_filling_status_options'].map{|m| [m['label'], m['value']]}, class: 'form-control', prompt: t('.select') %>
    </div>

    <div class="col-xs-3">
      <%= f_row.input_field :decline_with_holding, collection: question.properties['tax_decline_with_holdings'].map{|m| [m['label'], m['value']]}, class: 'form-control', prompt: t('.select') %>
    </div>

    <div class="col-xs-3">
      <%= f_row.input_field :with_holding_allowance, as: :string, class: 'form-control' %>
    </div>
    <div class="col-xs-4">
      <div class="pull-left">
      <%= f_row.input_field :additional_with_holding, as: :string, class: 'form-control' %>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-link btn-delete-row" onclick="$(this).closest('.tax-entry').remove()">
          <i class="fa fa-trash text-danger"></i>
        </button>
      </div>
    </div>
  </div>

<% end %>
