<% expense    ||= OpenStruct.new({}) %>
<% row_index  ||= 0 %>

<%= fe.fields_for "#{question.id.to_s}", OpenStruct.new(expense), index:"" do |f_row| %>
  <div class="block block-secondary expense-entry">
    <div class="row">
      <div class="col-xs-3">
        <label><%= t('.date') %></label>
        <div class="input-group">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <%= f_row.text_field :date, class: 'form-control', data:{ "bs-datepicker" => "", "date-format" => "yyyy-MM-dd", "ng-model" => "answers[#{question.id}][#{row_index}]['date']" }  %>
          </div>
        </div>
      </div>
      <div class="col-xs-3">
        <%= f_row.input :expense_type, collection: question.properties['categories'].map{|x| [x['label'], x['value']]}, required: false, label: t('.expense_type'), include_blank: false %>
      </div>
      <div class="col-xs-3">
        <%= f_row.input :purpose, collection: question.properties['purposes'].map{|x| [x['label'], x['value']]}, required: false, label: t('.purpose'), include_blank: false %>
      </div>
      <div class="col-xs-3">
        <%= f_row.input :payment, collection: question.properties['payments'].map{|x| [x['label'], x['value']]}, required: false, label: t('.payment'), include_blank: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <%= f_row.input :currency, collection: question.properties['currencies'].map{|x| [x['label'], x['value']]}, required: false, label: t('.currency'), include_blank: false %>
      </div>
      <div class="col-xs-2">
        <%= f_row.input :rate, as: :integer, label: t('.rate'), required: false %>
      </div>
      <div class="col-xs-2">
        <%= f_row.input :amount, as: :integer, label: t('.amount'), required: false %>
      </div>
      <div class="col-xs-6">
        <%= f_row.input :files, label: question.properties['label'], hint: question.properties['hint'], required: question.required, wrapper: :prepend do %>
          <%= f_row.input_field :files, as: :file, class: 'form-control', placeholder: question.properties['placeholder'], multiple: true %>
          <span class="input-group-addon">Upload</span>
        <% end %>

        <p class="help-block">
          Uploaded file:
          <br />
          <% (expense['files'] || []).each_with_index do |file, file_idx| %>
            <%= link_to file.split('/').last, file, target: :blank %>
            <%= link_to destroy_expense_attachment_company_form_entry_path(entry, question, row_index, file_idx), method: :delete, data: { confirm: 'Are you sure to delete this attachment?' } do %>
              <i class="fa fa-trash"></i>
            <% end %>
            <br />
          <% end %>
        </p>
      </div>
    </div>

    <%= f_row.input :memo, as: :text, label: t('.memo'), required: false, placeholder: 'Your memo here....' %>
    <%= f_row.hidden_field :status, class: 'status-field' %>

    <% if new_entry %>
      <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary" ng-click="submitNewDetailTask(newDetailExpenseTask)"><%= t('common.save') %></button>
        <a href="javascript:;" class="btn link-gray btn-link" onclick="$(this).closest('.expense-entry').remove()"><%= t('common.cancel') %></a>
      </div>
    <% else %>
      <div class="form-group">
        <button type="submit" class="btn btn-sm btn-primary" ng-click="submitNewDetailTask(newDetailExpenseTask)"><%= t('common.save') %></button>
        <% if expense['status'] != 'paid' %>
          <button class="btn btn-sm btn-green" onclick="$(this).closest('.expense-entry').find('.status-field').val('paid')">
            <%= t('.paid') %>
          </button>
        <% end %>
        <a href="javascript:void(0)" class="btn link-gray btn-link link-cancel"><%= t('common.cancel') %></a>
      </div>
    <% end %>
  </div>
<% end %>
