<% emergency ||= OpenStruct.new({}) %>
<%= fe.fields_for "#{question.id.to_s}", OpenStruct.new(emergency), index:"" do |f_row| %>
  <div class="row emergency-entry">
    <div class="col-xs-4">
      <div class="form-group">
        <%= f_row.input_field :name, class: 'form-control' %>
      </div>
    </div>

    <div class="col-xs-4">
      <div class="form-group">
        <%= f_row.input_field :relationship, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-4">
      <div class="pull-left">
      <%= f_row.input_field :phone_number, class: 'form-control' %>
      </div>
      <div class="pull-right">
        <button type="button" class="btn btn-link btn-delete-row" onclick="$(this).closest('.emergency-entry').remove()">
          <i class="fa fa-trash text-danger"></i>
        </button>
      </div>
    </div>
  </div>
<% end %>
