<% answers ||= {} %>
<% personal_hash  = answers[question.id.to_s] || {} %>

<div id="personal-field-<%= question.id %>" class="">
  <%= f.fields_for "#{question.id.to_s}",  OpenStruct.new(personal_hash) do |fe| %>
    <div class="row">
      <div class="col-xs-6">
        <%= fe.input :address, label: t('.address'), required: false %>
      </div>

      <div class="col-xs-6">
        <div class="row">
          <div class="col-xs-6">
            <%= fe.input :date_of_birth, label: t('.date_of_birth'), required: false, wrapper: :prepend do %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= fe.input_field :date_of_birth, as: :string, class: 'form-control', data:{"bs-datepicker" => "", "date-format" => "yyyy-MM-dd", "ng-model" => "date_of_birth"} %>
            <% end %>
          </div>
          <div class="col-xs-6">
            <%= fe.input :social_tax_id, label: t('.social_tax_id'), required: false %>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <%= fe.input :address_optional, label: t('.address_optional'), required: false %>
      </div>
      <div class="col-xs-3">
        <%= fe.input :gender, collection: question.properties['personal_genders'].map{|item| [item['label'], item['value']]}, label: t('.gender'), required: false %>
      </div>
      <div class="col-xs-3">
        <%= fe.input :marital_status, collection: question.properties['personal_marital_statuses'].map{|item| [item['label'], item['value']]}, label: t('.marital_status'), required: false %>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-2">
        <%= fe.input :city, label: t('.city'), required: false %>
      </div>
      <div class="col-xs-2">
        <%= fe.input :state, label: t('.state'), required: false %>
      </div>
      <div class="col-xs-2">
        <%= fe.input :zip, label: t('.zip'), required: false %>
      </div>
      <div class="col-xs-6">
        <%= fe.input :country, label: t('.country'), required: false %>
      </div>
    </div>

  <% end %>
</div>
