<!-- radio -->
<%= f.input question.id.to_s, as: :radio_buttons, collection: (question.properties['select_options'] || []).map{|item| [item['label'], item['value']] }, label:  question.properties['label'], hint:  question.properties['hint'], required: question.required %>