<% answers ||= ["filling_status" => "","decline_with_holding" => "","withholding_allowance" => "","additional_withholding" => ""] %>
<div id="tax-field-<%= question.id %>" class="tax-detail dyno-tax-field">
    <script type="text/javascript">
      window.form_tax_row_partials || (window.form_tax_row_partials = {});
      window.form_tax_row_partials[<%= question.id %>] = "<%=j render('/private/form_entries/fields/form_tax_row', question: question, fe: f, new_entry: true) %>";
    </script>


    <div class="form-group dynamic-rows">
      <div class="row cell-align align-bottom">
        <div class="col-xs-2">
          <label><%= t('.filing_status') %></label>
        </div>

        <div class="col-xs-3">
          <label><%= t('.decline_withholding') %></label>
        </div>

        <div class="col-xs-3">
          <label><%= t('.withholding_allowance') %></label>
        </div>

        <div class="col-xs-4">
          <label><%= t('.additional_withholding') %></label>
        </div>
      </div>

      <div class="tax-lists">
        <% answers.each do |tax| %>
          <%= render '/private/form_entries/fields/form_tax_row', fe: f, tax: tax, question: question, new_entry: false %>
        <% end %>
      </div>

      <!-- End Row -->
      <%= link_to 'javascript:void(0)', class: 'btn btn-link no-padding', 'ng-click'=> "addRowTax(#{question.id})" do %>
        <i class="pi pi-plus"></i>
        <%= t('.add_a_new_tax') %>
      <% end %>
    </div>
</div>
