<li class="<%= active == 'tasks' ? 'active' : nil %>">
  <%= link_to t('.link.tasks'), company_admin_forms_path %>
</li>
<li class="<%= active == 'embedded_forms' ? 'active' : nil %>">
  <%= link_to 'Embedded Forms', company_admin_embedded_forms_path %>
</li>