<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt signup">
    <div class="block-body">
      <h1 class="block-title">Welcome!</h1>
      <p class="h4 text-muted">We just need a few more things to complete your registration.</p>

      <%= simple_form_for(@company, :url => companies_confirmation_path(@company.token), method: :put, :html => { :role => 'form', class: 'mt40'}) do |f| %>
        <%= render '/shared/flash_messages', object:f.object %>
        <h3 class="text-normal">Choose your company URL</h3>
        <%= f.input :url, wrapper: :vertical_input_group_company_url, hint: "Pick something short and easy to remember. You can only use letters and dashes (must start with a letter)." do %>
          <%= f.input_field :url, class: "form-control input-lg", id: 'company-url-field' %>
          <span class="input-group-addon">
            <span class="h4 no-margin">.pandohr.com</span>
          </span>
        <% end %>

        <%= f.input :use_tenant %>

        <div class="mt20">
          <button type="submit" class="btn btn-md btn-green">Next</button>
          <!-- <a href="javascript:;" class="btn btn-link link-gray">Back</a> -->
        </div>
     <% end %>

   </div>
  </div>
</div>



