<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt mb0 signup">
    <div class="block-body">
      <h2 class="block-title">Resend confirmation</h2>
      <p class="text-muted">We'll resend your confirmation instructions.</p>
      <%= simple_form_for(@company, url: companies_confirmations_path, method: :post, :html => { :role => 'form', class: 'pt10'}) do |f| %>
        <%= render '/shared/flash_messages', object:f.object %>
        <div class="form-group">
          <%= f.input :email, required: false , :autofocus => true, class: 'form-control'%>
        </div>
        <div class="clearfix">
          <%= submit_tag "Resend confirmation instructions", class: 'btn btn-md btn-primary pull-left' %>
        </div>
      <% end %>
    </div>
  </div>
</div>
