.block.block-secondary.block-list
  .block-body
    .clearfix
      .pull-left
        h2.block-title
          = t('.import_employees')
        p.text-muted.mt10
          = t('.import_list_here')
      span.btn.btn-lg.btn-default.pull-right ng-click="downLoadTemplate()"
        i.pi.pi-download
        | &nbsp
        = t('.download_template')
    .upload-steps.text-center.mt40
      span.active
        = t('.upload')
      i.pi.pi-long-arrow-right
      span
        = t('.verify_and_confirm')
    div flow-init=""
      .flow flow-drop=""
      .row
        .col-xs-12
          form
            .col-xs-6.no-padding ng-file-select="" ng-model="file"
              .input-file
                span.btn.btn-sm.btn-upload
                  = t('common.upload')
                span
                  | {{file[0].name.substring(0, 20)}}
            .pull-right
              a.btn.btn-sm.btn-link.link-gray ng-click="cancelFile()"
                = t('common.cancel')
              button.btn.btn-md.btn-green ng-click="uploadFile()" type="button"
                = t('common.next')
      h5.error-format ng-show="!fileValid"
        = I18n.t('users.index.import_table.wrong_format')
      h5.error-format ng-show="fileValidServer"
        | {{messageWrongFile})