.block.block-secondary.block-list
  .block-body
    .clearfix
      .pull-left
        h2.block-title
          = t('.import_employees')
      a.btn.btn-lg.btn-default.pull-right.hide href="javascript:;"
        i.pi.pi-download
          = t('.download_template')
    .upload-steps.text-center.mt40
      span
        = t('.upload')
      i.pi.pi-long-arrow-right
      span.active
        = t('.verify_and_confirm')
    form.ng-pristine.ng-valid
      .table-view.mt40
        .table-responsive
          table.table.table-bordered.table-striped.no-wrap
            thead
              tr
                th= t('.import_table.first_name')
                th= t('.import_table.last_name')
                th= t('.import_table.personal_email')
                th= t('.import_table.start_date')
                th= t('.import_table.hr_manager')
                th= t('.import_table.manager')
                th= t('.import_table.work_email')
                th= t('.import_table.personal_phone')
                th= t('.import_table.work_phone')
                th= t('.import_table.employment_type')
                th= t('.import_table.permission')
                th= t('.import_table.job_title')
                th= t('.import_table.team_name')
                th= t('.import_table.location')
                th= t('.import_table.status')
                th= t('.import_table.dob')
                th= t('.import_table.social_tax_id')
                th= t('.import_table.gender')
                th= t('.import_table.marital_status')
                th= t('.import_table.address')
                th= t('.import_table.address_2')
                th= t('.import_table.city')
                th= t('.import_table.state')
                th= t('.import_table.post_code')
                th= t('.import_table.country')
                th= t('.import_table.emergency_contact_person')
                th= t('.import_table.emergency_contact_relationship')
                th= t('.import_table.emergency_contact_phone')
                th= t('.import_table.bank_name')
                th= t('.import_table.bank_account_type')
                th= t('.import_table.routing_number')
                th= t('.import_table.account_number')
                th= t('.import_table.compensation_amount')
                th= t('.import_table.currency')
                th= t('.import_table.compensation_period')
                th= t('.import_table.compensation_effective_date')
                th= t('.import_table.compensation_reason')
            tbody ng-repeat=("employee in imported_employees")
              tr
                td
                  | {{employee.personal.first_name}}
                td
                  | {{employee.personal.last_name}}
                td
                  | {{employee.email}}
                td
                  | {{employee.employment.start_date}}
                td
                  | {{employee.employment.backup_email}}
                td
                  | {{employee.employment.manager_emails}}
                td
                  | {{employee.employment.work_email}}
                td
                  | {{employee.personal.personal_phone}}
                td
                  | {{employee.employment.office_phone_number}}
                td
                  | {{employee.employment_type}}
                td
                td
                  | {{employee.employment.job_tittle}}
                td
                  | {{employee.team_name}}
                td
                  | {{employee.location_name}}
                td
                  | {{employee.status}}
                td
                  | {{employee.personal.dob}}
                td
                td
                  | {{employee.personal.gender}}
                td
                  | {{employee.personal.marital_status}}
                td
                  | {{employee.personal.street1}}
                td
                  | {{employee.personal.street2}}
                td
                  | {{employee.personal.city}}
                td
                  | {{employee.personal.state}}
                td
                  | {{employee.personal.zip}}
                td
                  | {{employee.personal.country}}
                td
                  | {{employee.emergency[0].name}}
                td
                  | {{employee.emergency[0].relationship}}
                td
                  | {{employee.emergency[0].phone}}
                td
                  | {{employee.bank[0].name}}
                td
                  | {{employee.bank[0].account_type}}
                td
                  | {{employee.bank[0].id_number}}
                td
                  | {{employee.bank[0].account_number}}
                td
                  | {{employee.compensation[0].amount}}
                td
                  | {{employee.compensation[0].currency}}
                td
                  | {{employee.compensation[0].per}}
                td
                  | {{employee.compensation[0].effective}}
                td
                  | {{employee.compensation[0].reason}}
        .error-format
          div ng-repeat=" error in invalidErrors"
            | {{error}}
      .row
        .col-xs-12
          .pull-left
            button.btn.btn-md.btn-secondary ng-click="backImport()" type="button"
              = t('common.back')
          .pull-right
            a.btn.btn-sm.btn-link.link-gray href="javascript:void(0)" ng-click="cancelConfirm()"
              = t('common.cancel')
            button.btn.btn-md.btn-green ng-click="saveEmployeeWithConfirm()" type="button"
              = t('common.confirm')