<div class="pages dashboard">
  <div class="page-title">
    <h1>Dashboard</h1>
  </div>
  <!-- Probably move this to the dashboard -->
  <div class="block block-alt">
    <div class="block-body">
      <h1 class="block-title">Awesome job, <%= current_user.name || current_user.email %>!</h1>
      <p class="text-muted">Here are some recommended things to take care of.</p>
      <div class="mt40">
        <ol>
          <li><%= link_to 'Complete your Profile Page', edit_user_registration_path %></li>
          <% if current_user.admin? %>
            <li><%= link_to 'Add employees', company_employees_path %></li>
          <% end %>
        </ol>
      </div>
    </div>
  </div>
  <!-- // End move to dashboard -->

  <% if current_policy.present? %>
    <div class="block block-alt">
      <div class="block-body text-center">
        <div class="row">
          <div class="col-xs-6 border-right">
            <h4>Vacation Days Available</h4>
            <p class="text-md"><strong><%= current_user.total_remain_vacation_days.to_i %></strong> days</p>
            <div class="row center-row">
              <div class="col-xs-9">
                <div class="progress mb10">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="12" style="width: 83.3%">
                    <span class="sr-only">10 Days Available</span>
                  </div>
                </div>
              </div>
            </div>
            <p><%= current_user.available_vacation_days_per_year %> Days Total</p>
          </div>
          <div class="col-xs-6">
            <h4>Persoal Days Available</h4>
            <p class="text-md"><strong><%= current_user.total_remain_personal_days.to_i %></strong> days</p>
            <div class="row center-row">
              <div class="col-xs-9">
                <div class="progress mb10">
                  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 100%">
                    <span class="sr-only">5 Days Available</span>
                  </div>
                </div>
              </div>
            </div>
            <p><%= current_user.available_personal_days_per_year %> Days Total</p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>