- content_for :subnav do
  .subnav
    ul
      = render 'shared/subnav/company', active: 'employees'

.pages.employees ng-cloak="true" ng-controller="EmployeeIndexCtrl"
  .page-title
    h1.pull-left
      = t('.employees')

    .dropdown.pull-right
      a.btn.btn-lg.btn-primary.dropdown-toggle
        = t('.manage_employees')
        i.pi.pi-arrow-drop-down
      .dropdown-menu
        .arrow
        ul
          li= link_to t('.add_employee'), new_company_employee_path
          li= link_to t('.get_template'), template_company_employees_export_imports_path(format: 'xlsx')
          li= link_to t('.import_employees'), new_company_employees_export_import_path
          li= link_to t('.export_employees'), company_employees_export_imports_path(format: 'xlsx')

  .fade active-class="in alert" flash-alert="success"
    span.alert-message
    | {{flash.message}}

  .fade.alert-danger active-class="in alert" flash-alert="error"
    span.alert-message
    | {{flash.message}}

  .employee-import
    / = render 'form_import_employees'
    / = render 'import_employees'

  = form_tag company_employees_path, method: :get do |f|
    .action-menu
      .row
        .col-xs-5
          .input-group.input-icon
            .input-icon
              span.input-group-addon
                i.fa.fa-filter
              = text_field_tag :name, params[:name], class: 'form-control', placeholder: t('.placeholder_filter')

        .col-xs-7
          .pull-right
            ul
              li.dropdown
                a.dropdown-toggle.link-gray href="#"
                  = t('.sort')
                  span.caret
                .dropdown-menu
                  .arrow
                  ul
                    li
                      = link_to company_employees_path(name: params[:name], sort_by: 'name'), class: (params[:sort_by] == 'name' ? 'active highlight-sortby' : nil) do
                        = t('.by_name')
                    li
                      = link_to company_employees_path(name: params[:name], sort_by: 'team'), class: (params[:sort_by] == 'team' ? 'active highlight-sortby' : nil) do
                        = t('.by_team')
                    li
                      = link_to company_employees_path(name: params[:name], sort_by: 'location'), class: (params[:sort_by] == 'location' ? 'active highlight-sortby' : nil) do
                        = t('.by_location')
              li.dropdown
                a.btn.btn-link.dropdown-toggle.link-gray href="#"
                  = t('.manage_selected')
                  span.caret
                .dropdown-menu
                  .arrow
                  ul
                    li
                      a href="javascript:void(0)" ng-click="setTerminateModal()"
                        = t('.terminate')
                    li
                      a href="javascript:void(0)" ng-click="openSetLocationModal()"
                        = t('.assign_to_location')
                    li
                      a href="javascript:void(0)" ng-click="openSetTeamModal()"
                        = t('.assign_to_team')

  .table-view id="employees-table-container"
    table.table.table-bordered.table-striped id="employees-table"
      thead
        tr
          th
            .checkbox-inline.custom-checkbox
              label
                input ng-checked="command.listCheckAll" ng-click="updateCheckStatusAll()" ng-model="command.listCheckAll" type="checkbox"
                span.input-checkbox
          th width="30%"
            = t('.users_table.employee_name')
          th width="25%"
            = t('.users_table.team')
          th width="25%"
            = t('.users_table.location')
          th.text-center width="20%"
            = t('.users_table.actions')
      tbody
        - @users.each do |employee|
          tr.selected
            td
              .checkbox-inline.custom-checkbox
                label
                  input ng-checked="employee.is_check" ng-click="updateCheckStatus($index)" ng-model="employee.is_check" type="checkbox"
                  span.input-checkbox
            td
              .avatar
                .avatar-img
                  = image_tag 'img-avatar-default.png', class: 'img-circle', alt: 'Img avatar default'
                  .avatar-initials
                    = employee.avatar_text
                = employee.name
            td= employee.team_name
            td= employee.location_name
            td.text-center
              / = link_to company_employee_path(employee), class: 'btn btn-md link-gray btn-link btn-icon' do
              /   i.fa.fa-eye
              = link_to edit_company_employee_path(employee), class: 'btn btn-md link-gray btn-link btn-icon' do
                i.fa.fa-pencil-square-o

  = paginate @users, theme: 'twitter-bootstrap-3'
