.pages.user-profile ng-controller="FormEntryCtrl" ng-cloak="true" ng-init="formel = '#user-form'; answers = #{@user.properties.to_json}; model_object = #{@user.to_json};"
  = simple_form_for(@user, :url => company_employees_path, :html => {:id => 'user-form', :method => :post, :role => 'form', :name => 'employeeForm'}) do |f|
    = render "shared/user_form" , f: f, devise_scope: false, edit_scope: false, user: @user, dyno_forms: @dyno_forms

javascript:
  var user = #{@user.to_json.html_safe};
