<% if devise_scope %>
  <%= devise_error_messages! %>

<% elsif !f.object.errors.empty? %>
  <div id="error_explanation">
    <h2><%=f.object.errors.count%> error prohibited this user from being saved:</h2>
    <ul>
      <% f.object.errors.full_messages.each do |msg|%>
        <li><%=msg%></li>
      <% end %>
    </ul>
  </div>
<% end %>

<div class="heading">
  <div class="avatar avatar-lg">
    <div class="avatar-img">
      <img alt="Img avatar default" class="img-circle" src="/assets/img-avatar-default.png">
      <div class="avatar-initials"><%= user.avatar_text.present? ? user.avatar_text : '??' %></div>
    </div>

    <% if user.new_record? %>
      New User
    <% else %>
      <%= user.name %>
    <% end %>
  </div>
</div>

<div class="row">
  <% if devise_scope %>
    <div class="col-xs-6">
      <div class="form-group">
        <label for=""><%= t('.user_status')%></label>
        <input type="text" class="form-control" value="Active" placeholder="" disabled>
      </div>
    </div>
  <% elsif edit_scope %>
    <div class="col-xs-6">
      <%= f.input :status %>
    </div>
  <% end %>

   <div class="col-xs-6">
    <%= f.label :timezone %>
    <%= f.time_zone_select :timezone, nil, {}, { :class => 'form-control selectpicker' } %>
  </div>
</div>
<br />

<% if user.new_record? %>
  <h2><%= t('.credential_details')%></h2>
  <div class="row">
    <div class="col-xs-6">
      <%= f.input :email %>
    </div>
    <div class="col-xs-6">
      <%= f.input :policy_id, collection: current_company.timeoff_policies.map{|p| [p.name, p.id]} %>
    </div>
  </div>
<% end %>

<%= render "shared/user_form/employment", f: f, user: user %>
<div class="block-panel mt40" bs-collapse>
  <%= render "shared/user_form/embedded_forms", f: f, user: user, dyno_forms: @user_dyno_forms %>
</div>

<div class="form-group">
  <%= f.submit t('common.save_changes'), :class => 'btn btn-md btn-primary' %>
  <%= link_to t('common.cancel'), params[:controller] == 'employees' ? employees_path : edit_user_registration_path, class: 'btn btn-link link-gray' %>
</div>