<div ui-sortable="sortableOptions" ng-model="fields">
  <div ng-repeat="field in fields track by field.id" on-last-repeat class="panel panel-default form-field {{ field.deleted ? 'hide' : '' }}" id="form-field-{{ field.id }}">
    <div class="panel-heading" ng-click="toggleFieldConfig(field)">
      <h3 class="panel-title"><abbr title="required" ng-if="(field.required == true) || (field.required == '1')">*</abbr>
        {{ field.properties.label }}
        <%= link_to '', "ng-click" => "removeField(field)", "ng-hide" => 'field.properties.unremoved ', class: 'pull-right link-delete', title: "Click to delete this field", "stop-event" => "click" do %>
          <i class='fa fa-trash-o'></i>
        <% end %>
      </h3>
    </div>

    <div class="panel-body">
      <% Enum::FormField::FIELD_TYPE[:options].each do |f_type| %>
        <%= render "/private/admin/forms/types/#{f_type.to_s}" %>
      <% end %>

      <p class="help-block" ng-if="(field.properties.hint != '') && (field.properties.hint != undefined)"> {{ field.properties.hint }} </p>
    </div>
    <!-- end panel body -->

    <!-- field options -->
    <div class='panel-footer hide field-config-container'>
      <h6>FIELD SETTINGS</h6>
      <%= f.fields_for "fields_attributes[{{field.id}}]" do |ff| %>
        <%= ff.hidden_field :id, value: "{{ field.id }}", 'ng-if' => "field.persisted == true" %>
        <%= ff.hidden_field :_destroy, value: "{{ field.deleted }}", 'ng-if' => "field.persisted == true" %>
        <%= ff.hidden_field :field_type, value: "{{ field.field_type }}" %>
        <%= ff.hidden_field :position, value: "{{ field.position }}" %>
        <%= ff.hidden_field :name, value: "{{ field.name }}" %>

        <!-- general configs -->
        <%= render 'private/admin/forms/configs/general', ff: ff %>

        <!-- begin field currency -->
        <%= render 'private/admin/forms/configs/currency', ff: ff %>

        <!-- begin field range -->
        <%= render 'private/admin/forms/configs/range', ff: ff %>

        <!-- begin field boolean -->
        <%= render 'private/admin/forms/configs/boolean', ff: ff %>

        <!-- begin field rating -->
        <%= render 'private/admin/forms/configs/rating', ff: ff %>

        <!-- begin field groups -->
        <%= render 'private/admin/forms/configs/groups', ff: ff %>

        <!-- begin field advance group -->
        <%= render 'private/admin/forms/configs/advance_groups', ff: ff %>

        <!-- begin field options -->
        <%= render 'private/admin/forms/configs/field_options', ff: ff %>

        <!-- begin field expense options -->
        <%= render 'private/admin/forms/configs/expense', ff: ff %>

        <!-- begin field travel options -->
        <%= render 'private/admin/forms/configs/travel', ff: ff %>

        <!-- begin field bank options -->
        <%= render 'private/admin/forms/configs/bank', ff: ff %>

        <!-- begin field tax options -->
        <%= render 'private/admin/forms/configs/tax', ff: ff %>

        <!-- begin field compensation options -->
        <%= render 'private/admin/forms/configs/compensation', ff: ff %>

        <!-- begin field personal options -->
        <%= render 'private/admin/forms/configs/personal', ff: ff %>

        <!-- begin field date range options -->
        <%= render 'private/admin/forms/configs/date_range', ff: ff %>


      <% end %>
    </div> <!-- end panel footer -->
  </div> <!-- end panel -->
</div> <!-- end fields -->