
<!-- Tab panes -->
<div id="form-sidebar">
  <div id="form-settings">
    <h5>FORM SETTINGS</h5>
    <%= f.input :name, input_html: { "ng-model"=>"form.name" } %>
    <%= f.input :icon, input_html: { "ng-model" => "form.icon", class: 'form-icon-picker' } %>
    <%= f.input :introduction, label: 'Form Description', input_html: { "ng-model"=>"form.introduction" } %>

    <div class="form-group">
      <div class="checkbox-inline custom-checkbox">
        <label>
          <%= f.check_box :show_on_calendar, 'ng-model' => "form.show_on_calendar", 'ng-click' => 'toggleUseDateRange()' %>
          <span class="input-checkbox"></span>
          Show the date range fields
        </label>
      </div>
    </div>

    <div class="form-group">
      <div class="checkbox-inline custom-checkbox">
        <label>
          <%= f.check_box :require_sign, 'ng-model' => "form.require_sign" %>
          <span class="input-checkbox"></span>
          Require Sign
        </label>
      </div>
    </div>
  </div>

  <hr>
  <div id="form-fields">
    <h5>ADD A FIELD</h5>
    <div class="row">
      <% Enum::FormField::FIELD_TYPE[:options].in_groups(3, false) do |col| %>
        <div class="col-xs-3">
          <ul>
            <% col.each do |f_type| %>
              <li><%= link_to t("enumerize.form_field.field_type.#{f_type.to_s}"), '', 'ng-click' => "addField('#{f_type.to_s}')" %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </div>
    <ul>
    </ul>
  </div>
</div>
