<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render '/private/admin/shared/subnav', active: 'tasks' %>
    </ul>
  </div>
<% end %>

<h2 class="page-header">Edit Form Tempalate</h4>

<%= simple_nested_form_for @form, url: company_admin_form_path(@form), method: :put do |f| %>
  <div role="tabpanel">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="active">
        <a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Fields</a>
      </li>

      <li role="presentation">
        <a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Approvals</a>
      </li>
    </ul>


    <div class="tab-content">

      <div role="tabpanel" class="tab-pane active" id="tab-1">
        <div class="row" ng-controller="FormBuilderCtrl" ng-init="form = <%= @form.to_json %>; fields = <%= @form.fields.to_json %>; field_types = <%= FormField::FieldConfig.to_json %>">
          <div class="col-md-12">
            <%= render 'sidebar', f: f %>

            <div id="form-container">
              <%= render 'fields', f: f %>
              <div class="form-actions">
                <%= f.submit 'Save', class: 'btn btn-success' %>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div role="tabpanel" class="tab-pane" id="tab-2">
        <div class="row">
          <div class="col-md-12">
            <p>Assign users who can approve submitted forms</p>

            <div class="row">
              <div class="col-md-3">
                <h4>Approver</h4>
              </div>
              <div class="col-md-9">
                <h4>Search...</h4>
              </div>
            </div>

            <%= f.fields_for :approvals do |f_approval| %>
              <div class="row">
                <div class="col-md-3">
                  <%= f_approval.input :role, include_blank: false, label: false %>
                </div>

                <div class="col-md-8">
                  <%= f_approval.input :approver_id, label: false, collection: current_company.users.map{|x| [x.name, x.id]}, include_blank: false %>
                </div>

                <div class="col-md-1">
                  <%= f_approval.link_to_remove do %>
                    <i class="fa fa-trash"></i>
                  <% end %>
                </div>
              </div>
            <% end %>

            <p><%= f.link_to_add "Add approval", :approvals %></p>
          </div>
        </div>

        <div class="form-actions">
          <%= f.submit 'Save', class: 'btn btn-success' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
