<%= content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render '/private/admin/shared/subnav', active: 'tasks' %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @forms.each do |form| %>
          <tr>
            <td><%= form.id %></td>
            <td><%= form.name %></td>
            <td>
              <%= link_to 'Edit', edit_company_admin_form_path(form), class: 'btn btn-xs btn-info' %>
              <%= link_to 'Delete', company_admin_form_path(form), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<br />
<div class="row">
  <div class="col-md-12">
    <%= link_to 'New Form', new_company_admin_form_path, class: 'btn btn-primary' %>
  </div>
</div>