<div ng-if="needField(field, 'advance_groups')" >
  <%= ff.fields_for "properties" do |fp| %>
    <div class="row">
      <div class="col-xs-12">
        <%= fp.input :max_rows, as: :integer, input_html: { 'ng-model' => "field.properties.max_rows", min: 1 } %>
      </div>
    </div>

    <div ui-sortable="sortableAdvanceGroupOptions" ng-model="field.properties.advance_groups" id="advance-group-options-container">
      <div ng-repeat="(advance_group_id, advance_group) in field.properties.advance_groups track by advance_group_id">
        <h4>Column {{ $index }}:</h4>
        <div class="row">
          <div class="col-xs-12">
            <%= fp.input "advance_groups[{{advance_group_id}}]name", as: :string, label: false, input_html: { 'ng-model' => 'advance_group.name', placeholder: 'Column', id: nil, class: "{{ advance_group.type == 'date' ? 'date' : '' }}" } %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= fp.input "advance_groups[{{advance_group_id}}]type", include_blank: false, collection: ['text', 'date', 'number', 'select'], label: false, input_html: { 'ng-model' => 'advance_group.type', placeholder: 'Column', id: nil } %>
          </div>
        </div>

        <div class="row" ng-if="advance_group.type == 'select'">
          <div class="col-xs-6">
            <h4>Options: </h4>

            <div class="row" ng-repeat="option in advance_group.options track by $index">
              <div class="col-xs-10">
                <div class="form-group">
                  <%= fp.input_field "advance_groups[{{advance_group_id}}]options", as: :string, multiple: true, 'ng-model' => 'advance_group.options[$index]', placeholder: 'Value', id: nil, class: 'form-control' %>
                </div>
              </div>

              <div class="col-xs-2">
                <%= link_to '', 'ng-click' => "removeFieldPropertiesAdvanceGroupOption(field, advance_group, advance_group_id, $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>

            <p><%= link_to "Add option", '', 'ng-click' => "addFieldPropertiesAdvanceGroupOption(field, advance_group)" %></p>
          </div>

          <div class="col-xs-6">
            <h4>Others: </h4>
            <%= fp.input "advance_groups[{{advance_group_id}}]prompt", label: false, input_html: { 'ng-model' => 'advance_group.prompt', placeholder: 'Prompt', id: nil } %>
          </div>
        </div>

        <div class="row">
          <div class="col-xs-12">
            <%= link_to 'Remove Column', '', 'ng-click' => "removeFieldPropertiesAdvanceGroup(field, advance_group, advance_group_id)", class: 'link-danger', 'ng-if' => "isTheLastAdavanceGroupQuestion(field)" %>
          </div>
        </div>
        <hr />
      </div>
    </div>

    <p ng-if="checkLimitAdvanceGroupQuesiton(field)">
      <%= link_to "Add column", '', 'ng-click' => "addFieldPropertiesAdvanceGroupColumn(field)" %>
    </p>
  <% end %>
</div>