<div ng-if="needField(field, 'bank')">
  <%= ff.fields_for "properties" do |fp| %>
    <h6>Bank Account Type Options</h6>
    <div ng-repeat="item in field.properties.bank_account_types track by $index">
      <%= fp.fields_for "bank_account_types", index: '' do |fc| %>
        <div class="row">
          <div class="col-xs-5">
            <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
          </div>

          <div class="col-xs-5">
            <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
          </div>

          <div class="col-xs-2">
            <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'bank_account_types', $index)", class: 'link-danger' do %>
              <i class="fa fa-trash"></i>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
    <p><%= link_to "Add Bank Account Type", '', 'ng-click' => "addPropertiesOptions(field, 'bank_account_types')" %></p>
  <% end %>
</div>