<div class="row" ng-if="needField(field, 'boolean_label')">
  <%= ff.fields_for "properties" do |fp| %>
    <div class="col-xs-6">
      <%= fp.input :true_label, placeholder: "Yes", input_html: { 'ng-model' => "field.properties.true_label", id: nil } %>
    </div>
    <div class="col-xs-6">
      <%= fp.input :false_label, placeholder: "No", input_html: { 'ng-model' => "field.properties.false_label", id: nil } %>
    </div>
  <% end %>
</div>