<div ng-if="needField(field, 'compensation')">
  <%= ff.fields_for "properties" do |fp| %>
    <div class="row">
      <div class="col-xs-6">
        <h6>Currencies Options</h6>
        <div ng-repeat="item in field.properties.compensation_currencies track by $index">
          <%= fp.fields_for "compensation_currencies", index: '' do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'tax_filling_status_options', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Currency Option", '', 'ng-click' => "addPropertiesOptions(field, 'compensation_currencies')" %></p>
      </div>

      <div class="col-xs-6">
        <h6>Periods Options</h6>
        <div ng-repeat="item in field.properties.compensation_periods track by $index">
          <%= fp.fields_for "compensation_periods", index: '' do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'tax_decline_with_holdings', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Period Option", '', 'ng-click' => "addPropertiesOptions(field, 'compensation_periods')" %></p>
      </div>

    </div>
  <% end %>
</div>