<div class="row" ng-if="needField(field, 'currency')">
  <%= ff.fields_for "properties" do |fp| %>
    <div class="col-xs-6">
      <%= fp.input :currency, as: :string, input_html: { 'ng-model' => "field.properties.currency" } %>
    </div>

    <div class="col-xs-6">
      <%= fp.input :add_on, as: :select, collection: [['Prepend', 'prepend'], ['Append', 'append']], include_blank: false, input_html: { 'ng-model' => "field.properties.add_on" } %>
    </div>
  <% end %>
</div>