<div class="row" ng-if="needField(field, 'date_range')">
  <%= ff.fields_for "properties" do |fp| %>
    <%= fp.hidden_field :unremoved, 'ng-if' => 'field.properties.unremoved', 'ng-value' => 'field.properties.unremoved' %>

    <div class="col-xs-6">
      <%= fp.input :from_number, as: :integer, input_html: { 'ng-model' => "field.properties.from_number" } %>
    </div>

    <div class="col-xs-6">
      <%= fp.input :to_number,   as: :integer, input_html: { 'ng-model' => "field.properties.to_number" } %>
    </div>
  <% end %>
</div>