<div ng-if="needField(field, 'expense')">
  <%= ff.fields_for "properties" do |fp| %>
    <div class="row">
      <div class="col-xs-6">
        <h6>Currency Options</h6>
        <div ng-repeat="item in field.properties.currencies track by $index">
          <%= fp.fields_for "currencies", index: "" do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'currencies', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add currency", 'javascript:void(0)', 'ng-click' => "addPropertiesOptions(field, 'currencies')" %></p>
      </div>

      <div class="col-xs-6">
        <h6>Purpose Options</h6>
        <div ng-repeat="item in field.properties.purposes track by $index">
          <%= fp.fields_for "purposes", index: "" do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'purposes', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add Exc. Rate", 'javascript:void(0)', 'ng-click' => "addPropertiesOptions(field, 'purposes')" %></p>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6">
        <h6>Payment Options</h6>
        <div ng-repeat="item in field.properties.payments track by $index">
          <%= fp.fields_for "payments", index: "" do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'payments', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add Exc. Rate", 'javascript:void(0)', 'ng-click' => "addPropertiesOptions(field, 'payments')" %></p>
      </div>

      <div class="col-xs-6">
        <h6>Category Options</h6>
        <div ng-repeat="item in field.properties.categories track by $index">
          <%= fp.fields_for "categories", index: "" do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'categories', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add category", 'javascript:void(0)', 'ng-click' => "addPropertiesOptions(field, 'categories')" %></p>
      </div>
    </div>

  <% end %>
</div>
