<div  ng-if="needField(field, 'field_options')">
  <h6>FIELD OPTIONS</h6>
  <%= ff.fields_for "properties" do |fp| %>
    <div ng-repeat="item in field.properties.select_options track by $index" class="row">
      <%= fp.fields_for "select_options", index: "" do |fc| %>
        <div class="col-xs-6">
          <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
        </div>

        <div class="col-xs-5">
          <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
        </div>

        <div class="col-xs-1" style='padding-left:0;'>
          <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'select_options', $index)", class: 'link-danger' do %>
            <i class="fa fa-trash"></i>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
  <p><%= link_to "Add option", '', 'ng-click' => "addPropertiesOptions(field, 'select_options')" %></p>
</div>