<%= ff.fields_for "properties" do |fp| %>
  <%= fp.input :label, label: 'Label', as: :string, wrapper_html: { 'ng-if' => "needField(field, 'label')" }, input_html: { 'ng-model' => "field.properties.label" } %>
  <%= fp.input :hint, label: 'Hint', as: :string, required: false, wrapper_html: { 'ng-if' => "needField(field, 'hint')" }, input_html: { 'ng-model' => "field.properties.hint" } %>
<% end %>

<div class="checkbox" ng-if="needField(field, 'required')">
  <label><%= ff.check_box :required, { 'ng-model' => "field.required" } %> Required</label>
</div>

<div class="row" ng-if="needField(field, 'description')">
  <div class="col-xs-12">
    <%= ff.fields_for "properties" do |fp| %>
      <%= fp.input :description, as: :text, input_html: { 'ng-model' => "field.properties.description" } %>
    <% end %>
  </div>
</div>

<!-- begin field prompt -->
<div class="row" ng-if="needField(field, 'prompt')">
  <div class="col-xs-12">
    <h6>Prompt text</h6>
    <%= ff.fields_for "properties" do |fp| %>
      <%= fp.input :prompt, as: :string, input_html: { 'ng-model' => "field.properties.prompt" } %>
    <% end %>
  </div>
</div>

<div class="row" ng-if="needField(field, 'placeholder')">
  <div class="col-xs-12">
    <%= ff.fields_for "properties" do |fp| %>
      <%= fp.input :placeholder, as: :string, required: false, input_html: { 'ng-model' => "field.properties.placeholder" } %>
    <% end %>
  </div>
</div>


<div class="checkbox" ng-if="needField(field, 'multiple')">
  <%= ff.fields_for "properties" do |fp| %>
    <label>
      <%= fp.check_box :multiple, { 'ng-model' => " field.properties.multiple", 'ng-true-value' => "'1'", 'ng-false-value' => "'0'" } %>
      Is multiple?
    </label>
  <% end %>
</div>