<div ng-if="needField(field, 'groups')" >
  <%= ff.fields_for "properties" do |fp| %>
    <div class="row">
      <div class="col-xs-12">
        <%= fp.input :max_rows, as: :integer, input_html: { 'ng-model' => "field.properties.max_rows", min: 1 } %>
      </div>
    </div>

    <h6>Columns</h6>
    <div ui-sortable="sortableGroupOptions" ng-model="field.properties.groups" id="group-options-container">
      <div ng-repeat="(group_id, group) in field.properties.groups track by group_id" class="row">
        <div class="col-xs-6">
          <%= fp.input "groups[{{group_id}}]name", as: :string, label: false, input_html: { 'ng-model' => 'group.name', placeholder: 'Column', id: nil } %>
        </div>

        <div class="col-xs-2">
          <%= fp.input "groups[{{group_id}}]add_on", include_blank: false, collection: ['none', 'prepend', 'append'], label: false, input_html: { 'ng-model' => 'group.add_on', placeholder: 'Column', id: nil } %>
        </div>

        <div class="col-xs-2">
          <%= fp.input "groups[{{group_id}}]add_on_value", as: :string, label: false, input_html: { 'ng-model' => 'group.add_on_value', placeholder: 'Add On', id: nil } %>
        </div>

        <div class="col-xs-1" style='padding-left:0;'>
          <%= link_to 'remove', '', 'ng-click' => "removeFieldPropertiesGroup(field, group, group_id)", class: 'link-danger', 'ng-if' => "isTheLastGroupQuestion(field)" %>
        </div>
      </div>
    </div>
    <p ng-if="checkLimitGroupQuesiton(field)">
      <%= link_to "Add column", '', 'ng-click' => "addFieldPropertiesGroup(field)" %>
    </p>
  <% end %>
</div>