<div ng-if="needField(field, 'personal')">
  <%= ff.fields_for "properties" do |fp| %>
    <div class="row">
      <div class="col-xs-6">
        <h6>Marital Status Options</h6>
        <div ng-repeat="item in field.properties.personal_marital_statuses track by $index">
          <%= fp.fields_for "personal_marital_statuses", index: '' do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'personal_marital_statuses', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add Marital Status", '', 'ng-click' => "addPropertiesOptions(field, 'personal_marital_statuses')" %></p>
      </div>

      <div class="col-xs-6">
        <h6>Gender Options</h6>
        <div ng-repeat="item in field.properties.personal_genders track by $index">
          <%= fp.fields_for "personal_genders", index: '' do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'personal_genders', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add Gender", '', 'ng-click' => "addPropertiesOptions(field, 'personal_genders')" %></p>
      </div>
    </div>
  <% end %>
</div>