<div ng-if="needField(field, 'tax')">
  <%= ff.fields_for "properties" do |fp| %>
    <div class="row">
      <div class="col-xs-6">
        <h6>Filling Status Options</h6>
        <div ng-repeat="item in field.properties.tax_filling_status_options track by $index">
          <%= fp.fields_for "tax_filling_status_options", index: '' do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'tax_filling_status_options', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add Filling Status Option", '', 'ng-click' => "addPropertiesOptions(field, 'tax_filling_status_options')" %></p>
      </div>

      <div class="col-xs-6">
        <h6>Decline With Holding Options</h6>
        <div ng-repeat="item in field.properties.tax_decline_with_holdings track by $index">
          <%= fp.fields_for "tax_decline_with_holdings", index: '' do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'tax_decline_with_holdings', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add Decline With Holding Option", '', 'ng-click' => "addPropertiesOptions(field, 'tax_decline_with_holdings')" %></p>
      </div>

    </div>
  <% end %>
</div>