<div ng-if="needField(field, 'travel')">
  <%= ff.fields_for "properties" do |fp| %>
    <div class="row">
      <div class="col-xs-6">
        <h6>Transportation Options</h6>
        <div ng-repeat="item in field.properties.transportations track by $index">
          <%= fp.fields_for "transportations", index: "" do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'transportations', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add transportation", '', 'ng-click' => "addPropertiesOptions(field, 'transportations')" %></p>
      </div>

      <div class="col-xs-6">
        <h6>Transportation Classes</h6>
        <div ng-repeat="item in field.properties.classes track by $index">
          <%= fp.fields_for "classes", index: "" do |fc| %>
            <div class="row">
              <div class="col-xs-5">
                <%= fc.input "label", as: :string, label: false, input_html: { 'ng-model' => 'item.label' }, placeholder: 'Label' %>
              </div>

              <div class="col-xs-5">
                <%= fc.input "value", as: :string, label: false, input_html: { 'ng-model' => 'item.value' }, placeholder: 'Value' %>
              </div>

              <div class="col-xs-2">
                <%= link_to 'javascript:;', 'ng-click' => "removePropertiesOptions(field, 'classes', $index)", class: 'link-danger' do %>
                  <i class="fa fa-trash"></i>
                <% end %>
              </div>
            </div>
          <% end %>
        </div>
        <p><%= link_to "Add Transportation Class", '', 'ng-click' => "addPropertiesOptions(field, 'classes')" %></p>
      </div>
    </div>
  <% end %>
</div>
