#form-container {
  // padding: 10px;
  background-color: #fcf8f2;
}

.form-intro {
  margin-bottom: 20px;
}

.form-field {
  .panel-heading:hover {
    cursor: pointer;
    background: #ededed;
  }

  .panel-footer {
    background-color: #f7f7f9;
  }
}

.panel-default {
  &.fieldsection {
    border: none;
    background-color: transparent;

    .panel-heading {
      padding: 0;
      border: none;
      background-color: transparent;

      h3 {
        font-size: 20px;
      }
    }

    .panel-body {
      padding: 0;
      background-color: transparent;
    }
  } // end field section
} // end panel-default


.custom_radio_buttons {
  .input-group {
    .radio.radio-inline {
      &:first-child {
        margin-top: 0;
      }
    }
  }
}


.question-group-table {
  .group-fields-list-container {
    clear: both;
  }
}


.radio {
  .picture-option {
    max-width: 100px;
    max-height: 100px;
    line-height: 20px;
  }
}


.thumbnail.active {
  border: 1px solid #428bca;
}


.datetime-field {
  .row {
    div {
      .hour-field,
      .separator-field,
      .minute-field {
        margin-left: 3px;
      }

      .separator-field {
        padding-top: 5px;

        span {
          margin-top: 27px;
          display: inline-block;
        }
      }
    }
  }
}

.question-expense {
  .expense-header {
    font-weight: bold;
  }

  .expense-mini-details {
    font-size: 0.8em;
  }
}