<!-- question_group -->
<div class="question-group-table" ng-if="field.field_type == 'advance_group'">
  <div clas="row">
    <div class="{{ getAdvanceGroupColumnWidthClass(field) }}" ng-repeat="advance_group in field.properties.advance_groups" style="word-wrap:break-word;">{{ advance_group.name }}</div>
    <div class="col-xs-1">&nbsp;&nbsp;</div>
  </div>

  <div class="group-fields-list-container">
    <div ng-repeat="n in range(1, field.properties.dummy_group_rows || 1)"  class="row">
      <div ng-repeat="advance_group in field.properties.advance_groups" class="{{ getAdvanceGroupColumnWidthClass(field) }}" >
        <!-- if not date -->
        <div class="input" ng-if="advance_group.type == 'text'">
          <input type="{{ advance_group.type }}" class="form-control">
        </div>

        <!-- date -->
        <div class="input-group date" ng-if="(advance_group.type == 'date')">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input type="text" class="form-control datepicker">
        </div>

        <!-- select -->
        <select class="form-control" ng-if="(advance_group.type == 'select')">
          <option ng-show="(advance_group.prompt != null) || (advance_group.prompt != undefined)">{{ advance_group.prompt }}</option>
          <option ng-repeat="opt in advance_group.options track by $index">{{ opt}}</option>
        </select>
      </div>

      <div class="col-xs-1">
        <%= link_to 'remove', '', 'ng-click' => "removeQuestionGroupRow(field)", "ng-show" => "n != 1", class: 'link-danger' %>
      </div>
    </div> <!-- end row -->
  </div><!-- end container -->

  <br />
  <p><%= link_to 'Add row', '', 'ng-click' => "addQuestionGroupRow(field)",  class: 'btn btn-xs btn-primary' %></p>
</div>
