<div ng-if="field.field_type == 'bank'">
  <!-- Row -->
  <div class="row">
    <div class="col-xs-3">
      <div class="form-group">
        <label><%= t('.bank_name') %></label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-xs-2 no-horizontal-padding">
      <div class="form-group">
        <label><%= t('.account_type') %></label>

        <select class="form-control">
          <option ng-show="(field.properties.bank_account_type_promt != null) || (field.properties.bank_account_type_prompt != undefined)">{{ field.properties.bank_account_type_prompt }}</option>
          <option value="{{item.value}}" ng-repeat="item in field.properties.bank_account_types track by $index">{{ item.label }}</option>
        </select>
      </div>
    </div>

    <div class="col-xs-3">
      <div class="form-group">
        <label><%= t('.routing') %></label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-xs-4">
      <div class="form-group">
        <div class="input-group alt">
          <label><%= t('.account_number') %></label>
          <input type="text" class="form-control">
          <div class="input-group-addon vertical-bottom">
            <button type="button" class="btn btn-link btn-delete-row"><i class="pi pi-minus text-danger"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Row -->
  <button type="button" class="btn btn-link no-padding"><i class="pi pi-plus"></i> <%= t('.add_new_bank_account') %></button>
</div>