<!-- checkbox -->
<div ng-if="(field.field_type == 'checkbox')">
  <div class="checkbox" ng-repeat="item in field.properties.select_options">
    <label>
      <input type="checkbox" name="{{ item.label }}[{{ item.label }}]" value="{{ item.value }}">
      {{ item.label }}
    </label>
  </div>
</div>