<div ng-if="(field.field_type == 'compensation')">
  <div class="form-group dynamic-rows">
    <!-- Row -->
    <div class="row">
      <div class="col-xs-2 pr0">
        <label><%= t('.amount') %></label>
        <input type="text" class="form-control">
      </div>

      <div class="col-xs-2 pr0">
        <label><%= t('.currency') %></label>
        <select class="form-control">
          <option value=""><%= t('.select') %></option>
          <option value="{{item.value}}" ng-repeat="item in field.properties.compensation_currencies track by $index">{{ item.label }}</option>
        </select>
      </div>

      <div class="col-xs-2">
        <label><%= t('.per') %></label>
        <select class="form-control" class="form-control">
          <option value=""><%= t('.select') %></option>
          <option value="{{item.value}}" ng-repeat="item in field.properties.compensation_periods track by $index">{{ item.label }}</option>
        </select>
      </div>

      <div class="col-xs-2 no-horizontal-padding">
        <label><%= t('.effective_as_of') %></label>
        <div class="input-group input-icon">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control datepicker">
          </div>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="input-group alt">
          <label><%= t('.reason') %></label>
          <input type="text" class="form-control">
          <div class="input-group-addon">
            <button type="button" class="btn btn-link btn-delete-row" ng-click="removeCompensation($index)">
            <i class="pi pi-minus text-danger"></i></button>
          </div>
        </div>
      </div>
    </div>

    <!-- End Row -->
    <button type="button" class="btn btn-link no-padding"><i class="pi pi-plus"></i> <%= t('.add_a_new_compensation') %></button>
  </div>
</div>