<!-- date range -->
<div class="row" ng-if="field.field_type == 'date_range'">
  <div class="col-xs-1 pull-left">
    <span>From:</span>
  </div>

  <div class="col-xs-4 pull-left">
    <input type="text" class="form-control">
  </div>

  <div class="col-xs-1 pull-left">
    <span>To:</span>
  </div>

  <div class="col-xs-4 pull-left">
    <input type="text" class="form-control">
  </div>
</div>