<!-- dropdown -->
<select class="form-control" ng-show="(field.field_type == 'dropdown')">
  <option ng-show="(field.properties.prompt != null) || (field.properties.prompt != undefined)">{{ field.properties.prompt }}</option>
  <option ng-repeat="item in field.properties.select_options">{{ item.label }}</option>
</select>