<!-- Emergency Contact -->
<div ng-if="field.field_type == 'emergency'">

  <!-- Row -->
  <div class="row">
    <div class="col-xs-4">
      <div class="form-group">
        <label><%= t('.name')%></label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-xs-4">
      <div class="form-group">
        <label><%= t('.relationship')%></label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-xs-4 pr0">
      <div class="form-group">
        <div class="input-group alt">
          <label><%= t('.phone_number')%></label>
          <input type="text" class="form-control">
          <div class="input-group-addon">
            <button type="button" class="btn btn-link btn-delete-row"><i class="pi pi-minus text-danger"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- End Row -->
  <button type="button" class="btn btn-link no-padding" ng-click="addNewEmergency()"><i class="pi pi-plus"></i> <%= t('.add_a_new_contact')%></button>

</div>
<!-- End Emergency Contact -->