<div ng-if="field.field_type == 'employment'">
  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.work_email')%></label>
        <input type="email" class="form-control" placeholder="" required>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.office_phone_number')%></label>
        <input type="tel" class="form-control" placeholder="">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.start_date')%></label>
        <div class="input-group input-icon">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.employment_type')%></label>
        <%= f_employment.input :employment_type, collection: [['Personal', 'personal']], required: false %>
        <button type="button" class="btn btn-default" data-html="1"></button>
      </div>
    </div>
  </div>



  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.backup_person')%></label>
        <input type="hidden" class="select-backup-person" />
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.office_location')%></label>
        <select class="form-control selectpicker">
          <option value=""><%= t('.select')%></option>
        </select>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <label for=""><%= t('.who_approving')%></label>
      </br>
      <input type="hidden" class="select-managers"/>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.account_handing')%></label><br>
        <div class="checkbox-inline custom-checkbox">
          <label>
            <input type="checkbox" class="pull-left" data-target="#ampm">
            <span class="input-checkbox"></span>
            <%= t('.accounting')%>
          </label>
        </div>
      </div>

      <div class="form-group">
        <div class="checkbox-inline custom-checkbox">
          <label>
            <input type="checkbox" class="pull-left" data-target="#ampm">
            <span class="input-checkbox"></span>
            <%= t('.travel')%>
          </label>
        </div>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.job_tittle')%></label>
        <input type="text" class="form-control" placeholder="" >
      </div>
    </div>

    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.team_name')%></label>
        <select class="form-control selectpicker">
          <option value=""><%= t('.select')%></option>
        </select>
      </div>
    </div>
  </div>
</div>