<!-- expense field -->
<div class="question-expense" ng-if="field.field_type == 'expense'">
  <div class="expense-form-detail">
    <div class="row">
      <div class="col-xs-4">
        <div class="form-group"
          <label class="control-label">Date</label>
          <div class="input-group date">
            <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
            <input type="text" class="form-control datepicker">
          </div>
        </div>
      </div>

      <div class="col-xs-2">
        <div class="form-group">
          <label class="control-label">Expense Type</label>
          <select class="form-control">
            <option ng-show="(field.properties.category_prompt != null) || (field.properties.category_prompt != undefined)">{{ field.properties.category_prompt }}</option>
            <option value="{{item.value}}" ng-repeat="item in field.properties.categories track by $index">{{ item.label }}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <label class="control-label">Exc. Rate</label>
          <select class="form-control">
            <option ng-show="(field.properties.purpose_prompt != null) || (field.properties.purpose_prompt != undefined)">{{ field.properties.purpose_prompt }}</option>
            <option value="{{item.value}}" ng-repeat="item in field.properties.purposes track by $index">{{ item.label }}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <label class="control-label">Payment</label>
          <select class="form-control">
            <option ng-show="(field.properties.payment_prompt != null) || (field.properties.payment_promt != undefined)">{{ field.properties.payment_prompt }}</option>
            <option value="{{item.value}}" ng-repeat="item in field.properties.payments track by $index">{{ item.label }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">
        <div class="form-group">
          <label class="control-label">Currency</label>
          <select class="form-control">
            <option ng-show="(field.properties.currency_prompt != null) || (field.properties.currency_prompt != undefined)">{{ field.properties.currency_prompt }}</option>
            <option value="{{item.value}}" ng-repeat="item in field.properties.currencies track by $index">{{ item.label }}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <label class="control-label">Exc. Rate</label>
          <input type="number" class="form-control">
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <label class="control-label">Transaction Amount</label>
          <input type="number" class="form-control">
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group text">
          <label class="control-label">Description</label>
          <textarea rows="4" class="form-control" placeholder="description here"></textarea>
        </div>

        <div class="form-group file">
          <label class="control-label">Attachment</label>
          <input type="file" class="form-control" />
        </div>
      </div>
    </div>
  </div>
</div>
