<!-- Personal Information -->
<div ng-if="field.field_type == 'personal'">

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.address') %></label>
        <input type="text" class="form-control">
      </div>
    </div>

    <div class="col-xs-6">
      <div class="row">
        <div class="col-xs-6">
          <div class="form-group">
            <label><%= t('.date_of_birth') %></label>
            <input type="text" class="form-control datepicker">
          </div>
        </div>
        <div class="col-xs-6">
          <div class="form-group">
            <label><%= t('.social_tax_id') %></label>
            <input type="text" class="form-control datepicker">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.address_optional') %></label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label><%= t('.gender') %></label>
        <select class="form-control">
          <option>Select</option>
          <option value="{{item.value}}" ng-repeat="item in field.properties.personal_genders track by $index">{{ item.label }}</option>
        </select>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <label><%= t('.marital_status') %></label>
        <select class="form-control">
          <option>Select</option>
          <option value="{{item.value}}" ng-repeat="item in field.properties.personal_marital_statuses track by $index">{{ item.label }}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-2">
      <div class="form-group">
        <label><%= t('.city') %></label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label><%= t('.state') %></label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <label><%= t('.zip') %></label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="col-xs-6">
      <div class="form-group">
        <label><%= t('.country') %></label>
        <%= country_select nil, :country, {}, class: 'form-control' %>
      </div>
    </div>
  </div>

</div>
<!-- End Personal Information -->