<!-- radio -->
<div class="radio" ng-repeat="item in field.properties.select_options" ng-if="(field.field_type == 'radio')">
  <label>
    <input type="radio" name="{{ field.name }}" value="{{ item.value }}"> {{ item.label }}
  </label>
</div>