<div ng-if="field.field_type == 'tax'">
  <div class="form-group">
    <div class="row cell-align align-bottom">
      <div class="col-xs-3">
        <label><%= t('.filing_status') %></label>
        <select class="form-control">
          <option ng-show="(field.properties.tax_filling_status_prompt != null) || (field.properties.tax_filling_status_prompt != undefined)">{{ field.properties.tax_filling_status_prompt }}</option>
          <option value="{{item.value}}" ng-repeat="item in field.properties.tax_filling_status_options track by $index">{{ item.label }}</option>
        </select>
      </div>

      <div class="col-xs-3">
        <label><%= t('.decline_withholding') %></label>
        <select class="form-control">
          <option ng-show="(field.properties.tax_decline_with_holding_prompt != null) || (field.properties.tax_decline_with_holding_prompt != undefined)">{{ field.properties.tax_decline_with_holding_prompt }}</option>
          <option value="{{item.value}}" ng-repeat="item in field.properties.tax_decline_with_holdings track by $index">{{ item.label }}</option>
        </select>
      </div>

      <div class="col-xs-3">
        <label><%= t('.withholding_allowance') %></label>
        <input type="text" class="form-control">
      </div>

      <div class="col-xs-3">
        <label><%= t('.additional_withholding') %></label>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
