<!-- textarea -->
<textarea class="form-control" rows="{{ field.properties.rows || 3 }}" ng-if="field.field_type == 'textarea'" name="{{ field.name }}" placeholder="{{ field.properties.placeholder }}"></textarea>