<!-- travel field -->
<div class="question-expense" ng-if="field.field_type == 'travel'">
  <div class="expense-form-detail">
    <div class="row">
      <div class="col-xs-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="From" />
        </div>
      </div>

      <div class="col-xs-3">
        <div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input type="text" class="form-control datepicker" placeholder="Date from">
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <select class="form-control">
            <option value="">-- prefer --</option>
            <option ng-repeat="travelPreferTime in travelPreferTimes track by $index" value="{{ travelPreferTime.value }}">{{ travelPreferTime.label }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="To" />
        </div>
      </div>

      <div class="col-xs-3">
        <div class="input-group date">
          <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
          <input type="text" class="form-control datepicker" placeholder="Date arrival">
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <select class="form-control">
            <option value="">-- prefer --</option>
            <option ng-repeat="travelPreferTime in travelPreferTimes track by $index" value="{{ travelPreferTime.value }}">{{ travelPreferTime.label }}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="checkbox-inline custom-checkbox">
          <label>
            <input type="checkbox">
            <span class="input-checkbox"></span>
            <%= t('.round_trip') %>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-3">
        <div class="form-group">
          <select class="form-control">
            <option ng-show="(field.properties.transportation_prompt != null) || (field.properties.transportation_prompt != undefined)">{{ field.properties.transportation_prompt }}</option>
            <option value="{{item.value}}" ng-repeat="item in field.properties.transportations track by $index">{{ item.label }}</option>
          </select>
        </div>
      </div>

      <div class="col-xs-3">
        <div class="form-group">
          <select class="form-control">
            <option ng-show="(field.properties.class_prompt != null) || (field.properties.class_prompt != undefined)">{{ field.properties.class_prompt }}</option>
            <option value="{{item.value}}" ng-repeat="item in field.properties.classes track by $index">{{ item.label }}</option>
          </select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 form-group">
        <div class="checkbox-inline custom-checkbox form-group">
          <label>
            <input type="checkbox">
            <span class="input-checkbox"></span>
            <i class="pi pi-car"></i><%= t('.car_rental') %>
          </label>
        </div>

        <div class="checkbox-inline custom-checkbox">
          <label>
            <input type="checkbox" ng-model="newChildTaskTravel.details.hotel">
            <span class="input-checkbox"></span>
            <i class="pi pi-hotel"></i><%= t('.hotel_rental') %>
          </label>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <textarea class="form-control" rows="3" placeholder="Your memo...."></textarea>
        </div>
      </div>
    </div>
  </div>
</div>