<li <% if(active == "timeoff") %> class="active"<% end %>><%= link_to t('.link.time_off_policies'), company_timeoff_policies_path %></li>
<li <% if(active == "locations") %> class="active"<% end %>><%= link_to t('.link.locations'), company_locations_path %></li>
<li <% if(active == "employees") %> class="active"<% end %>><%= link_to t('.link.employees'), company_employees_path %></li>
<li <% if(active == "teams") %> class="active"<% end %>><%= link_to t('.link.teams'), company_teams_path %></li>
<li <% if(active == "billing") %> class="active"<% end %>><%= link_to t('.link.plans_&_billings'), company_admin_plan_and_billings_path %></li>