<div class="expense-import">
  <div class="block block-secondary block-list" ng-if="expenses.length == 0">
    <div class="block-body">
      <div class="clearfix">
        <div class="pull-left">
          <h2 class="block-title">Import Expenses</h2>
          <p class="text-muted mt10">Import expenses by uploading your file here.</p>
        </div>
        <%= link_to raw('<i class="pi pi-download"></i>Download Template'), '/template.csv', class: 'btn btn-lg btn-default pull-right', target: '_blank' %> 
      </div>
      <div class="upload-steps text-center mt40">
        <span class="active">1. Upload</span><i class="pi pi-long-arrow-right"></i><span>2. Verify &amp; Confirm</span>
      </div>
      <div>
        <div class="flow" flow-drop></div>
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-6 no-padding">
              <div class="input-file">
                <!-- <a class="btn btn-sm btn-upload" href="/tasks">Upload</a> -->
                <!-- <span class="btn btn-sm btn-upload" flow-btn>Upload</span> -->
                <!-- <input type="file" flow-btn> -->
                <div
                  class="btn btn-sm btn-upload"
                  upload-button
                  url="/tasks/parse_csv"
                  on-success="onParseSuccess(response)"
                  on-error="onError(response)">Upload</div>
              </div>
            </div>
            <div class="pull-right">
              <%= link_to 'Cancel', 'Javascript:;', class: 'btn btn-sm btn-link link-gray' %>
              <button type="button" class="btn btn-md btn-green">Next</button>
            </div>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <div class="block block-secondary block-list" ng-if="expenses.length > 0">
    <div class="block-body">
      <div class="clearfix">
        <div class="pull-left">
          <h2 class="block-title">Import Expenses</h2>
          <p class="text-muted mt10 hide">Import expenses by uploading your file here.</p>
        </div>
        <%= link_to raw('<i class="pi pi-download"></i>Download Template'), '/template.csv', class: 'btn btn-lg btn-default pull-right hide' %> 
      </div>
      <div class="upload-steps text-center mt40">
        <span>1. Upload</span><i class="pi pi-long-arrow-right"></i><span class="active">2. Verify &amp; Confirm</span>
      </div>
      <form>
        <div class="table-view mt40">
          <div class="table-responsive">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Date</th>
                  <th>Payment</th>
                  <th>Category</th>
                  <th>Amount</th>
                  <th>Currency</th>
                  <th>Rate</th>
                  <th>Purpose</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="expense in expenses" ng-if="!expense.done">
                  <td>{{expense.date}}</td>
                  <td>{{expense.payment}}</td>
                  <td>{{expense.category}}</td>
                  <td>{{expense.amount}}</td>
                  <td>{{expense.currency}}</td>
                  <td>{{expense.exrate}}</td>
                  <td>{{expense.purpose}}</td>
                  <td>{{expense.details}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-xs-12">
            <div class="pull-left">
              <button type="button" class="btn btn-md btn-secondary" ng-click="cleanExpenses()">Back</button>
            </div>
            <div class="pull-right">
              <%= link_to 'Cancel', 'Javascript:;', class: 'btn btn-sm btn-link link-gray' %>
              <button type="button" class="btn btn-md btn-green" ng-click="createExpenses()">Confirm</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
