<div class="expense-detail">
  <div class="action-menu">
    <div class="pull-left">
      <form class="form-inline">
        <!-- TODO: filter by -->
        <div class="form-group mb0"><label>Filter by:</label> <select class="form-control" data-container="body" data-width="150">
          <option>All</option>
          <option>Status</option>
          <option>Date</option>
          <option>Description</option>
          <option>Amount</option>
        </select></div>
      </form>
    </div>
    <div class="btn-group pull-right"><button class="btn btn-default active pi pi-table" type="button"></button> <button class="btn btn-default pi pi-spinner" type="button"></button></div>
  </div>
  <div class="table-view">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Status</th>
          <th>Date</th>
          <th>Category</th>
          <th>Description</th>
          <th class="text-right">Amount</th>
        </tr>
      </thead>
      <tbody>
        <!-- ***********************************************************************

        NOTE: Inject _form_row_edit partial on edit, remove when done editing.
        Do this for all row edits. 
        
        ************************************************************************ -->
        <%= render :partial => 'tasks/partials/form_row_edit' %>
        <!-- // End _form_row_edit partial -->
        <tr ng-repeat="et in task.expenses">
          <!-- todo: status' corresponding icons -->
          <td><i class="pi pi-check-circle-o"></i></td>
          <td>{{et.start_at | date:"dd-MM-yyyy"}}/{{et.end_at | date:"dd-MM-yyyy"}}</td>
          <td>{{et.details.category}}</td>
          <td>{{et.details.comment}}</td>
          <td class="amount"><span>{{et.details.currency}}{{et.details.amount}}</span><br>
            <span class="text-muted">{{et.details.currency}}{{et.details.amount | twodigit}}
              @{{et.details.exrate | exrate}}</span><a class="td-edit" href="/tasks/{{et.id}}"></a></td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="dropdown"><%= link_to raw('<i class="pi pi-plus"></i> ADD NEW ENTRY <span class="caret"></span>'), 'javascript:;', class: "dropdown-toggle" %>
    <div class="dropdown-menu">
      <div class="arrow"></div>
      <ul>
        <li><%= link_to raw('Manual Entry'), 'javascript:;' %></li>
        <li><%= link_to raw('Import'), 'javascript:;' %></li>
      </ul>
    </div>
  </div>
</div>
