<tr class="form-row-edit">
  <td colspan="5">
    <div class="block block-secondary collapse">
      <form>
        <div class="form-group">
          <div class="col-xs-3">
            <label>Date</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <label>Expense Type</label>
            <select class="form-control selectpicker" data-container="body"> 
              <option>Select</option>
              <option>Accomodation</option>
              <option>Air Ticket</option>
              <option>Car Rental</option>
              <option>Ent - Employee</option>
              <option>Ent - Issuer/Banker</option>
              <option>Ent - Clients</option>
              <option>Late Night Taxi</option>
              <option>Meals</option>
              <option>Misc-Office Expense</option>
              <option>Other</option>
              <option>Overtime Meal</option>
              <option>Tel-Mobile-Internet</option>
              <option>Transportion</option>
            </select>
          </div>
          <div class="col-xs-3">
            <label>Purpose</label>
            <select class="form-control selectpicker"> 
              <option>Select One</option>
              <option>Ratings Meeting</option>
              <option>Marketing Meeting</option>
              <option>Investor Meeting</option>
              <option>External Conference</option>
              <option>External Training</option>
              <option>Fitch Internal Training</option>
              <option>Internal Conference</option>
              <option>Other External Travel</option>
              <option>Others</option>
              <option>SAP Project Travel</option>
              <option>Visit Other Fitch Office</option>
            </select>
          </div>
          <div class="col-xs-3">
            <label>Payment Type</label>
            <select class="form-control selectpicker"> 
              <option>Corporate AMEX</option>
              <option>CASH</option>
              <option>Corporate Travel</option>
              <option>Inter-Office Recharge</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-2">
            <label class="currency">Currency</label>
            <select class="form-control selectpicker" data-container="body"> 
              <option>-</option>
              <option>AED</option>
              <option>AUD</option>
              <option>BND</option>
              <option>CHF</option>
              <option>CNY</option>
              <option>EUR</option>
              <option>GBP</option>
              <option>HKD</option>
              <option>IDR</option>
              <option>INR</option>
              <option>JOD</option>
              <option>JPY</option>
              <option>KRW</option>
              <option>KZT</option>
              <option>LKR</option>
              <option>MYR</option>
              <option>NZD</option>
              <option>PHP</option>
              <option>SGD</option>
              <option>THB</option>
              <option>TWD</option>
              <option>USD</option>
              <option>VND</option>
            </select>
          </div>
          <div class="col-xs-2">
            <label>Rate</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-2">
            <label>Amount</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-6">
            <label>Attachment</label>
            <div class="input-file">
              <%= link_to raw('Upload'), tasks_path, class: "btn btn-sm btn-upload" %>
              <input type="file">
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label>Memo</label>
            <textarea rows="2" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="pull-left">
              <button type="submit" class="btn btn-sm btn-primary">Save</button>
              <a href="javascript:;" class="btn link-gray btn-link link-cancel">Cancel</a>
            </div>
            <div class="pull-right">
              <a class="btn btn-link link-gray" href="javascript:;"><i class="pi pi-trash-o text-danger"></i>Delete Entry</a>
            </div>
          </div>
        </div>
      </form>
    </div>
  </td>
</tr>