<% @page_class = 'tasks task-new' %>

<div class="page-title">
  <h1>Travel/Expense Request</h1>
</div>
<!-- Request for Travel and Expense -->
<div class="block block-secondary">
  <%= simple_form_for(@task) do |f| %>
  <div class="form-group">
    <div class="col-xs-6">
      <label>Title</label>
      <input class="form-control" id="task_name" name="task[name]" type="text">
    </div>
    <div class="col-xs-6">
      <label>Description</label>
      <input type="text" class="form-control" id="task_description" name="task[description]">
    </div>
  </div>
  <div class="form-group">
   <div class="col-xs-3">
    <label>From</label>
    <div class="input-group">
      <div class="input-icon">
        <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
  <div class="col-xs-3">
    <label>To</label>
    <div class="input-group">
      <div class="input-icon">
        <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
        <input type="text" class="form-control">
      </div>
    </div>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-6">
    <label>Who is approving this?</label>
    <select class="form-control selectpicker"> 
      <option>Select One</option>
      <option>Ziwei Zhou</option>
      <option>Takashi Obatake</option>
      <option>Audrey Pang</option>
    </select>
  </div>
  <div class="col-xs-6">
    <label>Who is this request for?</label>
    <select class="form-control selectpicker"> 
      <option>Select One</option>
      <option>Ziwei Zhou</option>
      <option>Takashi Obatake</option>
      <option>Audrey Pang</option>
    </select>
  </div>
</div>
<div class="form-group">
  <div class="col-xs-12">
    <div class="pull-left">
      <button type="submit" class="btn btn-sm btn-primary">Create Request</button>
      <%= link_to 'Cancel', 'javascript:;', class: "btn btn-link link-gray" %>
    </div>
  </div>
</div>
<% end %>
</div>
<!-- End Request for Travel and Expense -->