<% @page_class = 'tasks task-new' %>

<div class="page-title">
  <h1>Time Off Request</h1>
</div>
<!-- Request for Time Off -->
<div class="block block-secondary">
  <%= simple_form_for(@task) do |f| %>
  <div class="form-group">
    <div class="col-xs-6">
      <label>Title</label>
      <input class="form-control" id="task_name" name="task[name]" type="text">
    </div>
    <div class="col-xs-6">
      <label>Description</label>
      <input type="text" class="form-control" id="task_description" name="task[description]">
    </div>
  </div>
  <div class="form-group datepicker">
    <div class="col-xs-3">
      <label>Type</label>
      <select class="form-control selectpicker"> 
        <option>Vacation</option>
        <option>Sick Leave</option>
        <option>Jury Duty</option>
      </select>
    </div>
    <div class="col-xs-5 no-padding">
      <label>From</label><br>
      <div class="input-group">
        <div class="col-xs-7 no-padding">
          <div class="input-icon pull-left">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control">
          </div>
        </div>
        <div class="checkbox-inline custom-checkbox ml10">
          <label>
            <input type="checkbox" class="pull-left" data-target="#ampm">
            <span class="input-checkbox"></span>
            Half Day
          </label>
        </div>
      </div>
    </div>
    <div class="col-xs-3 datepicker-to no-padding">
      <div class="calendar-to">
        <label>To</label>
        <div class="input-group">
          <div class="input-icon">
            <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
            <input type="text" class="form-control">
          </div>
        </div>
      </div>
      <div id="ampm" class="am-pm">
        <label>Which part of the day?</label>
        <div class="btn-group">
          <label class="btn btn-combo" ng-model="radioModel" btn-radio="'AM'">AM</label>
          <label class="btn btn-combo" ng-model="radioModel" btn-radio="'PM'">PM</label>
        </div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-6">
      <label>Who is approving this?</label>
      <select class="form-control selectpicker"> 
        <option>Select One</option>
        <option>Ziwei Zhou</option>
        <option>Takashi Obatake</option>
        <option>Audrey Pang</option>
      </select>
    </div>
    <div class="col-xs-6">
      <label>Who is this request for?</label>
      <select class="form-control selectpicker"> 
        <option>Select One</option>
        <option>Ziwei Zhou</option>
        <option>Takashi Obatake</option>
        <option>Audrey Pang</option>
      </select>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-6">
      <label>Memo</label>
      <textarea rows="2" class="form-control"></textarea>
    </div>
    <div class="col-xs-6">
      <label>Attachment</label>
      <div class="input-file">
        <%= link_to raw('Upload'), tasks_path, class: "btn btn-sm btn-upload" %>
        <input type="file">
      </div>
    </div>
  </div>
  <div class="form-group">
    <div class="col-xs-12">
      <div class="pull-left">
        <button type="submit" class="btn btn-sm btn-primary">Create Request</button>
        <%= link_to 'Cancel', 'javascript:;', class: "btn btn-link link-gray" %>
      </div>
    </div>
  </div>
  <% end %>
</div>
<!-- End Request for Time Off -->