<div class="travel-detail">
  <h2>Itinerary</h2>
  <div class="list-group">
    <% @task.descendants.where(type: TravelTask.name).each do |tt| %>
      <div class="block block-default list-block">
        <div class="block-body">
          <%= link_to 'javascript:;', :data => { :'toggle'=> 'collapse', :'target' => '#t1' } do %>
            <span class="circle-icon icon-flight">
              <i class="pi pi-flight"></i>
            </span>
            <h4 class="block-title">
              <%= tt.details[:from] %>
              <i class="pi pi-long-arrow-right"></i>
              <%= tt.details[:to] %>
              <span class="label label-booked"><%= tt.details[:booking_state].upcase %></span>
            </h4>
            <span class="list-desc"><%= time_tag Date.parse(tt.details[:from_date]) %> to <%= time_tag Date.parse(tt.details[:to_date]) %> </span>
            <div class="attributes">
              <span class="dot-separator"><%= tt.details[:booking_class] %></span>
              <span class="dot-separator">
                <% if tt.details[:round_trip] %>
                  Round Trip
                <% else %>
                  One Way
                <% end %>
              </span>
              <div class="icons">
                <% case tt.details[:prefer_time] %>
                <% when '0' %>
                  <i class="pi pi-morning"></i>/
                  <i class="pi pi-night"></i>
                <% when '1' %>
                  <i class="pi pi-morning"></i>
                <% when '3' %>
                  <i class="pi pi-night"></i>
                <% end %>
                <% if tt.details[:car] %>
                  <i class="pi pi-car"></i>
                <% end %>
                <% if tt.details[:hotel] %>
                  <i class="pi pi-hotel"></i>
                <% end %>
              </div>
            </div>
            <span class="edit-label pull-right">Edit</span>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="t1" class="block block-secondary collapse">
      <form>
        <div class="form-group">
          <div class="col-xs-3">
            <label>From</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-3">
            <label>Date</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-xs-3">
            <label>Time</label>
            <select class="form-control selectpicker">
              <option>No Preference</option>
              <option data-icon="pi pi-morning">Morning</option>
              <option data-icon="pi pi-night">Night</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-3">
            <label>To</label>
            <input type="text" class="form-control">
          </div>
          <div class="col-xs-3">
            <label>Date</label>
            <div class="input-group">
              <div class="input-icon">
                <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="col-xs-6">
            <label>Time</label><br>
            <select class="form-control selectpicker" data-width="148">
              <option>No Preference</option>
              <option data-icon="pi pi-morning">Morning</option>
              <option data-icon="pi pi-night">Night</option>
            </select>
            <div class="checkbox-inline custom-checkbox ml10">
              <label>
                <input type="checkbox">
                <span class="input-checkbox"></span>
                Round Trip
              </label>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-3">
            <label>Transportation</label>
            <select class="form-control selectpicker">
              <option>Flight</option>
              <option>Train</option>
            </select>
          </div>
          <div class="col-xs-9">
            <label>Class</label><br>
            <select class="form-control selectpicker" data-width="148">
              <option>Economy Class</option>
              <option>Business Class</option>
            </select>
            <div class="checkbox-inline custom-checkbox ml10">
              <div class="checkbox-inline">
                <label>
                  <input type="checkbox">
                  <span class="input-checkbox"></span>
                  <i class="pi pi-car"></i> Car Rental
                </label>
              </div>
              <div class="checkbox-inline custom-checkbox">
                <label>
                  <input type="checkbox">
                  <span class="input-checkbox"></span>
                  <i class="pi pi-hotel"></i> Hotel Rental
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <label>Memo</label>
            <textarea rows="4" class="form-control"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-xs-12">
            <div class="pull-left">
              <button type="submit" class="btn btn-sm btn-primary">Save</button>
              <%= link_to 'Booked', 'javascript:;', class: "btn btn-sm btn-green" %>
              <%= link_to 'Cancel', 'javascript:;', :data => {:'close' => 'collapse', :'target' => '#t1' }, class: "btn link-gray btn-link" %>
            </div>
            <div class="pull-right">
              <%= link_to raw('<i class="pi pi-trash-o text-danger"></i> Delete'), 'javascript:;', class: "btn btn-link link-gray" %>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
