<p>Welcome <%= @company.name %>!</p>

<p>
  Here is your Instraction to confirm your new account, <br />
  You can confirm your company email through the link below:
</p>

<p>
  <%= link_to "Click here to finish setting up your account on PandoHr.com",
      edit_companies_confirmation_url(@company.token) %>
</p>
