<table width="600" height="674"   bgcolor="#fff" cellpadding="0" cellspacing="0" border="0" valign="top" class="responsiveWidth">
   <tr cellpadding="0" cellspacing="0">
      <td cellpadding="0" cellspacing="0">
         <table cellpadding="0" cellspacing="0">
            <tr width:"600" height="25" cellpadding="0" cellspacing="0" class="responsiveWidth">
               <td width:"600" height="25" cellpadding="0" cellspacing="0" class="responsiveWidth"></td>
            </tr>
            <tr width="600" height="85" cellpadding="0" cellspacing="0" class="responsiveWidth">
               <td width="600" height="85" cellpadding="0" cellspacing="0" align="center" >
                  <span style="font-family:Open Sans;  color:#2c4462; font-size:16px; text-align:center; line-height:25px">
                  <span style="font-size:22px; font-weight:300;line-height:58px;">Welcome,<b>
                  <a href="#" style="color:#68a9ea; text-decoration:none;"><%= @company.name %>!</a></b></span><br />
                  And thanks for joining our global community! <br />
                  Here's a quick guide to help you get Started.
                  </span>
               </td>
            </tr>
         </table>

         <table height="40" width="600" class="responsiveWidth">
            <tr cellpadding="0" cellspacing="0">
               <td cellpadding="0" cellspacing="0"></td>
            </tr>
         </table>

         <table>
            <tr cellpadding="0" cellspacing="0" height="335" width="23">
               <td cellpadding="0" cellspacing="0" height="335" width="23"></td>
               <td cellpadding="0" cellspacing="0" height="335" width="555" class="responsiveWidth">
                  <table cellpadding="0" cellspacing="0" height="335" width="555" class="responsiveWidth">
                     <tr height="112" width="555">
                        <td height="112" width="555" style="border-bottom:1px solid #dedede;" class="responsiveWidth">
                           <%= image_tag 'rectangle1.png', width: 45, height: 45, style: "margin-right:20px; margin-bottom:45px; display:block; float:left" %>
                           <span style="font-family:Open Sans; color:#666; font-size:13px; line-height:20px"><b style="  font-size: 18px; color: #3b4a67; padding-bottom: 6px; text-align: left; display: inline-block; margin-top: -5px;">
                            Point 1 Confirmation
                            </b><br />
                            <%= link_to "Click here to finish setting up your account on PandoHr.com", edit_companies_confirmation_url(@company.token) %>
                           </span>
                        </td>
                     </tr>
                  </table>
               </td>
               <td cellpadding="0" cellspacing="0" height="335" width="22"></td>
            </tr>
         </table>

         <table>
            <tr height="72" width="600" cellpadding="0" cellspacing="0" class="responsiveWidth">
               <td height="72" width="600" cellpadding="0" cellspacing="0" class="responsiveWidth"></td>
            </tr>
            <tr cellpadding="0" cellspacing="0" height="40" width="600" class="responsiveWidth">
               <td cellpadding="0" cellspacing="0" height="40" width="600" class="responsiveWidth">
                  <table>
                     <tr>
                        <td height="40" width="15"></td>
                        <td height="40" width="575">
                           <span style="font-family:Open Sans; color:#2c4462; font-size:16px;">Best Regards,<br /><b>The PandorHr Team</b></span>
                        </td>
                     </tr>
                  </table>
               </td>
            </tr>
            <tr cellpadding="0" cellspacing="0" height="32" width="600" class="responsiveWidth">
               <td cellpadding="0" cellspacing="0" height="32" width="600" class="responsiveWidth"></td>
            </tr>
         </table>
      </td>
   </tr>
</table>