= content_for :subnav do
  .subnav
    ul= render 'shared/subnav/company', active: 'employees'


.pages.employees
  .page-title
    h1.pull-left
      = t('.import_employees')



  .block.block-alt
    .block-body
      = simple_form_for OpenStruct.new({}), as: :employees, url: company_employees_export_imports_path, method: :post do |f|
        = f.input :file, wrapper: :prepend2, hint: 'Please select your excel file to import your employees' do
          = f.input_field :file, as: :file, class: 'form-control'
          span class="input-group-addon btn btn-upload"
            | Upload

        = f.submit 'Upload', class: 'btn btn-sm btn-green'
        = link_to 'Cancel', company_employees_path, class: 'btn btn-sm btn-link link-gray'

      br
      p.help-block
        | You can click this
        = link_to ' link ', template_company_employees_export_imports_path(format: 'xlsx')
        | to get the template