
<div class="row">
  <div class="col-xs-12">
    <%= f.input :name %>
  </div>
</div>

<div class="form-group">
  <label>What type of event is this?</label><br>
  <div class="radio-inline custom-radio">
    <label data-toggle="tooltip">
      <%= f.radio_button :day_type, 'holiday', { class: 'pull-left' } %>
      <span class="input-radio"></span>
      Holiday
    </label>
  </div>

  <div class="radio-inline custom-radio">
    <label data-toggle="tooltip">
      <%= f.radio_button :day_type, 'workday', { class: 'pull-left' } %>
      <span class="input-radio"></span>
      Work Day
    </label>
  </div>
</div>


<div class="row">
  <div class="col-xs-4">
    <%= f.input :start, wrapper: :prepend do %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <%= f.input_field :start, as: :string, class:'form-control', data:{"bs-datepicker" => "", "date-format" => "yyyy-MM-dd", "ng-model" => "hrdate.start"}%>
    <% end %>
  </div>

  <div class="col-xs-4">
    <%= f.input :end, wrapper: :prepend do %>
      <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
      <%= f.input_field :end, as: :string, class: 'form-control', data:{"bs-datepicker" => "", "date-format" => "yyyy-MM-dd", "ng-model" => "hrdate.end"} %>
    <% end %>
  </div>

  <div class="col-xs-4">
    <div class="form-group">
      <label class="control-label">&nbsp;</label>
      <div class="input-group">
        <div class="checkbox-inline custom-checkbox">
          <label data-toggle="tooltip">
            <%= f.check_box :repeat, { class: 'pull-left' } %>
            <span class="input-checkbox"></span>
            <span bs-tooltip data-title="Tooltip">Repeat</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>

<%= f.association :locations, label_method: :name, value_method: :id, include_blank: false %>
