<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="block block-alt no-margin no-shadow">
        <div class="block-heading">
          <h2 class="block-title">Edit Event</h2>
        </div>

        <div class="block-body" ng-controller="CalendarNewCtrl" ng-cloak="true" ng-init="hrdate = <%= @hrdate.to_json %>;">

          <%= simple_form_for @hrdate, url: company_calendar_path(@hrdate), method: :put do |form| %>
            <%= render 'form', f: form %>

            <div class="form-group">
              <button type="submit" class="btn btn-md btn-primary">Update Event</button>
              <%= link_to 'Cancel', 'javascript:;', class: 'btn btn-link link-gray', "ng-click" => '$hide()' %>
            </div>
          <% end %>


        </div>
      </div>
    </div>
  </div>
</div>

<%= call_js_init("initBootstrapDP();") %>