<!-- End New Event Module -->
<div class="pages calendar ajax" ng-cloak="true" ng-controller="CalendarIndexCtrl">
  <div class="page-title">
    <h1 class="pull-left">
      <%= Date.today.year %> Calendar
    </h1>

    <% if policy(Hrdate).new? %>
      <button type="button" class="btn btn-lg btn-primary pull-right" data-container="body" data-animation="am-fade-and-slide-top" data-content-template="<%= new_company_calendar_path(modal: true) %>" bs-modal="modal">
        <i class="pi pi-plus"></i>
        ADD EVENT
      </button>
    <% end %>
  </div>

  <div class="calendar-search">
    <form class="mb20">
      <div class="row">
        <div class="col-xs-4">
          <div class="input-group">
            <div class="input-icon">
              <span class="input-group-addon"><i class="fa fa-search"></i></span>
              <%= text_field_tag :keyword, params[:keyword], class: 'form-control', placeholder: 'Search for...', 'ng-model' => "keyword" %>
            </div>

            <span class="input-group-btn">
              <button class="btn btn-primary" type="button" ng-click="refetchEvents()">Go</button>
            </span>
          </div>
      </div>
    </div>
  </div>

  <div ng-model="hrdateSources" calendar="calendar" ui-calendar="uiConfig.calendar" class="calendar"></div>

  <div class="calendar-legend">
    <ul class="list-inline">
      <li><span class="dot fc-event-timeoff"></span> Employee Time Off</li>
      <li><span class="dot fc-event-holiday"></span> Company Holidays</li>
      <li><span class="dot fc-event-company"></span> Company Events</li>
      <li><span class="dot fc-event-task"></span> Submitted Tasks</li>
    </ul>
  </div>
  <!-- End New Event Module -->
</div>
