<div class="modal" tabindex="-1" role="dialog" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="block block-alt no-margin no-shadow">
        <div class="block-heading">
          <h2 class="block-title">New Event</h2>
        </div>
        <div class="block-body">
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-12">
                  <label>Event Name</label>
                  <input type="text" class="form-control" name="" value="" placeholder="Event Name">
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>What type of event is this?</label><br>
              <div class="radio-inline custom-radio">
                <label data-toggle="tooltip">
                  <input type="radio" class="pull-left" name="eventType">
                  <span class="input-radio"></span>
                  Holiday
                </label>
              </div>
              <div class="radio-inline custom-radio">
                <label data-toggle="tooltip">
                  <input type="radio" class="pull-left" name="eventType">
                  <span class="input-radio"></span>
                  Work Day
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="row  cell-align align-bottom">
                <div class="col-xs-2">
                  <label>Date</label>
                  <div class="input-group input-icon">
                    <div class="input-icon">
                      <span class="input-group-addon"><i class="pi pi-calendar"></i></span>
                      <input type="text" class="form-control" name="" value="" placeholder="Date">
                    </div>
                  </div>
                </div>
                <div class="col-xs-6 no-horizontal-padding">
                  <div class="checkbox-inline custom-checkbox">
                    <label data-toggle="tooltip">
                      <input type="checkbox" class="pull-left">
                      <span class="input-checkbox"></span>
                      <span bs-tooltip data-title="Tooltip">Repeat</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label>Locations</label>
              <select name="" class="form-control" multiple>
                <option value="">Beijing</option>
                <option value="">Shanghai</option>
                <option value="">Singapore</option>
              </select>
            </div>
            <div class="form-group">
              <button type="submit" class="btn btn-md btn-primary">Create Event</button>
              <%= link_to 'Cancel', 'javascript:;', class: 'btn btn-link link-gray', "ng-click" => '$hide()' %>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>