<section id="errors" class="error error-500">
  <div class="errorContent">
    <div class="errorInfo">
      <span class="bigText">Oops!</span>
      <%= image_tag '500.png', class: 'ErrorImg' %>
      <span class="smallText">something<br>has gone wrong</span>
    </div>
    <div class="errorText">
      <span class="small">This must be due to the heavy traffic we are experiencing.</br>
      Please try again later or <a href="#">contact our support.</a></span>
    </div>
  </div>
</section>