<section id="errors" class="error error-404">
  <div class="errorContent">
    <div class="errorInfo">
      <span class="bigText">4</span>
      <%= image_tag '404.png', class: 'ErrorImg' %>
      <span class="bigText">4</span>
      <span class="smallText">ERROR</span>
    </div>
    <div class="errorText">
      <span class="big">Oops! We’re sorry, but this page is missing.</span>
      <span class="small">Use top menu to navigate back to homepage</span>
    </div>
  </div>
</section>