<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt signup-success">
    <div class="block-body">
      <div class="text-center">
        <h1 class="block-title">Thank you for signing up.</h1>
        <p class="mt20 mb20">
          Go check your email now. We just sent an email 
          with a link to complete your registration.
          <br>
          If you are not getting the email in a few minutes,
          <%= link_to 'Click here', new_companies_confirmation_path %>
          to re-send the link.
        </p>
      </div>
    </div>
  </div>
</div>