<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt signup">
    <div class="block-body">
      <h2 class="block-title">Company Sign Up</h2>

      <%= simple_form_for(@company, url: companies_registrations_path, method: :post, :html => { :role => 'form', class: 'mt40'}) do |f| %>
        <%= f.error_notification %>
        <%= f.input :name, required: false %>
        <%= f.input :email, required: false %>

        <div class="clearfix">
          <%= f.submit 'Sign Up', :class => 'btn btn-md btn-primary pull-left' %>
          <div class="pull-right text-12 text-muted mt10">
            Signed up already?
            <%= link_to "Login", new_user_session_path %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
