<div class="clearfix">
  <ul id="tabs" class="list-inline pull-left">
    <li class="<%= params[:id] == 'accrue_rate' ? 'active' : '' %>"><%= link_to raw('<i class="fa fa-line-chart"></i> Accrual Rate'), company_timeoff_policy_setting_path(@timeoff_policy,:accrue_rate), class: 'link-gray' %></li>
    <li class="<%= params[:id] == 'tenture_workday' ? 'active' : '' %>"><%= link_to raw('<i class="fa fa-clock-o"></i> Tenure'), company_timeoff_policy_setting_path(@timeoff_policy,:tenture_workday), class: 'link-gray' %></li>
    <li class="<%= params[:id] == 'timeoff_types' ? 'active' : '' %>"><%= link_to raw('<i class="fa fa-th"></i> Time Off Categories'), company_timeoff_policy_setting_path(@timeoff_policy,:timeoff_types), class: 'link-gray' %></li>
  </ul>
</div>