- tenture ||= {anniversary: '1', extra_days: '1'}
- idx ||= 'TENTURE_IDX'

= f.fields_for idx.to_s, OpenStruct.new(tenture) do |f_tenture|
  tr id="tenture-item-#{idx}" class="tenture-item"
    td= f_tenture.input_field :anniversary, class: 'form-control selectpicker', collection: Enum::TimeoffPolicy::TENTURE[:options].map{|x| [t("enumerize.timeoff_policy.tentures.#{x}") ,x]}, 'ng-keyup' => "calculateTentures()"
    td= f_tenture.input_field :extra_days,  class: 'form-control extra-days',   'ng-keyup' => "calculateTentures()"
    td
      .form-control-static.text-center.text-primary
        = "{{ I18n.t('js.common.days', { count: 0 }) }} "
    td
      = link_to raw('<i class="pi pi-trash-o"></i>'), 'javascript:;', class: 'text-danger', "ng-click" => "removeTenture(#{idx})"