<% category = f_category.object %>

<tr class="fields">
  <td><%= f_category.text_field :name, class: 'form-control', disabled: category.default %></td>
  <td><%= f_category.select :category_type, Enum::TimeoffPolicyCategory::CATEGORY_TYPE[:options].map{|x| [t("enumerize.timeoff_policy_category.category_type.#{x}"),x]}, {}, class: 'form-control selectpicker', include_blank: false, disabled: category.default %></td>
  <td class="text-right">
    <% unless category.default %>
      <%= f_category.link_to_remove raw('<i class="pi pi-trash-o"></i>') %>
    <% end %>
  </td>
</tr>

