= simple_nested_form_for @timeoff_policy, url: wizard_path, html: { name: "showPolicy"} do |f|
  .block.block-alt.list-block
    .block-body
      h2.block-title
        = t('.accrue_rate')
      p.text-muted
        = t('.example')
      p.text-primary
        = t('.content_example_html')
      .form-group.mt40
        .row
          .col-xs-3
            = f.input :work_hours_per_day, input_field: { 'ng-model' => 'timeoff_policy.work_hours_per_day' }
        .row
          .col-xs-4
            label
              = t('.total_per_year')
            .input-group.text-addon.small
              |
              = f.input_field :base_vacation_days, label: false, class: 'form-control', "ng-model" => "timeoff_policy.base_vacation_days", min: 0
              span.input-group-addon
                = t('.day_per_year')
            .text-muted.text-14.mt10
              | {{timeoff_policy.base_vacation_days * hours_per_day}}
              | &nbsp;
              = t('.hours_per_year')
          .col-xs-3.no-horizontal-padding
            label
              = t('.accural_type')
            |
            = f.input :accrue_type, :as => :select, label: false,include_blank: false, input_html:{ class: 'form-control' }
          .col-xs-3
            label
              = t('.accrue_rate')
            |
            = f.input :accrue_rate, :as => :select, label: false, include_blank: false, input_html:{ class: 'form-control' }

  .block.block-alt.list-block
    .block-body
      h2.block-title
        = t('.pto_cap_policy')
      p.text-muted
        = t('.example')
      p.text-primary
        = t('.content_PTO_example_html')

      .form-group
        .checkbox-inline.custom-checkbox
          label
            = f.check_box :carry_over, 'ng-model' => "timeoff_policy.carry_over"
            span.input-checkbox
            = t('.allow_vacation_days')

      div ng-show="timeoff_policy.carry_over"
        .form-group
          label
            = t('.days_to_carried_over_per_year')
          br
          .input-group.text-addon.small
            |
            = f.input_field :carry_over_cap, class: 'form-control'
            span.input-group-addon
              |
              hours
              span.text-muted
                = t('.num_of_days')

        .form-group
          .checkbox-inline.custom-checkbox
            label
              = f.check_box :carry_over_expiration, 'ng-model' => 'timeoff_policy.carry_over_expiration'
              span.input-checkbox
              = t('.carried_over_vacation_days')

        .form-group ng-show="timeoff_policy.carry_over_expiration"
          .row
            .col-xs-3
              .input-group.text-addon
                .input-group.input-icon
                  .input-icon
                    span.input-group-addon
                      i.pi.pi-calendar
                    input.form-control data-placement="top-left" bs-datepicker="" id="carry-over-expiration-date" data-date-format="yyyy-MM-dd" name="timeoff_policy[carry_over_expire_on]" type="text" autocomplete="off" ng-model="timeoff_policy.carry_over_expire_on"


      br
      .form-group
        .checkbox-inline.custom-checkbox
          label
            = f.check_box :allow_negative, 'ng-model' => 'timeoff_policy.allow_negative'
            span.input-checkbox
            | Are employess allowed to borrow PTO days from the future?

      .form-group ng-show="timeoff_policy.allow_negative"
        label How many days can be borrowed? (Leave blank if there is no limit)
        .row
          .col-xs-3
            .input-group.text-addon
              |
              = f.input_field :negative_cap, label: false, class: 'form-control'
              span.input-group-addon days


  = render '/private/timeoff_policies/partials/save_continue', f: f

  <!-- // End PTO Cap Policy -->