= simple_nested_form_for(@timeoff_policy, url: wizard_path, html: { name: "showPolicy"}) do |f| 
  #tenure.block.block-alt.list-block
    .block-body
      h2.block-title = t('.tenure')
      p.text-muted = t('.text_muted_html')
      p.text-muted = t('.example')
      p.text-primary = t('.text_primary_html')
      .table-view.mt40
        table.table.table-striped
          thead
            tr
              th = t('.anniversary_of_hire')
              th = t('.extra_vacation_days')
              th = t('.total_vacation_days')
              th = t('.actions')
          tbody id="tentures-form"
            = f.fields_for :tentures_attribute do |f_row|
              javascript:
                var tenture_partial = "#{escape_javascript render('/private/timeoff_policies/settings/tenture', f: f_row, timeoff_policy: @timeoff_policy)}";

              - @timeoff_policy.tentures.each_with_index do |tenture, idx|
                = render '/private/timeoff_policies/settings/tenture', f: f_row, timeoff_policy: @timeoff_policy, idx: idx, tenture: tenture

      button.btn.btn-md.btn-link type="button" ng-click="addTenture()"
        i.pi.pi-plus
        = t('.add')

  /! // End Tenure
  /! Sick and Personal Leave
  #sick-personal.block.block-alt.list-block
    .block-body
      h2.block-title = t('.sick_and_personal_leave')
      p.text-muted
        = t('.text_sick_and_personal_leave')
      .form-group.mt40
        .row
          .col-xs-6
            label
              = t('.sick_leave')
            .input-group.text-addon.small
              = f.input :total_sick_days, label: false, input_html: {class: 'form-control', "ng-model" => "timeoff_policy.total_sick_days", min: 0}
              span.input-group-addon
                = t('.days per year')
            .text-muted.text-14.mt10
              | {{timeoff_policy.total_sick_days * hours_per_day}}
              | &nbsp;
              = t('.hours_per_year')
          .col-xs-6
            label
              = t('.personal_leave')
            .input-group.text-addon.small
              = f.input :total_personal_days, label: false, input_html: {class: 'form-control', "ng-model" => "timeoff_policy.total_personal_days", min: 0}
              span.input-group-addon
                = t('.days per year')
            .text-muted.text-14.mt10
              | {{timeoff_policy.total_personal_days * hours_per_day}}
              | &nbsp;
              = t('.hours_per_year')

  #work-schedule.block.block-alt.list-block
    .block-body
      h2.block-title
        = t('.work_schedule')
      p.text-muted
        = t('.work_schedule_text')
      .table-view.mt40.mb0
        table.table.table-striped
          thead
            tr
              th = t('.days')
              th = t('.from')
              th = t('.to')
              th = t('.hours')
          tbody
            - Date::DAYNAMES.each do |day_of_week|
              - day = day_of_week.downcase.first(3)
              - times = @timeoff_policy.work_hours[day]
              - if times
                - start_hour, start_minute = times[0].split(":")
                - end_hour, end_minute = times[1].split(":")
              tr
                td
                  .form-group
                    .checkbox-inline.custom-checkbox
                      label
                        = check_box_tag "timeoff_policy[work_hours][#{day}][checked]", day, !times.blank?
                        span.input-checkbox
                        = day_of_week
                td
                  .form-group
                    - if times.blank?
                      = time_select "timeoff_policy[work_hours][#{day}][start_at]", nil, {default: Time.now.beginning_of_day+8.hours}, {class: 'form-control time-select', day: "#{day}"}
                    - else
                      = time_select "timeoff_policy[work_hours][#{day}][start_at]", nil, {default: {hour: start_hour, minute: start_minute}}, {class: 'form-control time-select', day: "#{day}"}

                td
                  .form-group
                    - if times.blank?
                      = time_select "timeoff_policy[work_hours][#{day}][end_at]", nil , {default: Time.now.beginning_of_day+16.hours},{class: 'form-control time-select', day: "#{day}"}
                    - else
                      = time_select "timeoff_policy[work_hours][#{day}][end_at]", nil, {default: {hour: end_hour, minute: end_minute}}, {class: 'form-control time-select', day: "#{day}"}

                td
                  .text-muted-light
                    span id="#{day}-hours"
                    | &nbsp;
                    = t('.hours_lowercase')


  = render '/private/timeoff_policies/partials/save_continue', f: f

