<%= simple_nested_form_for(@timeoff_policy, url: wizard_path, html: { name: "showPolicy"}) do |f| %>
  <div id="time-off-categpries" class="block block-alt list-block">

    <div class="block-body">
      <h2 class="block-title"><%= t('.time_off_categories') %></h2>
      <p class="text-muted"><%= t('.time_off_categories_text') %></p>

      <%= render '/shared/flash_messages', object: @timeoff_policy %>

      <table class="table table-striped table-view mt40">
        <thead>
          <tr>
            <th><%= t('.time_off_category') %></th>
            <th><%= t('.count_as_PTO') %></th>
            <th class="text-right"><%= t('.actions') %></th>
          </tr>
        </thead>
        <tbody>
          <%= f.fields_for :categories, wrapper: false do |f_category| %>
            <%= render 'timeoff_type', f_category: f_category %>
          <% end %>

          <tr>
            <td colspan="3">
              <%= f.link_to_add raw("<i class='pi pi-plus'>#{t('timeoff_policies.show.tab3.add_to_new_category')}</i>"), :categories, class: 'btn-link btn btn-md' %>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <%= render '/private/timeoff_policies/partials/save_continue', f: f %>
<% end %>

<script type="text/javascript">
  window.NestedFormEvents.prototype.insertFields = function(content, assoc, link) {
    var $tr = $(link).closest('tr');
    return $(content).insertBefore($tr);
  }
</script>