<% if form.show_on_calendar %>
  <% range_field = form.date_range_field %>

  <!-- range -->
  <div class="input string <%= range_field.required %>">
    <%= f.label :start_at, class: 'control-label' do %>
      <% if range_field.required %>
        <abbr title="required">*</abbr>
      <% end %>
      <%=  range_field.properties['label'] %>
    <% end %>

    <div class="row">
      <div class="col-xs-6">
        <%= f.input :start_at, as: :string,label: false, input_html: { value: f.object.start_at.try(:strftime, "%d/%m/%Y %I:%M %p"), class: 'datetimepicker', placeholder: 'From', "data-date-format" => "DD/MM/YYYY hh:mm A" } %>
      </div>

      <div class="col-xs-6">
        <%= f.input :end_at,   as: :string, label: false, input_html: { value: f.object.end_at.try(:strftime, "%d/%m/%Y %I:%M %p"), class: 'datetimepicker', placeholder: 'To', "data-date-format" => "DD/MM/YYYY hh:mm A" } %>
      </div>
    </div>

    <% if range_field.properties['hint'].present? %>
      <p class="help-block">
        <%= range_field.properties['hint'] %>
      </p>
    <% end %>
  </div>
<% end %>

<%= f.fields_for :answers, OpenStruct.new(entry.answers) do |builder| %>
  <% entry.form.fields.each do |question| %>
    <% entry.answers ||= {} %>
    <% if form.show_on_calendar %>
      <% if question != form.date_range_field %>
        <%= render "/private/form_entries/fields/#{question.field_type}", question: question, f: builder, entry: entry, answers: entry.answers[question.id.to_s]%>
      <% end %>

    <% else %>
      <%= render "/private/form_entries/fields/#{question.field_type}", question: question, f: builder, entry: entry, answers: entry.answers[question.id.to_s]%>
    <% end %>
  <% end %>
<% end %>
