<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <li class="active"><%= link_to 'ALL TASKS', 'javascript:;' %></li>
      <li><%= link_to 'YOUR TASKS', 'javascript:;' %></li>
    </ul>
  </div>
<% end %>

<%= react_component('ManageTasks', render(template: 'private/form_entries/index.json.jbuilder')) %>