<div class="row" ng-controller="FormEntryCtrl" ng-cloak="true" ng-init="formel = '#new-entry-form'; answers = <%= @entry.answers.to_json %>;" >
  <div class="col-md-12 tasks">
    <div class="heading">
      <span class="circle-icon fa <%= @form.icon %>"></span>
      <h2><%= @form.name %></h2>
      <span class="task-detail-description"><%= @form.introduction %></span>
    </div>

    <%= simple_form_for @entry, url: company_form_entries_path(form_id: @form.id), method: :post, html: { class: 'dynamic-form-entry', id: 'new-entry-form' } do |f| %>
      <%= render 'form', f: f, form: @form, entry: @entry %>

      <div class="form-actions">
        <%= f.button :submit, "Submit", class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
