<% content_for :javascript do %>
<script type="text/javascript">
var task_data = <%=raw render(template: 'private/form_entries/show.json.jbuilder')%>;

</script>
<%end%>
<%= react_component('FormApp') %>

<!-- uncomment here to test single file upload

<%= form_tag upload_expense_attachment_company_form_entry_path(@entry, @form.fields.first, 0, format: :json), 'data-type' => 'json', method: :post, multipart: true do %>
  <div class="form-group">
    <%= label_tag :file, "Select file:" %>
    <%= file_field_tag :file %>
  </div>
  <%= submit_tag 'Upload' %>
<% end %>


-->