<div class="timeoff-detail">
  <div class="row">
    <div class="col-xs-6">
      <div class="chart-container">
        <h3 class="mb0">Vacation</h3>
        <p class="text-14 mb20">
          <%= user.policy.base_vacation_days * user.policy.work_hours_per_day %>
          hours total
        </p>
        <canvas id="vacation" class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas>
        <div class="available-days">
          <strong><%= (user.total_remain_vacation_days * user.policy.work_hours_per_day).to_i %>hr</strong>
          <p class="text-14 text-muted">AVAILABLE</p>
        </div>
      </div>
    </div>
    <div class="col-xs-6">
      <div class="chart-container">
        <h3 class="mb0">Sick Leave</h3>
        <p class="text-14 mb20">
          <% if user.policy.total_sick_days.present? && (user.policy.total_sick_days != 0) %>
            <%= user.policy.total_sick_days * user.policy.work_hours_per_day %>
            hours total
          <% else %>
            Unlimited sick days
          <% end %>

        </p>
        <canvas id="sickleave" class="chart chart-doughnut chart-xs" data="data" labels="labels" legend="false"></canvas>
        <div class="available-days">
          <strong>
            <% if user.policy.total_sick_days.present? && (user.policy.total_sick_days != 0) %>
              <%= (user.total_remain_sick_days * user.policy.work_hours_per_day).to_i %>hr
            <% else %>
              ∞
            <% end %>
          </strong>
          <p class="text-14 text-muted">AVAILABLE</p>
        </div>
      </div>
    </div>
  </div>
</div>

<% content_for :javascript do %>
  <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/Chart.js//1.0.1-beta.4/Chart.min.js"></script> -->
  <script type="text/javascript">
    $(document).on('ready resize page:load', function(){
      var options = {
          //Boolean - Whether we should show a stroke on each segment
          segmentShowStroke : false,

          //String - The colour of each segment stroke
          segmentStrokeColor : "#fff",

          //Number - The width of each segment stroke
          segmentStrokeWidth : 2,

          //Number - The percentage of the chart that we cut out of the middle
          percentageInnerCutout : 60, // This is 0 for Pie charts

          //Number - Amount of animation steps
          animationSteps : 100,

          //String - Animation easing effect
          animationEasing : "easeInOutExpo",

          //Boolean - Whether we animate the rotation of the Doughnut
          animateRotate : true,

          //Boolean - Whether we animate scaling the Doughnut from the centre
          animateScale : false,

        };
        window.vacationData = [
          {
            value: <%= user.total_remain_vacation_hours.round %>,
            color:"#617994",
            highlight: "#6b85a2",
            label: "Remaining Hours"
          },
          {
            value: <%= user.total_used_vacation_hours.round %>,
            color: "#e2e9f3",
            highlight: "#e2e9f3",
            label: "Hours Used"
          }
        ]
        <% if user.policy.total_sick_days.present? && (user.policy.total_sick_days != 0) %>
          var sickleaveData = [
            {
              value: <%= user.total_remain_sick_hours %>,
              color:"#617994",
              highlight: "#6b85a2",
              label: "Remaining Hours"
            },
            {
              value: <%= user.total_used_sick_hours %>,
              color: "#e2e9f3",
              highlight: "#e2e9f3",
              label: "Hours Used"
            }
          ]

        <% else %>
          var sickleaveData = [
            {
              value: <%= user.total_used_sick_hours %>,
              color:"#617994",
              highlight: "#6b85a2",
              label: "Hours Used"
            }
          ]

        <% end %>

        var vacation = document.getElementById("vacation").getContext("2d");
        var myDoughnutChart = new Chart(vacation).Doughnut(vacationData,options);

        var sickleave = document.getElementById("sickleave").getContext("2d");
        var myDoughnutChart = new Chart(sickleave).Doughnut(sickleaveData,options);
      });
  </script>
<% end %>
