<!-- Request for Time Off -->
<%= simple_form_for [:company, timeoff] do |f| %>
  <%= f.hidden_field :timeoff_type %>
  <%= render '/shared/flash_messages', object:f.object %>
  <div class="block block-secondary">
    <div class="block-body">
      <h2 class="block-title"><%= t('.time_off_request') %></h2>

      <div class="row">
        <div class="col-xs-4">
          <%= f.input :name, required: false %>
        </div>

        <% if timeoff.timeoff_type_manual? %>
          <div class="col-xs-4">
            <%= f.input :start_at, label: t('.start_at'), wrapper: :prepend, required: false do %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= f.input_field :start_at, value: @timeoff.start_at.try(:strftime, "%d/%m/%Y %I:%M %p"), as: :string, class: 'datetimepicker form-control', "data-date-format" => "DD/MM/YYYY hh:mm A" %>
            <% end %>
          </div>

          <div class="col-xs-4">
            <%= f.input :end_at, label: t('.end_at'), wrapper: :prepend, required: false do %>
              <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
              <%= f.input_field :end_at, value: @timeoff.end_at.try(:strftime, "%d/%m/%Y %I:%M %p"), as: :string, class: 'datetimepicker form-control', "data-date-format" => "DD/MM/YYYY hh:mm A" %>
            <% end %>
          </div>

        <% elsif timeoff.timeoff_type_custom? %>
          <div class="col-xs-8">
            <%= f.input :amount, label: t('.amount'), hint: 'Please input how many hours do you want to add, can be positive / negative' %>
          </div>
        <% end %>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <%= f.association :user, collection: current_company.users.all, label: t('.who_request'), include_blank: false, hint: 'test' %>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-6">
          <%= f.input :category_id, collection: timeoff.user.policy.categories.map{ |c| [c.name, c.id] }, required: false, include_blank: false %>
        </div>

        <div class="col-xs-6">
          <%= f.input :attachments, wrapper: :prepend2 do %>
            <%= f.input_field :attachments, as: :file, multiple: true, class: 'form-control' %>
            <span class="input-group-addon btn btn-upload">Upload</span>
          <% end %>

          <p class="help-block">
            <strong>Uploaded: </strong>
            <% timeoff.attachments.each do |attachment| %>
              <span><%= link_to attachment.file.filename, attachment.url, target: :blank %></span>
            <% end %>
          </p>
        </div>
      </div>

      <% if @timeoff.timeoff_type_custom? %>
        <div class="row">
          <div class="col-xs-12">
            <%= f.input :memo %>
          </div>
        </div>
      <% end %>

      <div class="row">
        <div class="col-xs-12">
          <% if timeoff.new_record? %>
            <%= f.submit 'Create Request', class: 'btn btn-sm btn-primary' %>
          <% else %>
            <%= f.submit 'Save', class: 'btn btn-sm btn-primary' %>
          <% end %>

          <%= link_to t('.cancel'), company_timeoffs_path, class: 'btn btn-link link-gray' %>
        </div>
      </div>
    </div>
  </div>
<% end %>
