<div class="row">
  <div class="col-xs-12">
    <h3>Managed Timeoffs</h3>
    <%= link_to 'New Timeoff', new_company_timeoff_path, class: 'btn btn-primary' %>
    <table class="table table-bordered table-hover">
      <thead>
        <tr>
          <th>No. </th>
          <th>Status</th>
          <th>Cateogry</th>
          <th>Name</th>
          <th>Time</th>
          <th>Description</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% timeoffs.each_with_index do |timeoff, idx| %>
          <tr>
            <td><%= idx + 1 %></td>
            <td><%= timeoff.status %></td>
            <td><%= timeoff.category %></td>
            <td><%= timeoff.name %></td>
            <td>
              <p>
                From: <%=l timeoff.start_at, format: :custom %>
                <br />
                To: <%=l timeoff.end_at, format: :custom %></td>
              </p>
            <td><%= timeoff.description %></td>
            <td>
              <%= link_to 'Edit', edit_company_timeoff_path(timeoff), class: 'btn btn-xs btn-primary' %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

  </div>
</div>