<li <% if(active == "timeoffs") %> class="active"<% end %>><%= link_to t('.link.timeoff'), company_timeoffs_path %></li>
<li <% if(active == "timeoff_logs") %> class="active"<% end %>><%= link_to t('.link.timeoff_logs'), logs_company_timeoffs_path %></li>