<div ng-controller="TimeoffNewCtrl">
  <div class="sticky-header">
    <div class="content-wrapper">
      <div class="breadcrumb">
        <%= link_to raw("<i class='pi pi-arrow-back'></i> #{t('.back_to_timeoffs')}"), company_timeoffs_path %>
      </div>
    </div>
  </div>
  <!-- End Request for Time Off -->

  <!-- render chart -->
  <%= render 'charts', user: @user %>

  <div class="pages tasks">
    <div class="heading">
      <span class="circle-icon icon-suitcase"></span>
      <%= link_to change_status_company_timeoff_path(@timeoff, 'cancel'), class: "link-gray pull-right link-edit", method: :put, data: { confirm: "Are you sure to cancel this timeoff request?" } do %>
        <i class='fa fa-trash'></i>
        <%= t('.cancel') %>
      <% end %>
      <h2>Edit Timeoff Log</h2>
    </div>

    <!-- Task Detail Partials -->
    <%= render 'form', timeoff: @timeoff %>
    <!-- End Task Detail Partials -->
  </div>
</div>

<%= call_js_init("stickyHeader();") %>