<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render 'subnav', active: 'timeoffs' %>
    </ul>
  </div>
<% end %>

<div class="pages tasks" ng-cloak="true" ng-controller="TimeoffIndexCtrl">

  <div class="page-title">
    <h1 class="pull-left"><%= t('.Timeoffs') %></h1>
    <%= link_to 'New Timeoff', new_company_timeoff_path, class: 'pull-right btn btn-lg btn-primary' %>

    <% if policy(current_user.timeoffs.new(timeoff_type: 'custom')).new? %>
      <%= link_to 'Custom Timeoff', new_company_timeoff_path(type: 'custom'), class: 'pull-right btn btn-lg btn-warning mr10' %>
    <% end %>
  </div>

  <div class="action-menu">
    <ul class="pull-left">
      <li>
        <%= link_to company_timeoffs_path(sort: params[:sort]) do %>
          <%= t('.all') %>
          <span class='badge badge-default'><%= @all_timeoffs.to_a.size %></span>
        <% end %>
      </li>

      <li>
        <%= link_to company_timeoffs_path(type: 'managed', sort: params[:sort]) do %>
          <%= t('.managed_timeoffs') %>
          <span class='badge badge-default'><%= @all_timeoffs.author_by(current_user.id).to_a.size %></span>
        <% end %>
      </li>

      <li>
        <%= link_to company_timeoffs_path(type: 'assigned', sort: params[:sort]) do %>
          <%= t('.assigned_timeoffs') %>
          <span class='badge badge-default'><%= @all_timeoffs.assigned_to(current_user.id).to_a.size %></span>
        <% end %>
      </li>

      <li ng-class="activeYourTimeoffs">
        <%= link_to company_timeoffs_path(type: 'owner', sort: params[:sort]) do %>
          <%= t('.your_timeoffs') %>
          <span class='badge badge-default'><%= @all_timeoffs.owner_by(current_user.id).to_a.size %></span>
        <% end %>
      </li>

      <!-- <li>
        <%= link_to company_timeoffs_path(type: 'owner', status: 'approved', sort: params[:sort]) do %>
          <%= t('.used_timeoffs') %>
          <span class='badge badge-default'><%= @all_timeoffs.owner_by(current_user.id).with_status(:approved).to_a.size %></span>
        <% end %>
      </li> -->
    </ul>

    <ul class="pull-right">
      <li class="dropdown">
        <%= link_to raw("#{t('.sort')} <i class='pi pi-arrow-drop-down'></i>"), '#', class: 'dropdown-toggle' %>
        <div class="dropdown-menu">
          <div class="arrow"></div>
          <ul>
            <li>
              <%= link_to t('.by_author'), company_timeoffs_path(type: params[:type], sort: 'author') %>
            </li>

            <li>
              <%= link_to t('.by_assignee'), company_timeoffs_path(type: params[:type], sort: 'assignee') %>
            </li>

            <li>
              <%= link_to t('.by_date'), company_timeoffs_path(type: params[:type], sort: 'date') %>
            </li>

            <li>
              <%= link_to t('.by_status'), company_timeoffs_path(type: params[:type], sort: 'status') %>
            </li>

            <li>
              <%= link_to t('.by_name'), company_timeoffs_path(type: params[:type], sort: 'name') %>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>

  <div class="row">
    <div class="col-md-12" id="list-task">
      <% @timeoffs.each do |timeoff| %>
        <!-- Start Block -->
        <div class="block block-default list-block">
          <div class="block-body">
            <%= link_to company_timeoff_path(timeoff), class: 'link-wrapper' do %>
              <span class="circle-icon icon-money"></span>
              <h4 class="block-title">
                <%= timeoff.name %>
                <span class="label label-<%= timeoff.status%>"><%= timeoff.status %></span>
              </h4>
              <span class="list-desc">
                <% if timeoff.start_at.present? && timeoff.end_at.present? %>
                  <%=l timeoff.start_at, format: :custom %>
                  to
                  <%=l timeoff.end_at, format: :custom %>
                <% end %>
              </span>
              <div class="attributes">
                <span am-time-ago="task.created_at"><i class="pi pi-clock"></i><%= time_ago_in_words(timeoff.created_at) %> ago</span>
                <span><i class="pi pi-person"></i> <%= t('.submitted_by')%> <%= timeoff.author.try(:name) || 'By System'  %>.</span>

                <% if timeoff.assignee.present? %>
                  <span><i class="pi pi-person"></i> <%= t('.assigned_to')%> <%= timeoff.assignee.try(:name) || 'By System' %>.</span>
                <% end %>

                <% if timeoff.timeoff_type_manual? %>
                  <span><i class="pi pi-person"></i> <%= t('.request_for')%> <%= timeoff.user.name %>.</span>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <!-- // End Block -->
      <% end %>
    </div>
  </div>
</div>