<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render 'subnav', active: 'timeoff_logs' %>
    </ul>
  </div>
<% end %>

<div class="pages tasks">

  <div class="page-title">
    <h1 class="pull-left"><%= t('.timeoff_logs') %></h1>
  </div>

  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Type</th>
            <th>Amounts (in Hrs)</th>
            <th>Memo</th>
          </tr>
        </thead>

        <tbody>
          <% @timeoffs.each do |timeoff| %>
            <tr>
              <td><%= link_to timeoff.id, company_timeoff_path(timeoff) %></td>
              <td><%= timeoff.name %></td>
              <td>
                <% if timeoff.timeoff_type_manual? %>
                  Start: <%=l timeoff.start_at, format: :long %>
                  <br />
                  Stop: <%=l timeoff.end_at, format: :long %>
                <% end %>
              </td>
              <td><%= timeoff.category.name %></td>
              <td><%= timeoff.amount %></td>
              <td><%= timeoff.memo %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <%= paginate @timeoffs, :theme => 'twitter-bootstrap-3' %>
    </div>
  </div>
</div>