<div ng-controller="TimeoffNewCtrl">
  <div class="sticky-header">
    <div class="content-wrapper">
      <div class="breadcrumb">
        <%= link_to raw("<i class='pi pi-arrow-back'></i> #{t('.back_to_tasks')}"), company_timeoffs_path %>
      </div>
    </div>
  </div>



  <div class="pages tasks">
    <div class="heading">
      <span class="circle-icon icon-suitcase"></span>
      <h2>New Timeoff Log</h2>
    </div>
    <!-- render chart -->
    <%= render 'charts', user: @user %>
    <!-- Task Detail Partials -->
    <%= render 'form', timeoff: @timeoff %>
    <!-- End Task Detail Partials -->
  </div>
</div>

<%= call_js_init("stickyHeader();") %>
