<div ng-controller="TimeoffNewCtrl">
  <div class="sticky-header">
    <div class="content-wrapper">
      <div class="breadcrumb">
        <%= link_to raw("<i class='pi pi-arrow-back'></i> #{t('.back_to_timeoffs')}"), company_timeoffs_path %>
      </div>
      <div class="page-actions">
        <% if policy(@timeoff).change_status? %>
          <%= link_to t('.approve'), change_status_company_timeoff_path(@timeoff, 'approve'), class: "btn btn-sm btn-primary", method: :put %>
          <%= link_to t('.decline'), change_status_company_timeoff_path(@timeoff, 'decline'), class: "btn btn-sm btn-warning", method: :put, data: { confirm: 'Are you sure to decline this timeoff?' } %>
        <% end %>

        <% if @timeoff.status_approved? %>
          <%= link_to change_status_company_timeoff_path(@timeoff, 'cancel'), class: "btn btn-sm btn-warning", method: :put, data: { confirm: "Are you sure to cancel this timeoff request?" } do %>
            <%= t('.cancel') %>
          <% end %>
        <% end %>

        <% if policy(@timeoff).change_assignee? %>
          <div class="dropdown">
            <%= link_to 'javascript:void', class: 'btn btn-sm btn-secondary dropdown-toggle', id: 'dropAssignee' do  %>
               <%= t('.assign_to') %>
               <span class="caret"></span>
            <% end %>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropAssignee">
              <% current_company.users.where("users.id != ?", @timeoff.assignee_id).each do |user| %>
                <li role="presentation">
                  <%= link_to user.name, change_assignee_company_timeoff_path(@timeoff, user), method: :put, data: { confirm: "Are you sure assign this Timeoff Request to #{user.name}?" } %>
                </li>
              <% end %>
            </ul>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="pages tasks">
    <div class="heading">
      <span class="circle-icon icon-suitcase"></span>
      <% if policy(@timeoff).update? %>
        <%= link_to edit_company_timeoff_path(@timeoff), class: "link-gray pull-right link-edit" do %>
          <i class='pi pi-edit'></i>
          <%= t('.edit') %>
        <% end %>
      <% end %>
      <h2><%= @timeoff.name %></h2>

      <% if @timeoff.memo.present? %>
        <span class="task-detail-description"><%= @timeoff.memo %></span>
      <% end %>

      <% if @timeoff.timeoff_type_manual? %>
        <span class="task-detail-duration">
          <%=l @timeoff.start_at, format: :short %>
          to
          <%=l @timeoff.end_at, format: :short %>
        </span>
        <br>
      <% elsif @timeoff.timeoff_type_custom? %>
        <span class="task-detail-duration">
          <%= @timeoff.amount.to_i %>
          hours additional for
          <%= @timeoff.category.name %>
        </span>
        <br>
      <% end %>

      <h4 class="status-label">
        <span class="label label-<%= @timeoff.status%>"><%= @timeoff.status %></span>
      </h4>

      <div class="attributes">
        <span>
          <i class="pi pi-clock"></i>
          <%= time_ago_in_words(@timeoff.created_at) %> ago
        </span>

        <% if @timeoff.timeoff_type_manual? %>
          <span>
            <i class="pi pi-person"></i>
            <%= t('.submitted_by') %>
            <%= link_to @timeoff.author.name, '#' %>
          </span>

          <% if @timeoff.assignee.present? %>
            <span>
              <i class="pi pi-person"></i>
              <%= t('.assigned_to') %>
              <%= link_to @timeoff.assignee.name, '#' %>
            </span>
          <% end %>

          <span>
            <i class="pi pi-person"></i>
            <%= t('.request_for') %>
            <%= link_to @timeoff.user.name, '#' %>
          </span>
        <% end %>
      </div>

      <% if @timeoff.attachments.present? %>
        <div class="attributes">
          <span>
            <i class="fa fa-file"></i>
            &nbsp;
            Attachments:
          </span>

          <% @timeoff.attachments.each do |attachment| %>
            <span><%= link_to attachment.file.filename, attachment.url, target: :blank %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <!-- End Request for Time Off -->

    <!-- render chart -->
    <%= render 'charts', user: @user %>


    <!-- End Task Detail Partials -->
    <div class="page-activities">
      <h2>Activities</h2>
      <div class="row">
        <div class="col-xs-10 col-xs-offset-2">
          <div class="activities">
            <%= render :partial => 'public_activity/form', locals: {trackable_type:@timeoff.class.to_s, trackable_id:@timeoff.id } %>
            <div class="activities-msg">
              <%= render_activities(@timeoff.activities.order(created_at: :desc), layout: :activity) %>
            </div>

            <div class="text-center">
              <button class="btn btn-md btn-secondary show-more" type="button">Show 3 Older Activities</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<%= call_js_init("stickyHeader();") %>