<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt mb0">
    <div class="block-body">
      <h2 class="block-title">Change Your Password</h2>
      <p class="text-muted">We'll send password reset instructions.</p>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }, class: 'pt10') do |f| %>
        <%= devise_error_messages! %>
        <%= f.hidden_field :reset_password_token %>

        <div class="form-group">
          <%= f.label :password, 'New password' %>
          <%= f.password_field :password, autofocus: true, autocomplete: 'off', class: 'form-control' %>
          <%= f.label :password_confirmation, 'Confirm new password' %>
          <%= f.password_field :password_confirmation, autocomplete: 'off', class: 'form-control' %>
        </div>

        <%= f.submit 'Change my Password', :class => 'btn btn-md btn-primary' %>
      <% end %>
    </div>
  </div>
</div>