<% @body_class = "devise" %>

<div class="container-fluid">
  <div class="block block-alt mb0">
    <div class="block-body">
      <h2 class="block-title">Forgot Your Password?</h2>
      <p class="text-muted">We'll send password reset instructions.</p>

      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form', class: 'pt10'}) do |f| %>
        <%= devise_error_messages! %>

        <div class="form-group">
          <%= f.label :email %>
          <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
        </div>

        <div class="clearfix">
          <%= f.submit 'Reset Password', :class => 'btn btn-md btn-primary pull-left' %>
          <div class="pull-right text-12 text-muted mt10">
            <%= link_to "Try Signing In Again", new_user_session_path %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
