.avatar{
  .avatar-img{
    position: relative;
    @include rem(width, 35px);
    @include rem(height, 35px);
    display: inline-block;
    @include rem(margin-right, 5px);
  }

  img{
    @extend .img-circle;
    position: absolute;
    top: 0;
    z-index: 2;
    width: 100%;
    margin: 0 auto;
  }
  .avatar-initials{
    background-color: $brand-primary;
    color: white;
    @extend .img-circle;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 2.7;
    @include rem(font-size, 13px);
    font-weight: 700;
    .default-icon{
      margin-top: 3px;
      margin-left: 2px
    }
    &.victoria{
      background-color: #6F6CA0;
    }
    &.steelblue{
      background-color: #5080B6;
    }
    &.teal{
      background-color: #4C8889;
    }
    &.smalt{
      background-color: #528193;
    }
    &.iceberg{
      background-color: #7da7d9;
    }
    &.fountainblue{
      background-color: #6CB9BA;
    }
  }
}
.avatar-lg{
  @include rem(font-size, 36px);
  font-weight: bold;
  color: $brand-primary;

  .avatar-img{
    width: 64px;
    height: 64px;
    @include rem(top, -4px);
  }
  .avatar-initials{
    @include rem(font-size, 23px);
  }
}