.billing{
  .expiration{
    input{
      width: 44%;
      display: inline-block;
    }
  }
  .price{
    @include rem(font-size, 80px);
    line-height: 1;
    @include rem(letter-spacing, -3px);

    span:first-child{
      font-size: 50%;
      display: inline-block;
      vertical-align: top;
      @include rem(padding-top, 8px);
    }
  }
  .progress{
    @include rem(width, 300px);
    margin: 0 auto;
  }
}