.block{
  border: 1px solid $border-color;
  @include rem(border-radius, 4px);
  position: relative;
  transition: background-color 0.3s ease;
  margin-bottom: 10px;

  .block-title{
    margin-bottom: 3px;
    padding-bottom: 0;
    border-bottom: none;
  }

  &.block-default{
    background-color: $block-default;
  }
  &.block-secondary{
    background-color: $block-secondary;

    &:hover{
      background-color: $block-secondary;
    }
  }
  &.block-alt{
    background-color: white;

    &:hover{
      background-color: white;
    }
  }
  .block-heading{
    @include rem(padding, 10px 15px);

    h2{
      margin-bottom: 0;
    }
    .block-title{
      display: block;

      a{
        color: $brand-primary;
        display: block;

        i{
          position: absolute;
          right: 0;
          @include rem(font-size, 30px);
          @include rem(margin-top, -3px);
          color: #aeaeae;
        }
      }
    }
  }
  .block-body{
    @include rem(padding, 15px);
    .link-wrapper{
      position: relative;
      @include rem(padding-left, 85px);
      display: block;
      @extend .clearfix;
    }
  }
  &.list-block{
    @include rem(min-height, 100px);
    
    &:last-child{
      margin-bottom: 0;
    }
    .list-desc{
      @include rem(font-size, 14px);
      color: $brand-primary;

      i{
        @include rem(margin-right, 5px);
      }
    }
  }
  &:hover{
    background-color: darken($block-default, 3%);
  }
}