.breadcrumb{
  display: inline-block;
  
  a{
    @include rem(font-size, 14px);
    color: $link-color;

    &:hover{
      color: darken($link-color,10%);
    }

    .pi{
      @include rem(font-size, 16px);
    }
  }
}