button[type=text]{
  border: none;
  box-shadow: none;
  background-color: transparent;
}
.btn-delete-row{
  position: relative;
  @include rem(top, 2px);
  @include rem(font-size, 22px);
  color: #ccc;

  i{
    margin-right: 0;
  }

  &:hover{
    color: #999;
  }
}
.btn{
  @include rem(border-radius, 5px);
  -webkit-font-smoothing: antialiased;

  .caret{
    @include rem(margin-left, 5px);
  }

  i{
    @include rem(margin-top, -2px);
    @include rem(margin-right, 5px);
  }

  &.btn-icon{
    min-width: 1%;
  }

  &:focus, &:active{
    outline: none;
  }

  &.btn-lg{
    .pi-arrow-drop-down{
      @include rem(font-size, 24px);
      margin-top: 0;
    }

    + .dropdown-menu{
      @include rem(margin-top, 10px);
      right: 0;
    }
  }
  &.btn-md{
    @include rem(padding,8px 20px);
    @include rem(font-size, 16px);
  }
  &.btn-sm{
    @include rem(font-size, 14px);
    line-height: 1;
    @include rem(padding-top,8px);
    @include rem(padding-bottom,8px);

    i{
      margin-top: 0;
    }
  }
  &.btn-default{
    background-color: white;
    color: $brand-primary;

    &:hover{
      color: darken($brand-primary, 10%);
      background-color: white;
    }
  }
  &.btn-primary{
    background-color: $link-color;
    border-color: $link-color;
    color: white;

    &:hover{
      background-color: darken($link-color, 10%);
      color: white;
      border-color: darken($link-color, 15%);
    }
  }
  &.btn-secondary{
    background-color: #999;
    color: white;

    &:hover{
      background-color: darken(#999, 10%);
      color: white;
      border-color: darken(#999, 15%);
    }
  }
  &.btn-secondary-light{
    background-color: #dedede;
    color: white;

    &:hover{
      background-color: darken(#dedede, 10%);
      color: white;
      border-color: darken(#dedede, 15%);
    }
  }
  &.btn-orange{
    @extend .btn-warning;
  }
  &.btn-green{
    @extend .btn-success;
  }
  &.btn-upload{
    background-color: #6a7f97;
    color: white;
  }
  i:last-child{
    // margin-right: 0;  
  }
  &.btn-link{
    min-width: 0;
    padding: 0 10px;
    &:hover,
    &:focus{
      text-decoration: none;
    }
    i{
      margin-right: 5px;
    }
  }
}
.btn-group{
  .btn{
    min-width: 0;
  }
  .btn-default{
    @include rem(border-radius, 4px);
    color: #666;

    &:focus, &:active{
      outline: none;
    }
    &:hover{
      color: #333;
      border-color: #ccc;
    }
    &.active{
      color: #666;

      &:hover{
        border-color: #adadad;
      }
    }
  }
  .btn-combo{
    @extend .btn-upload;
    border-color: darken(#6a7f97, 10%);

    &.active{
      background-color: darken(#6a7f97, 10%);
    }
  }
}
.open{
  > .btn-primary.dropdown-toggle{
    background-color: darken($link-color, 10%);
    border-color: darken($link-color, 15%);
  }
}