.calendar{
  .fc{
    margin-bottom: 15px;
  }
  .fc-toolbar{
    padding: 10px 0;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    h2{
      padding-bottom: 0;
      border-bottom: none;
      @include rem(margin-top, 6px);
    }
    button{
      color: #666;
      background: white;
      font-size: 14px;
      height: 2.6em;
    }
  }
  .fc-day-header{
    padding: 10px 5px;
    background-color: #e3e9f3;
    font-weight: normal;
    font-size: 16px;
    color: $brand-primary;
  }
  .fc-ltr{
    .fc-basic-view{
      .fc-day-number {
        text-align: right;
        padding: 5px;
      }
    }
  }
  .fc-day-grid-event{
    > .fc-content {
      padding: 1px;
    }
  }
  .fc-today-button{
    &.fc-state-disabled{
      visibility: hidden;
    }
  }
  .calendar-legend{
    li{
      margin-right: 15px;
      font-size: 14px;
      color: #666;
    }
    .dot{
      display: inline-block;
      width: 20px;
      height: 20px;
      margin-right: 8px;
      border-radius: 50%;
      background-color: black;
      vertical-align: middle;
      margin-top: -1px;

      &.fc-event-timeoff{
        background-color: $brand-primary;
      }
      &.fc-event-holiday{
        background-color: darken($link-color, 10%);
      }
      &.fc-event-company{
        background-color: #3a87ad;
      }
      &.fc-event-task{
        background-color: #CC9900;
      }
    }
  }
}