.chart-text{
	fill: #fff;
	font-size:12px;
}

.chart-arc{
	opacity: .8;
	cursor: pointer;
	transition: opacity 0.3s ease;
	&:hover{
		opacity: 1;
	}
}

.chart-primary-text{
	fill: #333;
	font-weight: bold;
	font-size:24px;
}

.chart-secondary-text{
	font-size:14px;
	fill: #aaa;
}