@font-face {
  font-family: 'Open Sans';
  src:font-url('OpenSans-Regular.eot');
  src:font-url('OpenSans-Regular.eot?#iefix') format('embedded-opentype'),
  font-url('OpenSans-Regular.woff') format('woff'),
  font-url('OpenSans-Regular.ttf') format('truetype'),
  font-url('OpenSans-Regular.svg#OpenSans-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}   
@font-face {
  font-family: 'Open Sans';
  src:font-url('OpenSans-Bold.eot');
  src:font-url('OpenSans-Bold.eot?#iefix') format('embedded-opentype'),
  font-url('OpenSans-Bold.woff') format('woff'),
  font-url('OpenSans-Bold.ttf') format('truetype'),
  font-url('OpenSans-Bold.svg#OpenSans-Bold') format('svg');
  font-weight: 700;
  font-style: normal;
}   
@font-face {
  font-family: 'PandoIcons';
  src: font-url('PandoIcons.eot');
  src: font-url('PandoIcons.eot?#iefix') format('embedded-opentype'),
  font-url('PandoIcons.woff') format('woff'),
  font-url('PandoIcons.ttf') format('truetype'),
  font-url('PandoIcons.svg#PandoIcons') format('svg');
  font-weight: normal;
  font-style: normal;
}

.pi {
  font-family: 'PandoIcons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  display: inline-block;
  vertical-align: middle;
}

.pi-check:before {
  content: "\f00c";
}

.pi-trash-o:before {
  content: "\f014";
}

.pi-edit:before {
  content: "\f044";
}

.pi-chevron-left:before {
  content: "\f053";
}

.pi-chevron-right:before {
  content: "\f054";
}

.pi-check-circle-o:before {
  content: "\f05d";
}

.pi-plus:before {
  content: "\f067";
}

.pi-minus:before {
  content: "\f068";
}

.pi-calendar:before {
  content: "\f073";
}

.pi-tasks:before {
  content: "\f0ae";
}

.pi-paperclip:before {
  content: "\f0c6";
}

.pi-table:before {
  content: "\f0ce";
}

.pi-money:before {
  content: "\f0d6";
}

.pi-long-arrow-right:before {
  content: "\f178";
}

.pi-assignment-ind:before {
  content: "\e600";
}

.pi-description:before {
  content: "\e601";
}

.pi-download:before {
  content: "\e602";
}

.pi-help:before {
  content: "\e603";
}

.pi-home:before {
  content: "\e604";
}

.pi-clock:before {
  content: "\e605";
}

.pi-night:before {
  content: "\e606";
}

.pi-dehaze:before {
  content: "\e607";
}

.pi-lens:before {
  content: "\e608";
}

.pi-person:before {
  content: "\e609";
}

.pi-morning:before {
  content: "\e60a";
}

.pi-car:before {
  content: "\e60b";
}

.pi-train:before {
  content: "\e60c";
}

.pi-flight:before {
  content: "\e60d";
}

.pi-hotel:before {
  content: "\e60e";
}

.pi-local-pharmacy:before {
  content: "\e60f";
}

.pi-arrow-back:before {
  content: "\e610";
}

.pi-arrow-drop-down:before {
  content: "\e611";
}

.pi-arrow-forward:before {
  content: "\e613";
}

.pi-menu:before {
  content: "\e612";
}

.pi-office:before {
  content: "\e903";
}

.pi-spinner:before {
  content: "\e97e";
}