.datepicker{
  @include rem(padding, 10px);
  input[type=text]{
    &:before{
      @extend .pi;
      content: "";
      position: absolute;
    }
  }
  .btn-today{
    background-color: lighten($brand-info, 5%);
    color: white;

    &:hover{
      background-color: $brand-info;
      color: white;
    }
  }
}