.dropup,
.navbar-fixed-bottom .dropdown {
  // Reverse the caret
  .caret {
    border-top: 0;
    border-bottom: $caret-width-base solid;
    content: "";
  }
  // Different positioning for bottom up menu
  .dropdown-menu {
    top: auto;
    bottom: 100%;
    @include rem(margin-bottom, 1px);
  }
}
.dropdown{
  position: relative;

  .fa{
    @include rem(margin-left, 5px);
  }

  .arrow{
    @include rem(border-width, 11px);

    left: -100%;
    @include rem(margin-left, -11px);
    border-top-width: 0;
    @include rem(top, -11px);

    &:after{
      @include rem(border-width, 10px);
      content:""
    }
  }

  .arrow,
  .arrow::after{
    position:absolute;
    display:block;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
  }
  .arrow::after{
    content:" ";
    @include rem(top, 1px);
    @include rem(margin-left, -10px);
    border-top-width:0;
    border-bottom-color:#fff
  }
  .arrow{
    border-bottom-color: #dedede;
    left: auto;
    right: 10px;
    @include rem(right, 10px);
  }

  .dropdown-toggle{
    i{
      font-size: 18px;
    }
  }
  &.open{
    .dropdown-menu{
      left: auto;

      .csstransitions &{
        opacity: 1;
      }
    }
  }
}
.dropdown-menu{
  position: absolute;
  border: 1px solid $border-color;
  background-color: white;
  @include rem(border-radius, 5px);
  left: 0;
  box-shadow: 0 1px 5px -1px #dedede;
  z-index: 999;
  left: -999px;
  padding: 0;

  // .csstransitions &{
  //   transition: opacity 0.3s ease;
  //   opacity: 0;
  // }

  ul{
    margin-bottom: 0;
  }
  li{
    border-bottom: 1px solid $border-color;
    width: 100%;

    a{
      display: block;
      @include rem(padding, 10px 15px);
      color: $brand-primary;

      &:hover{
        background-color: $link-color;
        color: white;
      }
    }
    &:first-child{
      a{
        @include rem(border-top-left-radius, 5px);
        @include rem(border-top-right-radius, 5px);
      }
    }
    &:last-child{
      border-bottom: none;
      a{
        @include rem(border-bottom-left-radius, 5px);
        @include rem(border-bottom-right-radius, 5px);
      }
    }
  }
}