.employees{
  .employee-import{
    .table-view .table > thead > tr > th{
      font-size: 14px;
    }
  }
  .table{
    font-size: 14px;
  }
  .action-menu{
    .pull-right{
      > ul{
        margin-top: 6px;
      }
    }
  }
}
.highlight-sortby {
  font-weight: bold;
}
.error-format{
  font-weight: normal !important;
  color: red;
}

.select2-container{
  font-size: 14px !important;
  .select2-choice{
    border: 1px solid #ccc !important;
    border-radius: 4px !important;
  }
  .select2-results{
    font-size: 14px !important;
  }
  .select2-arrow{
    border-left: hidden !important;
    background-image: white !important;
  }
}

.select2-container-multi {
  .select2-search-choice-close{
    top: 5px !important;
  }
  .select2-choices {
    border-radius: 4px !important;
    border: 1px solid #cccccc !important;
    .select2-search-choice{
      padding: 5px 5px 5px 18px !important;
    }
    .select2-results{
      font-size: 14px !important;
    }
  }

}

#employees-table-container {
  &.table-view {
    border: none;
  }
}