.expense-detail{
  #expense-detail-table{
    &.editing{
      .td-edit{
        display: none;
      }
      tr:hover{
        cursor: default;
      }
      .edit-task:hover{
        td{
          border: 1px solid $border-color;
        }
      }
      .row-edit + .form-row-edit{
        display: table-row;
      }
      .row-edit{
        &:hover{
          td{
            border: 1px solid $border-color;
          }
        }
      }
    }
  }
  .action-menu{
    @extend .clearfix;
    @include rem(padding, 8px 0);

    .form-group-inline{
      label{
        @include rem(padding, 6px 10px 0 0);
        display: inline-block;
      }
    }

    .btn-group{
      .pi{
        margin-right: 0;
        @include rem(font-size, 18px);
      }
    }
  }
  .form-inline{
    label{
      @include rem(margin-right, 5px);
    }
    @include rem(margin-top, 3px);
  }
  .dropdown{
    display: inline;

    .dropdown-menu{
      @include rem(margin-top, 10px);
      @include rem(right, -10px);
    }
  }
  .confirm-submission{
    border-top: 1px solid $border-color;
    @include rem(padding-top, 15px);
  }
  thead{
    th{
      text-align: left;

      &:first-child{
        text-align: center;
      }
      &:last-child{
        text-align: right;
      }
    }
  }
  tbody{
    tr{
      &:hover{
        cursor: pointer;
        td{
          border-top: 2px solid $link-color;
          border-bottom: 2px solid $link-color;
          .csstransitions &{
            transition: border 0.3s ease;
          }
          &:first-child{
            border-left: 2px solid $link-color;
          }
          &:last-child{
            border-right: 2px solid $link-color;
          }
        }
        .td-edit{
          &:before{
            @include rem(right, -2px);
            opacity: 1;
            .csstransitions &{
              transition: opacity 0.3s ease;
            }
          }
        }
      }
      td{
        @include rem(font-size, 14px);
        color: $brand-primary;
        position: relative;

        .text-muted{
          @include rem(font-size, 12px);
        }
        &:first-child{
          @include rem(padding-left, 15px);
          text-align: center;
        }
        .pi-check-circle-o{
          @include rem(font-size, 21px);
          color: $label-approved;
        }
        &:last-child{
          @include rem(padding-right, 15px);
          text-align: right;
        }
        &.amount{
          @include rem(width, 150px);
        }
      }
      &.row-edit{
        &:hover{
          td{
            border: none;
            border-top: 1px solid $border-color;
          }
        }
      }
      &.form-row-edit{
        &:hover{
          td{
            border: none;
          }
        }
        td{
          text-align: left;
          padding: 0 !important;
          border: none;
        }
        .block{
          border-radius: 0;
          border: none;
          overflow: visible;
          @extend .clearfix;
        }
        .btn-delete-entry{
          @include rem(margin-top, 8px);
        }
      }
      .input-file{
        // display: block;
        // margin-left: 0;
      }
      label{
        vertical-align: top;
      }
    }
    .td-edit{
      &:before{
        content: "Edit";
        color: white;
        position: absolute;
        right: -9999px;
        bottom: -26px;
        z-index: 2;
        background-color: $link-color;
        border-top: none;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        width: 100px;
        font-size: 14px;
        text-align: center;
        padding: 3px 0;
        cursor: pointer;
        opacity: 0;
      }

      &:hover{
        background-color: darken($link-color, 10%);
      }
    }
  }
}

.custom-file-name{
  color: #4b627c !important;
  font-size: 0.875rem !important;
}

.color-circle{
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-right: 10px;
}

.chart-view-left{
  float:left;
  width: 50%;
}

.chart-view-right{
  margin:0;
  float:left;
  width:50%;
  box-sizing: border-box;
  padding-left: 20px;
}

.clearfix{
  clear:both;
}

.chart-view{
  .table{
    thead{
      th{
        vertical-align: middle;
        text-align: center;
        &:last-child{
          text-align: right;
        }
      }
    }
    tbody{
      td{
        border: 1px solid #dddddd!important;
        &:first-child{
          text-align:left;
        }
      }
    }
  }
}