form {
  &.dynamic-form-entry {
    .form-group {
      label.control-label {
        font-weight: bold;
      }

      &.radio_buttons {
        span.radio {
          margin-top: 0;
          margin-bottom: 5px;
        }
      }
    }

    .custom-checkbox {
      label {
        font-weight: normal;
      }
    }

    hr.section-header {
      font-weight: bold;
    }

    p.section-description {
      margin-top: 5px;
    }


    .block.expense-entry {
      padding: 10px;
    }

    .dyno-expense-field,
    .dyno-travel-field {
      margin-bottom: 15px;
    }
  }

  .row.group-qusetion-row {
    margin-top: 10px;
  }

  .travel-detail .list-group {
    margin-bottom: 20px;

    .travel-row {
      cursor: pointer;

      .travel-row-editing {
        display: none;
      }

      &.editing {
        cursor: default;

        .travel-row-editing {
          display: inherit;
        }
      }
    }
  }
}

#form-sidebar {
  #form-settings {
    .form-group {
      .custom-checkbox {
        padding-left: 0;
      }
    }
  }
}