body{
  background: image-url('bg-blue.png') center;
}

main{
  height: 100%;
}
.wrapper{
  max-width: rem($screen-md);
  min-width: rem($screen-sm);
  @include rem(margin, 40px auto);
  position: relative;
  overflow: hidden;
  box-shadow: 0 1px 5px -1px rgba(0,0,0,0.5);
  @include rem(border-radius, 5px);

  @media(max-width: $screen-md-min){
    margin: 0;
  }
  @media(max-width: $screen-sm-min){
    border-radius: 0;
    box-shadow: none;
    height: 100%;
  }
}
.content{
  @include rem(min-height, 700px);
  @include rem(margin-left, 170px);
  position: relative;
  z-index: 2;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  background-color: white;
  @include rem(border-radius, 5px);
  border: 1px solid $border-color;
  box-shadow: -3px 0px 5px -2px rgba(0,0,0,0.25);

  .csstransitions &{
    // transition: margin-left 0.3s ease-in-out;
  }

  .sidebar-min &{
    @include rem(margin-left, 60px);
  }
  @media(max-width: $screen-sm-min){
    border: none;
    height: 100%;
  }
}
.main-content{
  @include rem(padding, 35px 40px 40px);

  @media(max-width: $screen-sm-min){
    @include rem(padding, 15px 20px 20px);
    height: 100%;
  }

  @media(max-width: $screen-xs-min){
    @include rem(padding, 10px);
  }
}
.sticky-header{
  display: table;
  width: 100%;
  @include rem(top, -50px);
  transition: top 0.3s ease-in-out;

  &.affix{
    top: 0;
    left: 0;
    z-index: 10;
    background-color: whitesmoke;
    border-bottom: 1px solid #dedede;
    box-shadow: 0 1px 5px -1px #dedede;
    padding: 8px 0;

    .content-wrapper{
      @include rem(max-width, 992px);
      @include rem(min-wdith, 768px);
      margin: 0 auto;
      @include rem(padding, 0 20px);
    }
  }
  .content-wrapper{
    display: table;
    width: 100%;
  }
  .breadcrumb, .page-actions{
    display: table-cell;
    vertical-align: middle;
  }

  @extend .clearfix;

  .page-actions{
    float: right;

    a{
      @include rem(font-size, 14px);
    }

    .dropdown{
      display: inline-block;

      i{
        position: relative;
        @include rem(margin-top, -4px);
        @include rem(top, 2px);
      }
    }

    .dropdown-menu{
      right: 0;
      @include rem(margin-top, 10px);
    }

    .btn-group{
      .btn{
        border-color: white;
        @include rem(padding, 9px 11px);
        color: white;

        i{
          margin: 0;
        }
      }
    }
  }
}
.circle-icon{
  position: absolute;
  @include rem(left, 0);
  @include rem(width, 64px);
  @include rem(height, 64px);
  border-radius: 50%;
  background-color: $list-block-icon-background;
  color: white;
  @include rem(font-size, 30px);
  text-align: center;

  &:before{
    vertical-align: -50%;
  }

  &.icon-black{
    background-color: #404040;
  }

  &.icon-money{
    @extend .pi;

    &:before{
      content: "\f0d6";
      vertical-align: -55%;
    }
  }
  &.icon-medical{
    @extend .pi;
    @include rem(font-size, 32px);

    &:before{
      content: "\e60f";
      vertical-align: -50%;
    }
  }
  &.icon-suitcase{
    @extend .fa;
    @include rem(font-size, 32px);

    &:before{
      content: "\f0f2";
    }
  }
  &.icon-flight{
    @extend .fa;
    @include rem(font-size, 32px);

    &:before{
      content: "\f072";
    }
  }
  &.icon-train{
    @extend .fa;
    @include rem(font-size, 32px);

    &:before{
      content: "\f238";
    }
  }
  &.icon-vertical-align{
    top: 50%;
    @include rem(margin-top, -32px);
  }
}
.caret{
  @include rem(margin-left, 5px);
}
[bs-select]{
  width: 100%;
  text-align: left;
  position: relative;

  .caret{
    position: absolute;
    @include rem(right, 10px);
    @include rem(margin-top, -2px);
    top: 50%;
  }
}
.dynamic-rows{
  > .row{
    @include rem(margin-top, 10px);
    border-bottom: 1px solid $border-color;
    @include rem(padding-bottom, 15px);

    &:first-child{
      margin-top: 0;

      .btn-delete-row{
        visibility: hidden;
      }
    }
    &:last-of-type{
      border-bottom: none;
    }
  }
}
.upload-steps{
  color: #999;

  i{
    margin: 2px 10px;
  }

  .active{
    font-weight: 700;
    color: $brand-primary;
  }
}
.flow{
  @include rem(height, 155px);
  border: 2px dashed $border-color;
  background-color: white;
  @include rem(margin, 20px 0);
}
.action-menu{
  @extend .clearfix;
  @include rem(padding, 15px 0);
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  @include rem(margin-bottom, 20px);
  @include rem(font-size, 14px);

  .dropdown{
    &.open{
      .dropdown-toggle{
        color: #666;
      }
    }
  }

  .dropdown-toggle{
    .fa{
      @include rem(font-size, 14px);
    }
  }
  .dropdown-menu{
    @include rem(margin-top, 6px);
    @include rem(right, -10px);

    .arrow{
      left: auto;
      @include rem(right, 10px);
    }
  }

  ul{
    margin-bottom: 0;
  }

  li{
    display: inline-block;
    @include rem(margin-right, 10px);

    &:last-child{
      margin-right: 0;
    }
    &.active{
      a{
        color: $link-color;
      }
    }
  }
  > ul >li > a{
    color: #999;

    &:hover{
      color: #666;
    }
  }
  .pull-right{
    li{
      margin-right: 0;
    }
  }
}


.readonly-form {
  .form-control[readonly] {
    background-color: white;
  }
}


.picker-switch {
  table {
    tbody {
      tr {
        td {
          a[data-action="close"] {
            padding: 6x 0;
            color: #34abec;

            &:hover {
              background-color: transparent !important;
              color: #1493d9;
            }
          }
        }
      }
    }
  }
}

.compensation-lists,
.tax-lists {
  padding: 10px 0;
}


#new-location-container,
#new-team-container {
  display: none;
}

.calendar-search {
  padding: 10px 0;
}

.mr10 {
  margin-right: 10px;
}

.block-secondary {
  p.credit-info {
    margin-bottom: 0;
  }
}