header{
  background-color: #e3e9f3;
  height: 60px;
  border-bottom: 1px solid $border-color;
  @extend .clearfix;

  .dropdown{
    .dropdown-toggle{
      color: $brand-primary;
      
      i{
        line-height: 1.5;
      }
    }
    .dropdown-menu{
      right: 15px;
      font-size: 14px;
      margin-top: 5px;
    }
    .arrow{
      left: auto;
      right: 6px;
    }
  }

  .avatar{
    padding: 12px 20px 0;
  }

  // .sidebar-toggle{
  //   font-size: 26px;
  //   display: inline-block;
  //   padding: 16px 20px;
  //   color: $brand-primary-dark;

  //   .sidebar-min &{
  //     padding-right: 50%;
  //   }

  //   .pi-menu{
  //     display: block;
  //     .sidebar-min &{
  //       display: none;
  //     }
  //   }
  //   .pi-arrow-forward{
  //     display: none;
  //     .sidebar-min &{
  //       display: block;
  //     }
  //   }
  // }
}