.form-group-inline{
  @extend .clearfix;

  label, input, select{
    float: left;
  }
  input{
    margin-top: 0;
  }
  input[type=text],
  input[type=password],
  input[type=email],
  select{
    width: auto;
    display: inline-block;
  }
}
.center-row{
  > [class*="col-"]{
    float: none;
    margin: 0 auto;
  }
}
.vertical-center{
  display: table-cell;
  vertical-align: middle;
}
.vertical-bottom{
  display: table-cell;
  vertical-align: bottom;
}
.border-top{
  border-top: 1px solid #dedede;
}
.border-right{
  border-right: 1px solid #dedede;
}
.border-bottom{
  border-bottom: 1px solid #dedede;
}
.border-left{
  border-left: 1px solid #dedede;
}
.text-lg{
  @include rem(font-size, 50px);
}
.text-md{
  @include rem(font-size, 28px);
}
.text-link{
  color: $link-color;
}
.text-inverse{
  color: white;
}
.text-normal{
  font-weight: normal;
}
.text-12{
  @include rem(font-size, 12px);
}
.text-14{
  @include rem(font-size, 14px);
}
.no-shadow{
  box-shadow: none;
}
.no-border{
  border: none !important;
}
.mb0{
  margin-bottom: 0 !important;
}
.mt0{
  margin-top: 0 !important;
}
.no-margin{
  margin: 0 !important;
}
.no-padding{
  padding: 0 !important;
}
.pt0{
  padding-top: 0 !important;
}
.pb0{
  padding-bottom: 0 !important;
}
.pr0{
  padding-right: 0 !important;
}
.pl0{
  padding-left: 0 !important;
}
.no-horizontal-padding{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
.no-horizontal-margin{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.mr0{
  margin-right: 0 !important;
}
.ml0{
  margin-left: 0 !important;
}
.mt40{
  margin-top: rem(40px) !important;
}
.mb40{
  margin-bottom: rem(40px) !important;
}
.mt20{
  margin-top: rem(20px) !important;
}
.mb20{
  margin-bottom: rem(20px) !important;
}
.mt10{
  margin-top: rem(10px) !important;
}
.mb10{
  margin-bottom: rem(10px) !important;
}
.ml10{
  margin-left: rem(10px) !important;
}
.mr10{
  margin-right: rem(10px) !important;
}
.pt10{
  padding-top: rem(10px) !important;
}
.pb10{
  padding-bottom: rem(10px) !important;
}
.pl10{
  padding-left: rem(10px) !important;
}
.pr10{
  padding-right: rem(10px) !important;
}