.label{
  color: white;
  @include rem(border-radius, 5px);
  font-size: 70%;
  margin-bottom: 0;
  padding-bottom: 2px;

  &.label-default{
    background-color: #ebebeb;
    color: #999;
  }
  &.label-processed{
    background-color: $label-processed;
  }
  &.label-pending{
    background-color: $label-pending;
  }
  &.label-approved{
    background-color: $label-approved;
  }
  &.label-booked{
    background-color: $label-booked;
  }
  &.label-declined{
    background-color: $label-declined;
  }
  &.label-canceled{
    @extend .btn-danger;
  }
}