.list-group{
  border: 1px solid $border-color;
  @include rem(border-radius, 5px);
  overflow: hidden;

  .block{
    margin-bottom: 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid $border-color;

    &:last-child{
      border-bottom: none;
    } 
  }
  .checkbox-round-trip{
    margin-left: 10px;
  }
}