.brand-logo{
  position: absolute;
  display: block;
  top: 0;
  background-color: $brand-primary-dark;
  @include rem(border-top-left-radius, 5px);
  width: 100%;

  .logo-container{
    @include rem(padding, 15px);
    @include rem(width, 160px);

    .sidebar-min &{
      overflow: hidden;
      @include rem(padding-left, 10px);
      @include rem(padding-top, 11px);
      @include rem(width, 46px);

      img{
        max-width: none;
        @include rem(height, 40px);
      }
    }
  }

  strong{
    color: white;
  }

  &:hover{
    color: #ccc;

    strong{
      color: white;
    }
  }
  @media(max-width: $screen-md-min){
    border-radius: 0;
  }
}
.sidebar-nav{
  @include rem(width, 200px);
  background-color: $brand-primary;
  position: absolute;
  height: 100%;
  border-bottom-left-radius: rem(5px);
  @include rem(margin-top, 60px);

  ul{
    margin: 0;
  }

  li{
    &.active{
      a{
        background-color: $link-color;
      }
    }
  }

  a{
    display: block;
    width: 100%;
    @include rem(padding, 18px 0 18px 18px);
    color: white;
    border-bottom: 1px solid #93a1b0;

    span{
      vertical-align: top;
      display: inline-block;
      @include rem(margin-top, 1px);

      .sidebar-min &{
        opacity: 0;
        @include rem(margin-left, 10px);
      }
    }

    .pi{
      @include rem(margin-right, 12px);
      font-size: 117.5%;

      &.pi-home{
        font-size: 120%;
        .sidebar-min &{
          font-size: 150%;
        }
      }
      &.pi-office{
        font-size: 105%;
        @include rem(margin-left, 2px);
        .sidebar-min &{
          font-size: 120%;
        }
      }

      .sidebar-min &{
        font-size: 137.5%;
      }
    }

    &:hover{
      background-color: darken($brand-primary, 5%);
    }
  }
  @media(max-width: $screen-sm-min){
    border-radius: 0;
  }
}
.subnav{
  @include rem(margin-bottom, 40px);
  border-bottom: 1px solid $border-color;

  ul{
    margin-bottom: 0;
  }
  li{
    display: inline-block;
    @include rem(margin-right, 30px);

    &.active{

      a{
        color: $brand-primary;

        &:after{
          content: "";
          display: block;
          border-bottom: 4px solid $link-color;
          position: relative;
          @include rem(top, 10px);
        }
      }
    }
    &:last-child{
      margin-right: 0;
    }
  }
  a{
    font-weight: 700;
    color: #aeaeae;
    display: block;
    display: inline-block;
    @include rem(padding-bottom, 10px);

    &:hover,
    &:focus{
      color: #999;
    }
  } 
}
.nav-tabs{
  @include rem(margin-bottom, 20px);

  >li{
    margin-bottom: 0;
    cursor: pointer;

    a{
      color: #999;
      @include rem(min-width, 100px);
      text-align: center;
      border: 1px solid $border-color;
      border-bottom: 0;
      @include rem(margin-bottom, -1px);

    }

    &.active{
      a{
        background-color: $link-color;
        color: white;
        border: 1px solid $border-color;

        &:hover{
          background-color: darken($link-color, 5%);
          color: white;
        }
      }
    }
  }
}