.pages{
  position: relative;
  .list-block{
    .badge{
      position: relative;
      top: -2px;
    }
  }
}
.page-title{
  @extend .clearfix;
  margin-bottom: 35px;

  h1{
    @include rem(margin-top, 5px);
  }
}
.heading{
  margin: 40px 0;
  padding-left: 80px;
  position: relative;
  clear: both;
  padding-right: 10px;
  border-right: 1px solid $border-color;
  h2{
    font-size: 32px;
    max-width: 460px;
    white-space: pre-wrap;
    border: none;
    font-weight: 700;
  }
  .circle-icon{
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 5px;
  }
}
.action-menu{
  @extend .clearfix;
  padding: 10px 0;
  border-top: 1px solid $border-color;
  border-bottom: 1px solid $border-color;
  margin-bottom: 20px;
  font-size: 14px;
}