.page-activities{
  @include rem(padding-top, 40px);
  margin-bottom: 0;
  border-bottom: 1px solid $border-color;

  textarea{
    max-width: 100%;
  }

  .activities{
    border-left: 1px solid $border-color;
    @include rem(padding, 20px 0 20px 40px);
    @extend .clearfix;
  }
  .avatar{
    position: absolute;
    @include rem(left, -6px);

    .avatar-img{
      @include rem(width, 45px);
      @include rem(height, 45px);
    }
    .avatar-initials{
      @include rem(font-size, 16px);
      line-height: 2.9;
    }
  }
  .timestamp{
    font-size: 12px;
    @include rem(font-size, 12px);
    color: $brand-primary;
    text-align: right;
    display: inline-block;
    line-height: 1.2;
    vertical-align: middle;
    @include rem(width, 100px);
    @include rem(margin-right, 5px);
    color: #999;
  }
  .activities-msg{
    @include rem(margin-top, 20px);
    .avatar{
      @include rem(left, -110px);

    }
    .block{
      @include rem(padding, 15px 20px);
      @include rem(font-size, 14px);
      color: $brand-primary;
      background-color: #ecf1f8;
      @include rem(min-height, 45px);
    }
    em{
      color: #999;
    }
  }
  .activity{
    margin-bottom: 10px;
    @include rem(margin-bottom, 10px);
  }
  button[type=submit]{
    @include rem(min-width, 100px);
  }
  .show-more{
    @include rem(font-size, 14px);
  }
}