.table-view{
  @include rem(border-radius, 5px);
  border: 1px solid $border-color;
  margin-bottom: 15px;
  // overflow: hidden;

  &.no-border{
    border: none;
  }

  .table-striped > tbody > tr:nth-child(odd){
    background-color: transparent;
  }
  .table-striped > tbody > tr:nth-child(even){
    background-color: #ecf1f8;
  }

  .table{
    margin-bottom: 0;
    @include rem(border-radius, 5px);
    background-color: white;

    .block{
      margin-bottom: 0;
      overflow: hidden;
    }

    &.no-wrap{
      tr{
        td,th{
          white-space: nowrap;
        }
      }
    }

    > thead{
      > tr{
        > th{
          border-bottom: none; 
          background-color: #e3e9f3;
          font-weight: normal;
          font-size: 16px;
          color: $brand-primary;
          vertical-align: middle;

          &:first-child{
            padding-left: 15px;
          }
          &:last-child{
            padding-right: 15px;
          }
        }
      }
    }
    tbody{
      tr{
        &.selected{
          background-color: lighten($brand-success, 40%);
        }
        td{
          vertical-align: middle;
          &:first-child{
            padding-left: 15px;
          }
          &:last-child{
            padding-right: 15px;
          }
        }
        &:nth-child(even){
          background-color: lighten($border-color, 10%);
        }
      }
    }
  }
}