.timeoff-detail{
  .chart-container{
    text-align: center;
  }
  .available-days{
    position: absolute;
    top: 53%;
    left: 50%;
    margin-left: -35px;

    strong{
      color: $brand-primary;
      @include rem(font-size, 26px);
      line-height: 1;
    }
    @media(max-width: 768px){
      strong{
        @include rem(font-size, 25px);
      }
    }
  }
}