.travel-detail{
  .task-detail-small{
    @include rem(padding-left, 85px);
    display: block;
    position: relative;
  }
  .custom-checkbox {
    @include rem(margin-top, 27px);
  }

  .new-detail-travel {
    margin-top: 10px;
    @include rem(margin-top, 10px);
    // margin-right: 15px;
  }

  .list-group{
    @include rem(margin-top, 20px);

    .block-title{
      i{
        @include rem(margin, 0 10px);
      }
      .label{
        @include rem(margin-left, 10px);
      }
    }

    .list-desc{
      @include rem(font-size, 16px);
      @include rem(margin-top, 3px);
      display: block;
    }
    .attributes{
      span{
        @include rem(font-size, 14px);
        color: $brand-primary;
        margin-right: 0;
      }
      .icons{
        display: inline-block;
        color: $brand-primary;

        .slash{
          position: relative;
          @include rem(top, 2px);
          @include rem(margin, 0 3px 0 1px);
        }
        // i{
        //   margin-top: 4px;
        // }
      }
    }
    a{
      &:hover{
        .edit-label{
          opacity: 1;
        }
        &.opened{
          cursor: default;

          .edit-label{
            display: none;
          }
          &:hover{
            background-color: darken($block-default, 3%);
          }
        }
      }
      &.opened{
        // background-color: darken($block-default, 3%);
      }
    }
    .edit-label{
      @include rem(font-size, 14px);
      color: #999;
      @include rem(margin-top, -20px);
    }
    .dot-separator{
      &:after{
        content: ".";
        @include rem(font-size, 14px);
        font-weight: 700;
        line-height: 1;
        display: inline-block;
        @include rem(margin-left, 10px);
        position: relative;
        @include rem(top, -3px);
        @include rem(margin-right, 8px);
      }
    }
  }
}