.user-profile{
  .heading{
    padding-left: 0;
    border-right: none;
  }
  h2{
    margin-bottom: 20px;
  }
  .block-panel{
    margin-bottom: 15px;
  }
  .block-title{
    margin-bottom: 40px;
  }
  .btn-delete-row{
    position: relative;
    top: 2px;
    font-size: 22px;
    margin-left: -15px;
    color: #ccc;

    i{
      margin-right: 0;
    }

    &:hover{
      color: #999;
    }
  }
  .btn-add-row{
    margin-top: 15px;
  }
}

.chosen-container-single .chosen-single {
  height: 30px !important;
  padding-top: 2px !important;
  div b {
    background: url('chosen/chosen-sprite.png') no-repeat 0px 5px !important;
  }
}