$brand-primary: #4b627c;
$brand-success: #8dc63f;
$brand-primary-dark: #344b68;
$link-color-primary: #34abec;
$link-color-secondary: #999;
$link-color: $link-color-primary;
$border-color: #dedede;
$block-default: #f2f6fb;
$block-secondary: #ebebeb;
$list-block-icon-background: #448ccb;

$grid-float-breakpoint: 600px;


$label-processed: #acd373;
$label-pending: #ff995c;
$label-approved: #82ca9c;
$label-booked: #6cb6ac;
$label-declined: #FE642E;