/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */


.error {
  background-color: #f7f8fa;
  border-top: 1px solid #dedede;
  margin-top: 109px;
  border-bottom:none;
  min-height: 100%;
  padding-top:0px;

  .errorContent {
    width:auto;
    max-width: 992px;
    margin:0 auto;
    padding-top: 86px;


    .errorImg {
      margin:0 auto;
    }

    .errorInfo {
      text-align: center;

      .bigText {
        font-weight: 900;
        color:#34abec;
        word-wrap: break-word;
      }

      .smallText {
        color:#3f647e;
        display: block;
        font-weight: 900;
        word-wrap: break-word;
      }
    }
  }
}


.error-404 {

  .bigText {
    font-size: 200px;
  }

  .ErrorImg {
    width: 180px;
    height: 176px;
    margin:-132px 6px 0 14px;
  }

  .smallText {
    font-size: 100px;
    line-height: 35px;
    margin-top: -26px;
  }

  .errorContent {
    padding-top:77px;
  }

  .errorText {
    padding-top: 75px;
  }
}

.error-500 {

  .errorInfo {
    margin-top: -57px;
  }

  .bigText {
    font-size: 150px;
    text-transform: uppercase;
    letter-spacing: -8px;
  }

  .smallText {
    font-size: 36px;
    text-align: left;
    text-transform: uppercase;
      margin-top: -77px;
      margin-left: 173px;
      line-height: 37px;
  }

  .ErrorImg {
    width: 219px;
    height: 200px;
    margin:-19px 0 0 17px;
  }

  .errorText{
    padding-top: 46px;
    line-height: 35px;
  }
}

.errorText {
  color:#2c4462;
  width:auto;
  max-width: 992px;


  span {
    display: block;
    text-align: center;
    font-weight: lighter;

    a {
      text-decoration: underline;
    }
  }

  .big {
    font-size: 30px;
  }

  .small {
    font-size: 20px;
    padding-top:12px;

  }
}

//responsive

@media screen and (max-width: 950px) {
  .error-500 {
    .errorContent {
      .errorInfo{
           .smallText{
              margin-left:17%;
          }
      }
    }
  }
 }

 @media screen and (max-width: 500px) {
  .error-404{

    .ErrorImg {
      width:33%;
      height:auto;
      margin-top: -90px;
    }
    .errorContent {
      .errorInfo{
           .smallText{
              line-height: 1;
              font-size: 70px;
          }

          .bigText {
            font-size:130px;
          }
      }
    }
  }
  .error-500 {
    .errorContent {
      .errorInfo{
          .bigText {
            font-size:90px;
          }

      }
    }

  }
 }

@media screen and (max-width: 732px) {

  .error-500 {
    .errorContent {
      .errorInfo{
           .smallText{
              margin-top: 15px;
              text-align: center;
              margin-left:0;
          }
      }
    }

    .errorText {
      .small {
         padding-left: 20px;
          padding-right: 20px;
      }
    }
  }
}

 @media screen and (max-width: 354px) {
  .error-404{
    .errorContent {
      .errorInfo{
           .ErrorImg{
              //margin-top: -38px;
          }
      }
    }
  }
 }
