html{
  font-size: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html,body{
  height: 100%;
  font-size: 100%;
}
body{
  font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-weight: 700;
  margin-top: 0;
  color: $brand-primary;
}

h2{
  font-size: 22px;
  font-weight: normal;
  border-bottom: 1px solid $border-color;
  padding-bottom: 10px;
  margin-bottom: 0;
}

img {
  &.img-inline{
    display: inline-block;
  }
}

ul{
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

a{
  color: $link-color;

  &:hover,
  &:focus{
    text-decoration: none;

    color: darken($link-color, 10%);
  }
  .csstransitions &{
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  i{
    @include rem(margin-top, -4px);
  }
}
button,a{
  &:focus{
    // border: 0;
    outline: none;
  }
  &.link-gray{
    color: #999;

    &:hover,
    &:focus{
      color: darken(#999, 10%);
    }
  }
  &.link-reverse{
    color: white;

    &:hover,
    &:focus{
      color: white;
    }
  }
}
.input-file{
  position: relative;
  overflow: hidden;
  display: block;
  vertical-align: middle;
  margin-left: 0;
  background-color: white;
  @include rem(border-radius, 5px);
  border: 1px solid $border-color;
  text-align: right;

  .custom-file-name{
    float: left;
    @include rem(width, 250px);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
    display: inline-block;
    @include rem(padding, 6px 0 0 12px);
    text-align: left;
  }

  &.input-file-link{
    border: none;

    input[type=file]{
      @include rem(left,-90px);
      @include rem(width,190px);
    }
  }

  .btn{
    &.btn-upload{
      @include rem(min-height,34px);
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      position: relative;
      overflow: hidden;
      
      input.upload{
        position: absolute;
        top: 0;
        right: 0;
        margin: 0;
        padding: 0;
        font-size: 20px;
        cursor: pointer;
        opacity: 0;
        filter: alpha(opacity=0);
      }
    }
  }

  input[type=file]{
   opacity: 0;
   position: absolute;
   z-index: 2;
   top: 0;
   @include rem(left,-70px);
   display: inline-block;
   cursor: pointer;
   @include rem(width,140px);
   height: 100%;
 }
}
form{
  .field_with_errors{
    input, select{
      border-color: lighten($brand-danger, 10%);
      background-color: lighten($brand-danger, 40%);
    }
  }
  #error_explanation{
    @extend .alert;
    @extend .alert-info;
    font-size: 14px;

    h2{
      // @extend .text-info;
      @include rem(font-size,16px);
      font-weight: 700;
      border-bottom: none;
      @include rem(margin-bottom,10px);
    }
    ul{
      list-style-type: disc;
      @include rem(margin-left,20px);
    }
  }
  .form-group:last-child{
    // margin-bottom: 0;
  }
  input, textarea{
    -webkit-font-smoothing: antialiased;
  }
}
.radio-inline + .radio-inline, .checkbox-inline + .checkbox-inline,
.radio-inline + .checkbox-inline, .checkbox-inline + .radio-inline{
  margin-top: 0;
  margin-left: 10px;
}
.form-group{
  @extend .clearfix;

  label{
   @include rem(font-size,14px);
   color: #333;
   font-weight: normal;
 }
}
.input-group{
  i{
    margin: 0;
  }
}
hr{
  border-color: #dedede;
}

.custom-radio,
.custom-checkbox{

  label{
    margin-bottom: 0;
    font-weight: normal;
  }

  input{
    display: none;

    &:checked{
      + span:after{
        @extend .pi;
        @include rem(font-size,20px);
        color: $brand-primary;
        content: "\e608";
        @include rem(padding-left,7px);
        @include rem(padding-top,6px);
      }
    }
  }
  .input-radio,
  .input-checkbox{
    @include rem(width,35px);
    @include rem(height,35px);
    border: 1px solid #ccc;
    border-radius: 50%;
    display: inline-block;
    @include rem(margin-right,5px);
    // @include rem(margin-left,-20px);
    vertical-align: middle;
    background-color: white;

    + i{
      @include rem(margin, -3px 5px 0 0);
      @include rem(font-size, 24px);
      color: $brand-primary;
    }
  }
  .input-checkbox{
    @include rem(border-radius, 5px);
  }
}
.custom-checkbox{
  input{
    &:checked{
      + span:after{
        @extend .pi;
        @include rem(font-size,20px);
        content: "\f00c";
        @include rem(padding-left,6px);
        @include rem(padding-top,4px);
      }
    }
  }
}
.input-group{
  width: 100%;
  .input-icon{
    .input-group-addon{
      position: absolute;
      z-index: 3;
      border: none;
      background: transparent;
      @include rem(padding-left,10px);
      @include rem(padding-top,10px);
      color: #999;
    }
    .form-control{
      border-radius: rem(4px) !important;
      text-indent: 20px;
    }
  }
  &.text-addon{
    display: table;
    .input-group-addon{
      background-color: transparent;
      display: table-cell;
      border: none;
      @include rem(padding-left,10px);
      vertical-align: middle;
    }
    .form-control{
      border-radius: rem(4px) !important;
    }
  }
  &.small{
    input{
      width: 100px;
    }
    .input-group-addon{
      width: 100%;
      text-align: left;
    }
  }
  &.alt{
    .form-control{
      border-radius: rem(4px) !important;
    }
    .input-group-addon{
      border: none;
      background-color: transparent;
      padding-bottom: 0;
      @include rem(padding, 3px 0 0 0);
    }
  }
}
.caret{
  display: inline-block;
  width: 0;
  height: 0;
  @include rem(margin-left, 2px);
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.text-muted{
  color: #666;
}
.text-muted-light{
  color: #999;
}
.tooltip{
  &.top{
    .tooltip-arrow{
      border-top-color: $brand-primary;
    }
  }
  &.left{
    .tooltip-arrow{
      border-left-color: $brand-primary;
    }
  }
  &.bottom{
    .tooltip-arrow{
      border-bottom-color: $brand-primary;
    }
  }
  &.right{
    .tooltip-arrow{
      border-right-color: $brand-primary;
    }
  }
}
.tooltip-inner{
  background-color: $brand-primary;
}
.modal-backdrop{
  z-index: 1030;
}
html.turbolinks-progress-bar::before {
  background-color: $link-color !important;
  height: rem(5px) !important;
}
.glyphicon{
  @extend .fa;
  &.glyphicon-chevron-up {
    @extend .fa-chevron-up;
  }
  &.glyphicon-chevron-down {
    @extend .fa-chevron-down;
  }
  &.glyphicon-chevron-right {
    @extend .fa-chevron-right;
  }
  &.glyphicon-chevron-left {
    @extend .fa-chevron-left;
  }
}