.locations{
  .block{
    min-height: 100px;
  }
  .table{
    tbody{
      > tr{
        transition: background-color 0.3s ease;
        &.selected{
          background-color: lighten($brand-success, 40%);
        }
        > td{
          vertical-align: middle;
        }
      }
    }
  } 
}