.tasks{
  .heading{
    .status-label{
      margin: 5px 0;
      @include rem(margin, 5px 0);
    }
    > .btn{
      @include rem(min-width, 150px);
    }
    .link-edit{
      @include rem(font-size, 14px);

      i{
        // @include rem(margin-top, 3px);
        margin-right: 0;
      }
    }
    .task-detail-description,
    .task-detail-duration{
      color: $brand-primary;
    }
  }

  &.task-new{
    .page-title{
      @include rem(margin-top, 35px);
      @include rem(margin-bottom, 10px);
    }
  }
  &.task-edit{
    @include rem(margin-top, 40px);

    .input-file{
      display: block;
      margin-left: 0;
    }
  }
  .block{
    form{
      @include rem(padding-top, 15px);
      @include rem(padding-bottom, 15px);
    }
  }
  .block-title{
    .label{
      position: relative;
      @include rem(top, -2px);
    }
  }
  .attributes{
    > span{
      color: #999;
      @include rem(font-size, 12px);
      display: inline-block;
      @include rem(margin-right, 10px);

      &:last-child{
        margin-right: 0;
      }
    }
  }
  .expense-import{
    .table{
      th, td{
        @include rem(font-size, 14px);
      }
      td{
        color: $brand-primary;

        input, textarea{
          color: $brand-primary;
          border: none;
          padding: 0;
          box-shadow: none;

          &:focus{
            background-color: lighten(yellow, 40%);
          }
        }
        textarea{
          resize: none;
        }
      }
    }
  }
  .circle-icon{
    @include rem(top, 3px);
    @include rem(left, 0px);
    margin-top: 0;
  }
  .block-body{
    .last-conversation{
      @include rem(padding-left, 50px);
      @include rem(margin-left, 85px);

      &:last-child{
        margin-bottom: 0;
      }

      h4{
        @include rem(margin-bottom, 2px);
      }

      .avatar{
        position: absolute;
        @include rem(left, 15px);
      }
      .msg{
        clear: both;
        display: block;
        margin-bottom: 0;
      }
    }
  }
}

#list-task, .travel-detail {
  thead {
    display: none;
  }
  .table > tbody > tr > td{
    @include rem(padding, 5px 0);
    border: none;
  }
}