.timeoff-policies{
  #tabs{
    margin-left: 0;
    border: 1px solid #dedede;
    @include rem(border-radius, 5px);
    overflow: hidden;
    @include rem(margin-bottom, 30px);
    li{
      padding: 0; 
      a{
        @include rem(padding, 12px 24px);
        display: block;
        border-right: 1px solid #dedede;
      }
      &.active{
        a{
          background-color: $link-color;
          color: white;

          &:hover{
            color: white;
            cursor: default;
          }
        }
      }
      &:last-child{
        a{
          border-right: none;
        }
      } 
    }
  }
  #form-policy-container {
    display: none;
  }

  .block{
    @include rem(min-height, 100px);

    h2{
      @include rem(margin-bottom, 35px);
    }
  }
  .heading{
    padding-left: 0;
    border-right: none;
  }
  .table-view .table > thead > tr > th:last-child{
    min-width: 0;
  }
  tbody{
    tr{
      td{
        vertical-align: middle;
      }
    }
  }
  #tenure{
    .table-view{
      .table{
        background-color: white;
        th{
          width: 25%;
        }
        tr{
          td{
            &:first-child{
              text-align: left;
            }
            input[type=text]{
              @include rem(width, 50px);
              margin: 0 auto;
            }
          }
        }
      }
    }
  }
  #work-schedule{
    .table{
      select{
        @include rem(width, 70px);
        display: inline-block;
      }
    }
    thead{
      tr{
        th{
          &:first-child{
            width: 22%;
          }
          &:last-child{
            width: 15%;
          }
        }
      }
    }
    tbody{
      tr{
        td{
          vertical-align: middle;
        }
      }
    }
  }
}

.errors{
  color: red;
}