<div class="activity">
  <div class="avatar">
    <span class="timestamp">Less than a minute ago</span>
    <div class="avatar-img">
      <img alt="Img avatar" class="img-circle" src="/assets/img-avatar.png">
      <div class="avatar-initials">
        VG
      </div>
    </div>
  </div>
  <div class="block block-default no-border">
    <em>Uploaded the file
      <a href="<%= a.attachment.url %>"><%= File.basename(a.attachment.url) %></a>
      <%# @products.each do |product| %>
        <%#= render partial: "product", locals: { product: product } %>
      <%# end %>
      to the request.
    </em>
  </div>
</div>
