<%= content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render '/private/admin/shared/subnav', active: 'embedded_forms' %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <h4>User Dyno-Forms</h4>
    <table class="table">
      <thead>
        <tr>
          <th>Form ID</th>
          <th>Name</th>
          <th>Actions</th>
        </tr>
      </thead>

      <tbody>
        <% @user_forms.each do |embedded| %>
          <% form = embedded.form  %>

          <tr>
            <td><%= form.id %></td>
            <td><%= form.name %></td>
            <td>
              <%= link_to 'Delete', company_admin_embedded_form_path(embedded), class: 'btn btn-xs btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to 'Add Form', new_company_admin_embedded_form_path(klass: 'User'), class: 'btn btn-primary' %>
  </div>
</div>