<%= content_for :subnav do %>
  <div class="subnav">
    <ul>
      <%= render '/private/admin/shared/subnav', active: 'embedded_forms' %>
    </ul>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6">
    <h4>Add User Dyno-Forms</h4>

    <%= simple_form_for @embedded_form, url: company_admin_embedded_forms_path do |f| %>
      <%= f.hidden_field :klass %>
      <%= f.input :form_id, collection: Form.all.map{|f| [f.name, f.id]}, label: 'Select form to add' %>
      <%= f.submit 'Add', class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>