<form class="comment-input">
  <div class="form-group">
    <textarea type="text" class="form-control" rows= "4" ng-model="comment"></textarea>
  </div>
  <div class="btn btn-primary" ng-click="submitComment()"><%= t('.send') %></div>
  <div class="input-file input-file-link">
    <a href="javascript:void(0);" ng-file-select ng-multiple="true" ng-file-change="uploadAttachment($files)"><i class="pi pi-paperclip"></i> Attach File</a>
  </div>
</form>
