<div class="activity">
  <div class="avatar">
    <span class="timestamp"><%= time_ago_in_words(a.created_at) %></span>
    <div class="avatar-img">
      <%= image_tag( a.owner.nil? ? "img-avatar-default.png" : a.owner.avatar ? a.owner.avatar : "img-avatar-default.png", :class => "img-circle") %>
      <div class="avatar-initials">
        <% if a.owner.present? %>
          <%= a.owner.name.split(' ').map{|w| w.first}.join.upcase %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="block block-default no-border">
    <%= yield %>
  </div>
</div>
