<%= link_to root_path, class: 'brand-logo' do %>
  <div class="logo-container">
    <%= image_tag 'gfx-logo.png', class: 'img-responsive' %>
  </div>
<% end %>

<nav class="sidebar-nav">
  <ul>
    <%= active_link_to raw('<i class="pi pi-home"></i><span>HOME</span>'), dashboard_company_employees_path, :wrap_tag => :li %>
    <%= active_link_to raw('<i class="pi pi-office"></i><span>COMPANY</span>'), company_timeoff_policies_path, :wrap_tag => :li %>
    <%= active_link_to raw('<i class="pi pi-calendar"></i><span>CALENDAR</span>'), company_calendars_path, :wrap_tag => :li %>
    <%= active_link_to raw('<i class="pi pi-tasks"></i><span>TASKS</span>'), company_form_entries_path, :wrap_tag => :li %>
    <%= active_link_to raw('<i class="pi pi-assignment-ind"></i><span>YOU</span>'), edit_user_registration_path, :wrap_tag => :li %>
    <%= active_link_to raw('<i class="pi pi-assignment-ind"></i><span>TIMEOFFS</span>'), company_timeoffs_path, :wrap_tag => :li %>

    <% if current_user.admin? || current_user.corp_admin? %>
      <%= active_link_to raw('<i class="fa fa-cogs"></i>&nbsp;&nbsp;&nbsp;ADMIN'), company_admin_root_path, :wrap_tag => :li %>
    <% end %>
  </ul>
</nav>
