<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="<%= root_url(subdomain: false) %>">
      PandoHR
    </a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><%= link_to 'TOUR', @body_class == "pricing" ? visitors_tour_url(subdomain: false) : '#take-the-tour', class: @body_class == "pricing" ? '' : 'scrollto' %></li>
      <li><%= link_to 'PRICING', visitors_pricing_url(subdomain: false) %></li>
      <li><%= link_to 'CONTACT', '#contact', class: 'scrollto' %></li>
      <% if user_signed_in? %>
        <li><%= link_to raw('Go to PandoHR <i class="fa fa-chevron-right ml10"></i>'), company_company_root_url(subdomain: current_user.company.url), class: 'btn btn-primary' %></li>
      <% else %>
      <li><%= link_to 'SIGNUP', companies_sign_up_path %></li>
      <li><%= link_to 'SIGN IN', new_user_session_path, class: 'btn btn-default' %></li>
      <% end %>
    </ul>
  </div>
</div>