<!-- <a href="javascript:;" class="sidebar-toggle pull-left"><i class="pi pi-menu"></i><i class="pi pi-arrow-forward"></i></a> -->
<% if user_signed_in? %>
  <div class="dropdown pull-right">
    <a href="javascript:;" class="dropdown-toggle">
      <div class="avatar">
        <div class="avatar-img">
          <%= image_tag('img-avatar-default.png', class: "img-circle") %>
          <div class="avatar-initials"><%=current_user.avatar_text%></div>
        </div>
         <%=current_user.name%><span class="caret"></span>
      </div>
    </a>
    <div class="dropdown-menu">
      <div class="arrow"></div>
      <ul>
        <% if user_signed_in? && current_user.admin? %>
            <li><%= link_to 'Admin', '/admin' %></li>
        <% end %>
        <li><%= link_to 'Edit account', edit_user_registration_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
      </ul>
    </div>
  </div>
<% end %>