<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-US" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "PandoHR" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PandoHR" %>">
  <%= stylesheet_link_tag 'application', media: nil, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr/modernizr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "i18n" %>
  <%= csrf_meta_tags %>
  <!--[if lt IE 9 ]>
  <%= javascript_include_tag 'rem.min', 'data-turbolinks-track' => true %>
  <![endif]-->
  <script type="text/javascript">
    I18n.defaultLocale = "en";
    var _csrf ="<%= form_authenticity_token %>";
    var current_user_id = <%= user_signed_in? ? current_user.id : 0 %>;
  </script>
</head>
<body>
  <main role="main">
    <div class="wrapper">
      <aside>
        <%= render 'layouts/aside' %>
      </aside>
      <div class="content">
        <header>
          <%= render 'layouts/header' %>
        </header>
        <div class="main-content">
          <%= render 'layouts/messages' %>
          <%= yield :subnav %>
          <%= yield :breadcrumb %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div>
  </main>
  <%= yield :javascript %>
</body>
</html>
