<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
      <style type="text/css">
         @media screen and (max-width: 620px) {
         .responsiveWidth {
         width:100%;
         }
         .column td:first-child {
         width:3%;
         }
         .column td:nth-of-type(2) {
         width:94%;
         text-align: center;
         }
         .column td:last-child {
         width:3%;
         }
         }
      </style>
   </head>

   <body bgcolor="#f7f8fa" style="margin:0;">
      <table width="100%" height="100%" cellpadding="0" cellspacing="0" bgcolor="#f7f8fa" class="mainTable">
         <tr cellpadding="0" cellspacing="0">
            <td cellpadding="0" cellspacing="0">
               <center>
                  <table width="600" height="132" class="responsiveWidth">
                     <tr cellpadding="0" cellspacing="0" width="100%" height="52">
                        <td cellpadding="0" cellspacing="0" colspan="3"></td>
                     </tr>
                     <tr cellpadding="0" cellspacing="0" width="207" height="46" class="responsiveWidth column">
                        <td cellpadding="0" cellspacing="0" width="196"></td>
                        <td cellpadding="0" cellspacing="0" width="207" >
                           <a href="#" style="width:100%">
                           <%= image_tag 'logo.png', style: "margin:0 auto; display:block;" %>
                           </a>
                        </td>
                        <td cellpadding="0" cellspacing="0" width="197" ></td>
                     </tr>
                     <tr cellpadding="0" cellspacing="0" width:"100%" height="34">
                     <td cellpadding="0" cellspacing="0" colspan="3"></td>
                     </tr>
                  </table>

                  <%= yield %>
               </center>

               <table cellpadding="0" cellspacing="0" height="175" width="100%">
                  <tr cellpadding="0" cellspacing="0" height="47" width="100%">
                     <td cellpadding="0" cellspacing="0" height="47" width="100%"></td>
                  </tr>
                  <tr cellpadding="0" cellspacing="0" height="4" width="100%" backgroung="<%= asset_path('footerBg.png') %>">
                     <td cellpadding="0" cellspacing="0" height="4" width="100%" background="<%= asset_path('footerBg.png') %>"></td>
                  </tr>
                  <tr cellpadding="0" cellspacing="0" height="26" width="100%" >
                     <td cellpadding="0" cellspacing="0" height="26" width="100%"></td>
                  </tr>
                  <tr cellpadding="0" cellspacing="0" height="15" width="100%" >
                     <td cellpadding="0" cellspacing="0" height="15" width="100%" align="center">
                        <span style="text-align:center; color:#999; font-size:13px; font-family:Open Sans">© 2015 Built by PandoHR. All rights reserved.&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="text-decoration:none; color:#999;" >Terms</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="#" style="text-decoration:none; color:#999;" >Privacy</a></span>
                     </td>
                  </tr>
                  <tr cellpadding="0" cellspacing="0" height="75" width="100%" >
                     <td cellpadding="0" cellspacing="0" height="75" width="100%"></td>
                  </tr>
               </table>
            </td>
         </tr>
      </table>
   </body>
</html>