<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "PandoHR" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PandoHR" %>">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'landing', media: nil, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'error', media: 'screen, projection' %>
  <%= javascript_include_tag 'modernizr/modernizr', 'data-turbolinks-track' => true %>
  <!--[if lt IE 9 ]>
  <%= javascript_include_tag 'html5shiv.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'respond', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'rem.min', 'data-turbolinks-track' => true %>
  <![endif]-->
</head>

<body class="landing-main">
  <main role="main">
    <header>
      <nav class="navbar navbar-default <% if @body_class == 'devise' %> navbar-static-top <% else %> navbar-fixed-top <% end %>">
        <%= render 'layouts/header_nav' %>
      </nav>
    </header>

    <%= yield %>
  </main>
</body>
</html>