<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-US" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "PandoHR" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PandoHR" %>">
  <%= stylesheet_link_tag 'application', media: nil, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'modernizr/modernizr', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "i18n" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <main role="main">
    <div class="wrapper">
      <aside>
        <%= link_to root_path, class: 'brand-logo' do %>
        <div class="logo-container">
          <%= image_tag 'gfx-logo.png', class: 'img-responsive' %>
        </div>
        <% end %>

        <nav class="sidebar-nav">
          <ul>
            <%= active_link_to raw('<i class="pi pi-home"></i><span>HOME</span>'), dashboard_company_employees_path, :wrap_tag => :li %>
            <%= active_link_to raw('<i class="pi pi-office"></i><span>COMPANY</span>'), company_timeoff_policies_path, :wrap_tag => :li %>
            <%= active_link_to raw('<i class="pi pi-calendar"></i><span>CALENDAR</span>'), calendar_company_companies_path, :wrap_tag => :li %>
            <%= active_link_to raw('<i class="pi pi-tasks"></i><span>TASKS</span>'), company_form_entry_path, :wrap_tag => :li %>
            <%= active_link_to raw('<i class="pi pi-assignment-ind"></i><span>YOU</span>'), edit_user_registration_path, :wrap_tag => :li %>
          </ul>
        </nav>
      </aside>
      <div class="content">
        <header>
          <%= render 'layouts/header' %>
        </header>
        <div class="main-content">
          <%= yield :subnav %>
          <%= yield :breadcrumb %>
          <%= content_for?(:content) ? yield(:content) : yield %>
        </div>
      </div>
    </div>
  </main>
  <!--[if lt IE 9 ]>
  <%= javascript_include_tag 'rem.min', 'data-turbolinks-track' => true %>
  <![endif]-->
  <%= yield :javascript %>
  <script>
  I18n.defaultLocale = "en";
  </script>
</body>
</html>
