<% content_for :breadcrumb do %>
  <div class="breadcrumb">
    <%= link_to raw('<i class="pi pi-arrow-back"></i> Back to show'), company_timeoff_policies_path %>
  </div>
<% end %>
<% content_for :content do %>
<div class="pages timeoff-policies" ng-cloak="true" ng-controller="PolicyDetailCtrl">
  <div class="heading">
    <h2><%= @timeoff_policy.name %></h2>
  </div>
  <%= render partial: 'private/timeoff_policies/settings/policy_tabs' %>
  <div id="timeoff-policies-detail">
    <%= yield %>
    </div>
</div>

<script type="text/javascript">
  var timeoff_policy = <%=raw @timeoff_policy.to_json(methods: :carry_over_expiration) %>
</script>
<% end %>
<%= render template: "layouts/application" %>
