<!DOCTYPE html>
<!--[if lt IE 7 ]><html lang="en-US" class="ie6"><![endif]-->
<!--[if IE 7 ]><html lang="en-US" class="ie7"><![endif]-->
<!--[if IE 8 ]><html lang="en-US" class="ie8"><![endif]-->
<!--[if IE 9 ]><html lang="en-US" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="en-US"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= content_for?(:title) ? yield(:title) : "PandoHR" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "PandoHR" %>">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag 'landing', media: nil, 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'landing', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "i18n" %>
  <!--[if lt IE 9 ]>
  <%= javascript_include_tag 'html5shiv.min', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'respond', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'rem.min', 'data-turbolinks-track' => true %>
  <![endif]-->
  <%= yield :javascript %>
</head>
<body class="<%= @body_class if @body_class %>">
  <main role="main">
    <header>
      <nav class="navbar navbar-default <% if @body_class == 'devise' %> navbar-static-top <% else %> navbar-fixed-top <% end %>">
        <%= render 'layouts/header_nav' %>
      </nav>
    </header>
    <%= yield %>
    <footer>
      <div class="container-fluid text-center block-center clearfix text-14">
        <span class="text-muted-light">&copy; 2015 Built by PandoHR. All rights reserved.</span>
        <ul class="list-inline">
          <li><%= link_to 'Terms', visitors_terms_path, class: "link-gray" %></li>
          <li><%= link_to 'Privacy', visitors_privacy_path, class: "link-gray" %></li>
        </ul>
      </div>
    </footer>
  </main>
  <%= yield :body_javascript %>
</body>
</html>
