<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p>
  <%= link_to "Click here to finish setting up your account on PandoHr.com",
      confirmation_url(@resource, confirmation_token: @token, :subdomain => @resource.company.url) %>
</p>
