<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <li><%= link_to 'PROFILE', edit_user_registration_path %></li>
      <li><%= link_to 'CHANGE EMAIL', users_change_email_path %></li>
      <li class="active"><%= link_to 'CHANGE PASSWORD', users_change_password_path %></li>
    </ul>
  </div>
<% end %>

<div class="pages user-profile" ng-cloak="true" ng-controller="EmployeeEditCtrl">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <!-- NOTE: Move to a Change Email  partial -->
    <h2>Change Password</h2>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-4">
          <label for="">Current Password</label>
          <input class="form-control" id="user_current_password" name="user[current_password]" type="password">
        </div>
        <div class="col-xs-4">
          <label for="">New Password</label>
          <input autocomplete="off" class="form-control" id="user_password" name="user[password]" type="password">
        </div>
        <div class="col-xs-4">
          <label for="">Confirm Password</label>
          <input class="form-control" id="user_password_confirmation" name="user[password_confirmation]" type="password">
        </div>
      </div>
    </div>
    <div class="form-group">
      <input class="btn btn-md btn-primary" name="commit" type="submit" value="Change Password">
      <a class="btn btn-link link-gray" href="/users/edit">Cancel</a>
    </div>
  <%end%>
</div>