<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <li><%= link_to 'PROFILE', edit_user_registration_path %></li>
      <li class="active"><%= link_to 'CHANGE EMAIL', users_change_email_path %></li>
      <li><%= link_to 'CHANGE PASSWORD', users_change_password_path %></li>
    </ul>
  </div>
<% end %>

<div class="pages user-profile">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f| %>
    <!-- NOTE: Move to a Change Email  partial -->
    <h2>Change Email</h2>
    <div class="form-group">
      <div class="row">
        <div class="col-xs-6">
          <%= f.label :email, 'Current Email' %>
          <%= f.email_field :email, class: 'form-control', disabled: true %>
        </div>
        <div class="col-xs-6">
          <label for="">New Email</label>
          <input autocomplete="off" class="form-control" id="user_email" name="user[email]" type="email">
        </div>
      </div>
    </div>
    <div class="form-group">
      <input class="btn btn-md btn-primary" name="commit" type="submit" value="Save Changes">
      <a class="btn btn-link link-gray" href="/users/edit">Cancel</a>
    </div>
  <%end%>
</div>