<% content_for :subnav do %>
  <div class="subnav">
    <ul>
      <li class="active"><%= link_to 'PROFILE', edit_user_registration_path %></li>
      <li><%= link_to 'CHANGE EMAIL', users_change_email_path %></li>
      <li><%= link_to 'CHANGE PASSWORD', users_change_password_path %></li>
    </ul>
  </div>
<% end %>

<div class="pages user-profile" ng-controller="FormEntryCtrl" ng-cloak="true" ng-init="formel = '#user-form'; answers = <%= @user.properties.to_json %>;  model_object = <%= @user.to_json %>">
  <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :id => 'user-form', :method => :put, :role => 'form'}) do |f| %>
    <!-- // End Change Password -->
    <%= render "shared/user_form" , f: f, devise_scope: true, edit_scope: false, user: current_user, dyno_forms: @dyno_forms %>
  <%end%>
</div>