<% @body_class = "devise" %>
<div class="container-fluid">
  <div class="block block-alt signup">
    <div class="block-body">
      <h2 class="block-title">Sign Up</h2>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :role => 'form', class: 'mt40'}) do |f| %>
        <%= devise_error_messages! %>

        <%= f.fields_for :company, resource.company || Company.new do |f_company| %>
          <div class="form-group">
            <%= f_company.label :name, required: false %>
            <%= f_company.text_field :name, placeholder: 'Your company name', class: 'form-control' %>
          </div>
        <% end %>

        <div class="form-group">
          <%= f.label :email, required: false %>
          <%= f.email_field :email, class: 'form-control', placeholder: 'you@company.com' %>
        </div>

        <div class="clearfix">
          <%= f.submit 'Sign Up', :class => 'btn btn-md btn-primary pull-left' %>
          <div class="pull-right text-12 text-muted mt10">
            Signed up already?
            <%= link_to "Login", new_user_session_path %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
</div>
